<template>
  <div class="myStudents">
	  <div class="container">
		  <div>
				<b-card no-body color="#333">
					<b-tabs pills card>
						<b-tab title="طلابي" active><b-card-text>
							<table>
								<thead>
									<tr>
										<td>#</td>
										<td>الاسم</td>

										<td>العنوان</td>
										<td>النوع</td>
										<td>الهاتف</td>
										<td>اجراءات</td>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(student2,index) in myStudents" :key="student2.id">
										<td> {{index+1}} </td>
										<td> {{student2.name}} </td>

										<td> {{student2.address}} </td>
										<td> {{student2.gender}} </td>
										<td> {{student2.pivot.student_id}} </td>
										<td>
											 <nuxt-link :to="'/students/'+student2.pivot.student_id+'/report'">
												<button class="btn btn-success">تقارير</button>
											</nuxt-link>
										</td>
									</tr>
								</tbody>
							</table>
						</b-card-text></b-tab>

						<b-tab title="أضافة طلاب" ><b-card-text>
							<table>
								<thead>
									<tr>
										<td>الاسم</td>

										<td>العنوان</td>
										<td>الهاتف</td>
										<td>اضافة الي طلابك</td>
									</tr>
								</thead>
								<tbody>
									<tr if="!checkAssigned(student.id)" v-for="(student) in students2" :key="student.id">
										<td> {{student.name}} </td>

										<td> {{student.address}} </td>
										<td> {{student.phone}} </td>
										<td>
											<button @click="followStudent(student.pivot.student_id)" class="btn btn-success">اضافة الي طلابك</button>
										</td>
									</tr>
								</tbody>
							</table>
						</b-card-text>
					</b-tab>

					</b-tabs>
				</b-card>
			</div>
	  </div>
  </div>
</template>

<script>
import API from '../../../jsonfile'

 // Import component
    // import Loading from 'vue-loading-overlay';
    // Import stylesheet
	// import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	//components: {
      //      Loading
       // },
	data(){
		return {

			students2: '',
			select:'',
			selected: [],
			myStudents:'',
			students_empty:'',
		students:{"students":[]},
	}
	},
	created(){
		//let loader = this.$loading.show({});
		API.get('/students').then(res => {
			console.log(res.data)
			return this.students2 = res.data;
		}).catch(err => {
			console.log(err)
		})//.finally(() => {loader.hide();});

		API.get(`/teachers/${this.$route.params.id}/students`).then(res => {
			return this.myStudents = res.data
		}).catch(err => {
			return this.students_empty = err
		})
	},
	methods: {
		followStudent(student_id){
			this.students.students.push({
				"id":student_id
			})
			API.post(`/teachers/${this.$route.params.id}/students`, this.students
			).then(res => {
				this.myStudents = res.data
				console.log(res.data)
			})
		},

		checkAssigned(student_id){
     let student = this.students.filter(function(
          student,
          index
        ) {
          if (
            student.id == student_id
          )
            return student;
        });

        if (student.length > 0) {
            return true;
        }else{
            return false;
        }
}
	}
}

</script>

<style lang="scss">
.nav-pills .nav-link {
    border-radius: 0.25rem;
    color: black;
}
.tabs{
	min-height: 500px;
}
*{
	direction: rtl;
}
.myStudents{
	padding: 41px 0;
    background: #eee;
	h3{
		text-align: center;
		margin-bottom: 30px;
	}
	table{
		width:100%;
		margin: auto;
		text-align: center;
		thead{
			font-weight: bold;
			font-size: 17px;
			td{
				padding: 10px;
			}
		}
		td{
			border: 1px solid #f0a708;
			padding: 5px;
			text-align:center;
		}
	}
	.card-headers{
		    border-bottom: 3px dashed rgba(0, 0, 0, 0.125);
	}

}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color:#f0a708;
}






/* media queries */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {
.myStudents table thead td{
	padding:0;
}
.myStudents td button{
	font-size: 9px;
}
.myStudents table td{
	padding:0;
}
.myStudents table thead{
	font-size: 14px;
}
}
</style>
