<template>
  <div>
	 <div class="colored">
		 <div class="container">


	  <div>
  <div>

<div class="card">
<div class="card-head">
			 			<h6 style="display:inline-block; display: inline-block; font-weight: 400;">قائمة الطلاب</h6>

	 <div class="student-search">
					 <input placeholder='ابحث عن طالب' v-model='searching' v-on:keyUp='getStudentWithSearch' type='text' class='form-control'>

			 </div>
</div>

 <table style="background:#FFF;">
		  <thead>
			  <tr>
				  <td>#</td>


				  <td>الأسم</td>


				  <td>العنوان</td>

				  <td> رقم الهاتف</td>





				  <td> تعديل</td>
			  </tr>
		  </thead>
		  <tbody>

			  <tr v-for="(student,index) in getStudentWithSearch" :key="student.id">
				<td> {{index+1}} </td>
				<td> {{student.name}} </td>
				<td> {{student.address}} </td>
				<td> {{student.phone}} </td>

				<td>
					<nuxt-link :to="'/students/edit/'+student.id">
						<button class="btn btn-success"> تعديل </button>
					</nuxt-link>
				</td>
			  </tr>
		  </tbody>
	  </table>
		</div>
  </div>
</div>
		 </div>
	 </div>
	  <div id="app">
    <!-- Your app stuff here -->
    <vue-snotify></vue-snotify>
  </div>
  </div>
</template>

<script>
import API from  '../../jsonfile.js'

import Snotify from 'vue-snotify'; // 1. Import Snotify
import 'vue-snotify/styles/material.css'; // or dark.css or simple.css

export default {
	data(){
		return{
			studentsData: [],
			 selected: 'name',
			 searching: ''
		}
	},
	methods: {








		},
	computed: {
			getStudentWithSearch: function(){
			return this.studentsData.filter(student => {
				return student.name.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					student.address.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					student.phone.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					student.gender.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					student.created_at.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					student.updated_at.toLowerCase().trim().includes(this.searching.toLowerCase())



	})
		}

	},

	created(){
		return API.get('/students').then(res => {
			return this.studentsData = res.data;
		}).catch(err => {
			this.$snotify.error(err,{
				timeout: 5000
			});
		})
	}
}
</script>

<style lang="scss" scoped>

.card{
	border: 1px solid #eaeaea;
    margin-top: 50px;
    min-height: 492px;
	.card-head{
		    border-bottom: 1px solid #c9c9c9;
    text-align: center;
    /* padding: 10px; */
    background-color: #F7F7F7;
    padding: 6px;
	h6{
		display: inline-block;
    /* font-weight: 400; */
    padding-left: 643px;
    font-size: 17px;
	}
	}
}
.student-search{
	position: relative;
}
.search-selected{
	width: 100px;
    position: absolute;
    top: 0;
    right: -99px;
}
*{
	direction: rtl;
}
table{
	margin: 44px auto;
    width: 97%;
	thead{
		font-weight: bold;
	}
	td{
		text-align: center;
		border:1px solid #ff9508
	}
	button{
		min-width: 71px;
    	margin: 3px 0;
	}
}
.student-title{
	h3{
		text-align: right;
		margin-top: 26px;
		margin-bottom: 15px;
	}
}
.student-search{
	    width: 252px;
    margin: 10px auto;
	display:inline-block
}



/* media queries */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {
.card .card-head h6{
	padding-left:0;
}
.card[data-v-46a44658] {
    border: 1px solid #eaeaea;
    margin-top: 37px;
    min-height: 623px;
}
table{
	margin:63px auto
}
}

</style>
