<template>
  <div>
	 <div class="colored">
		 <div class="container">



 <div>
  <div>

<div class="card">
	<div class="card-head">
			<h6 style="display:inline-block; display: inline-block; font-weight: 400;">قائمة العلمين</h6>

 <div class="teachers-search">
				 <div class="form-groub">
					 <input placeholder="ابحث عن مدرس" v-model="searching" v-on:keyUp="getTeachersWithSearch" type="text" class="form-control">
				 </div>

			 </div>
	</div>

 <table style="background:#FFF;">
		  <thead>
			  <tr>
				  <td>#</td>


				  <td>الأسم</td>


				  <td>العنوان</td>

				  <td> رقم الهاتف</td>





				  <td>حذف | تعديل</td>
			  </tr>
		  </thead>
		  <tbody>
			  <tr v-for="(teacher,index) in getTeachersWithSearch" :key="teacher.id">
				<td> {{index+1}} </td>
				<td> {{teacher.name}} </td>
				<td> {{teacher.address}} </td>
				<td> {{teacher.phone}} </td>

				<td>
					<button class="btn btn-danger"  @click="showConfirmBeforDelete(teacher.id)"> حذف </button>
					<nuxt-link :to="'/teacher/edit/'+teacher.id">
						<button class="btn btn-primary"> تعديل </button>
					</nuxt-link>
				</td>
			  </tr>
		  </tbody>
	  </table>
		</div>
  </div>
</div>
		 </div>
	 </div>
	  <div id="app">
    <!-- Your app stuff here -->
    <vue-snotify></vue-snotify>
  </div>
  </div>
</template>

<script>
import API from  '../../jsonfile.js'

import Snotify from 'vue-snotify'; // 1. Import Snotify
import 'vue-snotify/styles/material.css'; // or dark.css or simple.css

export default {
	data(){
		return{
			teachersData: [],
			 selected: 'name',
			 searching: '',
			options: [
				{ value: 'name', text: 'name' },
				{ value: 'address', text: 'address' },
				{ value: 'user_id', text: 'user_id' },
				{ value: 'phone', text: 'phone' },
				{ value: 'gender', text: 'gender'},

			]
		}
	},
	methods: {


		showConfirmBeforDelete: function(id) {
			console.log(id)

			this.$snotify.confirm('هل تريد الحذف', 'ستيم حذف من الجدول', {
  timeout: 5000,
  showProgressBar: true,
  closeOnClick: true,
  pauseOnHover: true,
  buttons: [
    {text: 'Yes', action: () => {
		return API.delete(`/teachers/${id}`).then(res => {
				this.$snotify.success('حسنا تم الحذف بنجاح',{
					timeout: 5000,
					config: {}
			  });
			  return this.teachersData = res.data;
			}).catch(err => {
					this.$snotify.error('للاسف حصل خطأ ما  ','حاول مرة اخري',{
				timeout: 5000
			});
			})
	}},
    {text: 'No', action: () => console.log('Clicked: No')},

  ]

	  });

		},






		},
	computed: {
			getTeachersWithSearch: function(){
			return this.teachersData.filter(teacher => {
				return teacher.name.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					teacher.address.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					teacher.phone.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					teacher.gender.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					teacher.created_at.toLowerCase().trim().includes(this.searching.toLowerCase()) ||
					teacher.updated_at.toLowerCase().trim().includes(this.searching.toLowerCase())



	})
		}

	},

	created(){
		return API.get('/teachers/').then(res => {
			return this.teachersData = res.data;
		}).catch(err => {
			this.$snotify.error(err,{
				timeout: 5000
			});
		})
	}
}
</script>

<style lang="scss" scoped>

.card{
	border: 1px solid #eaeaea;
    margin-top: 50px;
    min-height: 492px;
	.card-head{
		border-bottom: 1px solid #c9c9c9;
    text-align: center;
    /* padding: 10px; */
    background-color: #F7F7F7;
    padding: 6px;
	h6{
		display: inline-block;
    /* font-weight: 400; */
    padding-left: 643px;
    font-size: 17px;
	}
	}
}
.teachers-search{
	position: relative;
}
.search-selected{
	width: 100px;
    position: absolute;
    top: 0;
    right: -99px;
}
*{
	direction: rtl;
}
table{
	margin: 72px auto;
	background: rgb(255, 255, 255);
    width: 97%;
	margin: 48px auto;
	thead{
		font-weight: bold;
	}
	td{
		text-align: center;
		padding: 7px;
		border:1px solid #ff9508
	}
	tbody{
		font-family: arial !important;
	}
	button{
		min-width: 71px;
    	margin: 3px 0;
	}
}
.teacher-title{
	h3{
		text-align: right;
		margin-top: 26px;
		margin-bottom: 15px;
	}
}
.teachers-search{
	   width: 252px;
    margin: 10px auto;
	display:inline-block
}



/* media queries */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {
.card .card-head h6{
	padding-left:0;
}
.card {
    border: 1px solid #eaeaea;
    margin-top: 37px;
    min-height: 623px;
}
table{
	margin:63px auto
}
}
</style>
