<template>
 <div class="login">
	 <div class="container">
		 <div class="login-form col-md-6">
					<form action="" @submit.prevent="submited">
						<div class="login-for-avatar">
						<img src="../../assets/female-user.png">
					</div>
					<div class="login-inputs">
						<h6>تسجيل مدرس جديد</h6>
						<div class="row">
							<div class="col-md-6">
								<div class="form-groub">
									<input type="text" v-model="form.name" class="form-control" placeholder="الاسم">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-groub">
									<input type="text" v-model="form.userName" class="form-control" placeholder="الاسم بالكامل">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-groub">
									<input type="text" v-model="form.address" class="form-control" placeholder="العنوان">
								</div>
							</div>

							<div class="col-md">
								<div class="form-groub">
									<input type="tel" v-model="form.phone" class="form-control" id="phone" name="phone" placeholder="الهاتف" required>
								</div>
							</div>

							<div class="col-md">
								<div class="form-groub">
									<select class="gen" v-model="form.gender">
										<option value="male">ذكر</option>
										<option value="female">انثي</option>
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-groub">
									<input type="email" v-model="form.email" class="form-control" placeholder="البريد الالكتروني">
								</div>
							</div>



							<div class="col-md-6">
								<div class="form-groub">
									<input type="password" v-model='form.password' class="form-control" placeholder="الرقم السري">
								</div>
							</div>


						</div>


						<div class="form-groub text-center">
							<input value="Login" type="submit">
						</div>
					</div>

					</form>
		 </div>
	 </div>
	 <div id="app">
    <!-- Your app stuff here -->
    <vue-snotify></vue-snotify>
  </div>
 </div>
</template>

<script>

import axios from 'axios'
import API from '../../jsonfile'

import Snotify from 'vue-snotify'; // 1. Import Snotify
import 'vue-snotify/styles/material.css'; // or dark.css or simple.css





export default {


	data(){
		return {
			form:{
	"name":'',
 	"address":"",
  "phone":"",
	"userName":"",
	"password":"",
	"email":"",
 	"role":"2",
  "gender":"male"
}
		}
	},
	methods: {
		submited: function(){
			API
            .post("/teachers", this.form)
            .then(response => {
				console.log(response.data);
				this.$router.push({path: "/teacher"})
				this.$snotify.success('حسنا تم اضافة مدرس جديد','نجحت العملية ',{
					timeout: 5000,
					config: {}
	  });
	  })
            .catch(e => {

				this.$snotify.error('للاسف حصل خطأ ما  ','حاول مرة اخري',{
				timeout: 5000
			});
              console.log(e);
            });
		}
	}


}
</script>

<style lang="scss" scoped>
.gen{
	display: block;
    width: 100%;
    height: 38px;
    border-radius: 5px;

}
.form-groub{
	margin-bottom: 15px !important;
}
.login-for-avatar{
	 width: 91px;
    top: -50px;
    margin: auto;
    left: 50%;
    background: rgb(67, 62, 54);
    border-radius: 50%;
	img{
		width:100%;
		height: 100%;
	}
}
.login{
	color:#FFF;
	    position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../../assets/banner.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 3;
	.login-form{
		    padding: 23px 19px 30px;
		position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    background: rgba(51, 51, 51, .9);
	}
	&::after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		background-color: rgba(255, 149, 8, .25);
		content: '';
	}
}

h6{
		display: inline-block;
		margin: 16px 0;
    width: 100%;
    text-align: center;
	}

.form-groub{
	margin: 23px 0 0;
	&:last-of-type{
		margin: 0;
	}
	input[type='submit']{
		    width: 100%;
    padding: 10px;
    background: #f0a708;
    border: 0;
    color: #FFF;
    font-weight: bold;
	    margin-top: 23px;
	}
}

</style>
