<template>
  <div class="reports">
	    <div>
			<b-card no-body>
				<b-tabs card>
				<b-tab title="خطة تعديل السلوك" active>
					<b-card-text>
						<div>
							<b-tabs content-class="mt-3" align="center">
								<b-tab title="اسابق" active>
									<div class="container">
										<div class="prevOccupatinal">
											<table>
												<thead>
													<tr>
														<td> الاسم </td>
														<td> طباعة </td>
													</tr>
													<tr v-for="stu in prevStudentBehaviorPlans" :key="stu.id">
														<td> {{stu.name}} </td>
														<td>
															<nuxt-link :to="'/students/'+stu.id+'/print/behavior-modification-plan'">
																<button class="btn btn-success">طباعة</button>
															</nuxt-link>
														</td>

													</tr>
												</thead>
											</table>
										</div>
									</div>
								</b-tab>
								<b-tab title="اضافة">
									<!-- Start Of ADDDDDDDDDDDDDDDDDDDDDD behavior Notifications -->
										<div class="container">
											<div class="behavior-plan">
												<div class="intro">
													<h3>خطة تعديل السلوك
														<i class="fas fa-heart"></i>
													</h3>
												</div>

												<form action="" @submit.prevent="behaviorModificationSubmit()">
															<div class="row">
													<div class="col-md-12 behavior-plan-title">
														<h6>معلومات عن الحالة ؟</h6>
													</div>
													<b-form-group
														id="fieldset-horizontal"
														class="col-md-6 mr-auto"
														description="من فضلك ادخل الاسم ثلاثي "

														>
														<input v-model="behaviorModificationForm.name" placeholder="الاسم " class="textbox-n form-control" type="text" >
													</b-form-group>

													<b-form-group
														id="fieldset-horizontal"
														class="col-md-6 mr-auto"
														description="من فضلك ما هو اسم المركز "

														>
														<input v-model="behaviorModificationForm.centerName" placeholder="اسم المركز" class="textbox-n form-control" type="text" >
													</b-form-group>

													<b-form-group
														id="fieldset-horizontal"
														class="col-md-6 mr-auto"
														description="من فضلك ادخل العمر "

														>
														<input v-model="behaviorModificationForm.age" placeholder="العمر " class="textbox-n form-control" type="text" >
													</b-form-group>

													<b-form-group
														id="fieldset-horizontal"
														class="col-md-6 mr-auto"
														description="ماهو اسم معدل السلوك "

														>
														<input v-model="behaviorModificationForm.behaviorRateName" placeholder="اسم معدل السلوك" class="textbox-n form-control" type="text" >
													</b-form-group>

													<b-form-group
														id="fieldset-horizontal"
														class="col-md-6 mr-auto"
														description="ماهو الجنس ذكر | انثي "

														>
														<input v-model="behaviorModificationForm.gender" placeholder="الجنس" class="textbox-n form-control" type="text" >
													</b-form-group>


													<b-form-group
														id="fieldset-horizontal"
														class="col-md-6 mr-auto"
														description="ادخل تاريخ اعداد الخطة تغير السلوك "

														>
														<input v-model="behaviorModificationForm.planPreparingDate" placeholder="تاريخ اعداد الخطة" class="textbox-n form-control" type="text" onfocus="(this.type = 'date')" onblur="(this.type='text')" >
													</b-form-group>

													<div class="descriptions col-md-12">
															<div class="col-md-12 behavior-plan-title">
														<h6>معلومات عن الحالة ؟</h6>
													</div>
														<div class="row">
															<div class="col-md-4">
																<b-form-group
																	class="mb-0"
																	label="اولا :- تحديد سلوك المستهدف "
																	label-for="one-textarea"
																	description="يتم تحديد سلوك المستهدف هنا"
																	>
																<b-form-textarea
																id="one-textarea"
																placeholder=" اضغط للكتابة"
																rows="3"
																no-resize
																v-model="behaviorModificationForm.targetedBehaviorDetermine"
															></b-form-textarea>
															</b-form-group>
															</div>


													<div class="col-md-4">
														<b-form-group
																	class="mb-0"
																	label="تانيا :- تعريف سلوك المستهدف "
																	label-for="two-textarea"
																	description="يتم تعريف السلوك المستهدف هنا"
																	>
																<b-form-textarea
																id="two-textarea"
																placeholder="اضغط للكتابة "
																rows="3"
																no-resize
																v-model="behaviorModificationForm.targetedBehaviorDefine"
															></b-form-textarea>
															</b-form-group>
															</div>


													<div class="col-md-4">
														<b-form-group
																	class="mb-0"
																	label="ثالثا :- قياس السلوك المستهدف"
																	label-for="three-textarear"
																	description="يتم قياس السلوك المستهدف هنا"
																	>
																<b-form-textarea
																id="three-textarea"
																placeholder="اضغط للكتابة"
																rows="3"
																no-resize
																v-model="behaviorModificationForm.targetedBehaviorMeasure"
															></b-form-textarea>
															</b-form-group>
															</div>

															<b-form-group
														id="fieldset-horizontal"
														class="col-md-4 mr-auto"
														description="اذكر مدة حدوث هذا السلوك "

														>
														<input v-model="behaviorModificationForm.behaviorDuration" placeholder="مدة الحدوث" class="textbox-n form-control" type="text" >
													</b-form-group>
										<b-form-group
														id="fieldset-horizontal"
														class="col-md-4 mr-auto"
														description="اذكر نسبة حدوث هذا السلوك "

														>
														<input v-model="behaviorModificationForm.behaviorRatePercent"  placeholder="نسبة حدوث السلوك" class="textbox-n form-control" type="text" >
													</b-form-group>
										<b-form-group
														id="fieldset-horizontal"
														class="col-md-4 mr-auto"
														description="مدة الملاحظة لهذا السلوك"

														>
														<input v-model="behaviorModificationForm.behaviorObservationDuration" placeholder="مدة الملاحظة" class="textbox-n form-control" type="text" >
													</b-form-group>

														</div>
													</div>


												<div class="text-ariea col-md-12">
												<div class="row">
													<div class="two-tables col-md-12">
														<div class="row">
										<div class="col-md-12 behavior-plan-title">
														<h6>رابعا :- التحليل الوظيفي للسلوك</h6>
													</div>
															<div class="col-md-6">
																	<b-form-group
																	class="mb-0"

																	description=" ما هو التحليل الوظيفي لهذا السلوك (المثيرات القبلية)"
																	>
																<b-form-textarea
																id="textarea-no-resize"
																placeholder="المثيرات القبلية "
																rows="3"
																no-resize
																 v-model="behaviorModificationForm.tribalStimuli"
															></b-form-textarea>
															</b-form-group>
															</div>

																<div class="col-md-6">
																	<b-form-group
																	class="mb-0"
																	description=" ما هو التحليل الوظيفي لهذا السلوك (المثيرات البعيدية)"
																	>
																<b-form-textarea
																id="textarea-no-resize"
																placeholder="المثيرات البعيدية  "
																rows="3"
																no-resize
																v-model="behaviorModificationForm.distantStimuli"
															></b-form-textarea>
															</b-form-group>
															</div>
														</div>
													</div>


										<div class="col-md-12 behavior-plan-title">
														<h6>خامسا :- تغير خطة العلاج </h6>
													</div>


													<div class="col-md-12">
															<b-form-group
																	class="mb-0"
																	description="من فضلك ادخل قيمة معدل السلوك"
																	>
													<b-form-textarea
													id="textarea-no-resize"
													placeholder="أ - معدل السلوك   "
													rows="3"
													no-resize
													v-model="behaviorModificationForm.behaviorRate"
												></b-form-textarea>
												</b-form-group>
												</div>

												<div class="col-md-6">
													<b-form-group
																	class="mb-0"
																	description="من فضلك ادخل المشاركون و وظيفتهم "
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="ب - المشاركون ووظيفتهم"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.participantsAndTheirJobs"
												></b-form-textarea>
												</b-form-group>
												</div>

													<div class="col-md-6">
														<b-form-group
																	class="mb-0"
																	description="اذكر ما الزمان و المكان لتطبيق خظة التعديل "
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="ج - الزمان و المكان لتطبيق خطة تعديل السلوك"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.timeAndPlaceToApply"
												></b-form-textarea>
												</b-form-group>
												</div>

												<div class="col-md-6">
													<b-form-group
																	class="mb-0"
																	description="حدد ما هي المعززات للتعديل السلوك"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="د - تحديد المعززات "
													rows="3"
													no-resize
													v-model="behaviorModificationForm.identifyReinforcements"
												></b-form-textarea>
												</b-form-group>
												</div>

												<div class="col-md-6">
													<b-form-group
																	class="mb-0"
																	description="ما هي اجراءات خفض السلوك او العقاب"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="تحديد اجاراءات خفض السلوك  (العقاب)"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.identifyBehaviorReduction"
												></b-form-textarea>
												</b-form-group>
												</div>

												<div class="col-md-6">
													<b-form-group
																	class="mb-0"
																	description="ماهي تحديد جداول التعزيز "
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder=" (متصل | متقطع) تحديد جداول التعزيز "
													rows="3"
													no-resize
													v-model="behaviorModificationForm.identifyReinforcementSchedules"
												></b-form-textarea>
												</b-form-group>
												</div>

												<div class="col-md-6">
													<b-form-group
																	class="mb-0"
																	description="ما هي التعزيزات و العقاب في حالو فشل الاجراءات السابقة"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="ز - المعززات و العقاب البديل في حال فشل الاجراءات السابقة "
													rows="3"
													no-resize
													v-model="behaviorModificationForm.alternativePunishment"
												></b-form-textarea>
												</b-form-group>
												</div>

												<div class="col-md-12">
													<b-form-group
																	class="mb-0"
																	description="ماهي مبررات تعديل السلوك لهذه الحاله"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="س - مبررات تعديل السلوك لهذه الحالة"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.justificationsForBehaviorModification"
												></b-form-textarea>
												</b-form-group>
												</div>

												<div class="col-md-12">
													<div class="col-md-12 behavior-plan-title">
														<h6>سادسا:- تنفيذ خطة العلاج</h6>
													</div>
													<b-form-group
																	class="mb-0"
																	description="تنفيذ خطة العلاج"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="تنفيذ خطة العلاج "
													rows="3"
													no-resize
													v-model="behaviorModificationForm.implementationOfTheTreatmentPlan"
												></b-form-textarea>
												</b-form-group>
												</div>

												<div class="col-md-12">
													<div class="col-md-12 behavior-plan-title">
														<h6>سابعا :-تقييم فاعلية برنامج العلاج </h6>
													</div>
													<b-form-group
																	class="mb-0"
																	description="ادخل تقيم فاعلية برنامج العلاج"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="تثييم فاعلية برنامج العلاج"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.evaluatingTheEffectiveOfTreatment"
												></b-form-textarea>
												</b-form-group>
												</div>


												<div class="col-md-12">
													<div class="col-md-12 behavior-plan-title">
														<h6>ثامنا :- تلخيص نتائج و كتابة التقرير</h6>
													</div>

													<div class="row">
														<b-form-group
																	class="col-md-6"
																	description="من فضلك ادخل معلومات عن الحالة"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="معلومات عن الحالة"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.patientInformation"
												></b-form-textarea>
												</b-form-group>

													<b-form-group
																	class="col-md-6"
																	description="اذكر مببرات خظه التعيل و ماهو السلوك المرغوب به"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="مبررات تطبيق خظة تعديل السلوك وما هو السلوك المشكل و السلوك الموغوب به"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.justificationForImplementing"
												></b-form-textarea>
												</b-form-group>

													<b-form-group
																	class="col-md-6"
																	description="ماهي هي النتائج قبل و بعد القياس"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="عرض نتائج التقرير ما قبل القياس و بعد القياس"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.evaluationResultsBeforeAndAfter"
												></b-form-textarea>
												</b-form-group>

													<b-form-group
																	class="col-md-6"
																	description="اذكر ما التوصيات و الاطراف المشاركة"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="التوصيات للمعدل ولاطراف المشاركة"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.averageRecommendations"
												></b-form-textarea>
												</b-form-group>

													<b-form-group
																	class="col-md-6"
																	description="ادخل الخلاصة"
																	>
												<b-form-textarea
													id="textarea-no-resize"
													placeholder="الخلاصة"
													rows="3"
													no-resize
													v-model="behaviorModificationForm.Summary"
												></b-form-textarea>
												</b-form-group>
													</div>
												</div>


												</div>


												</div>
												</div>
												<div>
													<input type="submit" value="اضافة" class="btn btn-success">
												</div>
												</form>
											</div>
										</div>

									<!-- End OF ADDDDDDDDDDDDDDDDDDDDDD behavior Notificaions -->
								</b-tab>

							</b-tabs>
						</div>
					</b-card-text>
				</b-tab>


				<b-tab title="التواصل">
					<b-card-text>
						<!-- Start Of Communications -->
						<div>
							<b-tabs content-class="mt-3" align="center">
								<b-tab title="السابق" active>
									<div class="container">
										<div class="prevOccupatinal">
											<table>
												<thead>
													<tr>
														<td> الاسم </td>
														<td> طباعة </td>
													</tr>
													<tr v-for="stu in prevStudentCommunications" :key="stu.id">
														<td> {{stu.name}} </td>
														<td>
															<nuxt-link :to="'/students/'+stu.id+'/print/communication'">
																<button class="btn btn-success">طباعة</button>
															</nuxt-link>
														</td>

													</tr>
												</thead>
											</table>
										</div>
									</div>
								</b-tab>
								<b-tab title="اضافة">
									<div class="container">
										<div class="communication">
		<form action="" @submit.prevent="communicationSubmit()">
			  <div class="row">
			  <div class="col-md-12 communication-title text-center">
				  <h3>النطق و التواصل
					  <i class="fas fa-heart"></i>
				  </h3>
			  </div>
			  <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الاسم ثلاثي "

                  >
                  <input v-model="communicationForm.name" placeholder="اسم الطالب " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ الميلاد الطالب"

                  >
                  <input v-model="communicationForm.birthDate" placeholder="تاريخ الميلاد" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الجنس ذكر | انثي  "

                  >
                  <input v-model="communicationForm.gender" placeholder="الجنس " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ كتابة هذا التقرير "

                  >
                  <input v-model="communicationForm.reportWriteDate" placeholder="تاريخ كتابة التقرير" class="textbox-n form-control" type="text" onfocus="(this.type = 'date')" onblur="(this.type='text')">
            </b-form-group>


			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-12 mr-auto"
                  description="هذا التقيم تم باستخدام تقييم رسمي هو ABLLS"

                  >
                  <input v-model="communicationForm.ABLLSRate" placeholder="تقييم ABLLS" class="textbox-n form-control" type="text" >
            </b-form-group>
			<div class="col-md-12">
				<h6>تقييم غير رسمي يشمل المهارات الوظيفية و الاداء السلوكي</h6>
			</div>
			<div class="col-md-12">
				<div class="row">
					 <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الللغة الاستقبالية للطالب"

							>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="اللغة الاستقبالية"
					rows="3"
					no-resize
					v-model="communicationForm.receptiveLanguage"
				></b-form-textarea>
				</b-form-group>

					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي التقليد الشفوي للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="التقليد الشفوي"
					rows="3"
					no-resize
					v-model="communicationForm.oralTradition"
				></b-form-textarea>
				</b-form-group>

					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي طلب الحاجيات للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="طلب الحاجيات"
					rows="3"
					no-resize
					v-model="communicationForm.requirementsRequest"
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي التسمية للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder=" التسمية"
					rows="3"
					no-resize
					v-model="communicationForm.label"
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي تكويين الاسئلة و المقاطع للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="تكويين الاسئلة و المقاطع"
					rows="3"
					no-resize
					v-model="communicationForm.createQuestionsAndSyllables"
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي الجهاز النظقي للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="الجهاز النطقي"
					rows="3"
					no-resize
					v-model="communicationForm.speechSystem"
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي  الاداء السلوكي للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder=" الاداء السلوكي"
					rows="3"
					no-resize
					v-model="communicationForm.behavioralPerformance"
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي المهارات الوظيفية للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="المهارات الوظيفية "
					rows="3"
					no-resize
					v-model="communicationForm.jobSkills"
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي  ملاحظاتك الفاحص للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder=" ملاحظاتك الفاحص "
					rows="3"
					no-resize
					v-model="communicationForm.examinerNotes"
				></b-form-textarea>
				</b-form-group>
				</div>

				<div>

					<input type="submit" class="btn btn-success" value="اضافة">
				</div>

			</div>



		  </div>
		</form>
    </div>
									</div>
								</b-tab>
							</b-tabs>
						</div>

						<!-- End Of Communications -->
					</b-card-text>
				</b-tab>






				<b-tab title="تقييم الاداء الحالي">
					<b-card-text>
						<!-- Start Of Communications -->
						<div>
							<b-tabs content-class="mt-3" align="center">
								<b-tab title="السابق" active>
									<div class="container">
										<div class="prevOccupatinal">
											<table>
												<thead>
													<tr>
														<td> الاسم </td>
														<td> طباعة </td>
													</tr>
													<tr v-for="stu in prevStudentCommunications" :key="stu.id">
														<td> {{stu.name}} </td>
														<td>
															<nuxt-link :to="'/students/'+stu.id+'/print/performanceRate'">
																<button class="btn btn-success">طباعة</button>
															</nuxt-link>
														</td>

													</tr>
												</thead>
											</table>
										</div>
									</div>
								</b-tab>
								<b-tab title="اضافة">
									<div class="container">
										<div class="communication">
		<form action="" @submit.prevent="performanceRate()">
			  <div class="row">
			  <div class="col-md-12 communication-title text-center">
				  <h3>تقييم الاداء الحالي
					  <i class="fas fa-heart"></i>
				  </h3>
			  </div>
			  <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الاسم ثلاثي "

                  >
                  <input v-model="performanceReport.name" placeholder="اسم الطالب " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ الميلاد الطالب"

                  >
                  <input v-model="performanceReport.birthDate" placeholder="تاريخ الولادة" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ التقييم"

                  >
                  <input v-model="performanceReport.ratingDate" placeholder="تاريخ التقييم" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ الالتحاق بالمركز"

                  >
                  <input v-model="performanceReport.joinigDate" placeholder="تاريخ الالتحاق بالمركز" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل اسم المعلم/ة "

                  >
                  <input v-model="performanceReport.teacherName"  placeholder="اسم المعلم/ة " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ كتابة هذا التقرير "

                  >
                  <input v-model="performanceReport.writingDate" placeholder="تاريخ كتابة التقرير" class="textbox-n form-control" type="text" onfocus="(this.type = 'date')" onblur="(this.type='text')">
            </b-form-group>


			<div class="col-md-12">
				<div class="row">
					<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="ادخل ملاحظاتك علي مستوي الطالب من 1 الي 5"

                  >
                  <input v-model="performanceReport.level"  placeholder="مستوي الطالب" class="textbox-n form-control" type="number" max="5" min="1">
            </b-form-group>

					<b-form-group
									class="col-md-6"
									description="اذا كان الطالب مستوي متقدم "
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="مستوي متقدم"
					rows="3"
					no-resize
					v-model="performanceReport.advancedLevel"
				></b-form-textarea>
				</b-form-group>
				</div>

				<table>
					<thead>

					</thead>
					<tbody>

					</tbody>
				</table>

				<div>

					<input type="submit" class="btn btn-success" value="اضافة">
				</div>

			</div>



		  </div>
		</form>
    </div>
									</div>
								</b-tab>
							</b-tabs>
						</div>

						<!-- End Of Communications -->
					</b-card-text>
				</b-tab>






				<b-tab title="الخطة الشهرية">
					<b-card-text>
						<!-- Start Of Month Plan -->
							<div>
								<b-tabs content-class="mt-3" align="center">
									<b-tab title="السابق" active>
										<div class="container">
										<div class="prevOccupatinal">
											<table>
												<thead>
													<tr>
														<td> الاسم </td>
														<td> طباعة </td>
													</tr>
													<tr v-for="stu in prevStudentMonthPlans" :key="stu.id">
														<td> {{stu.name}} </td>
														<td>
															<nuxt-link :to="'/students/'+stu.id+'/print/month-plan'">
																<button class="btn btn-success">طباعة</button>
															</nuxt-link>
														</td>

													</tr>
												</thead>
											</table>
										</div>
									</div>
									</b-tab>
									<b-tab title="اضافة">
										  <div class="container">
    <div class="form">

<form-wizard
	title="الخطة الشهرية"
	subtitle="•	سيتم كذلك مراجعة الأهداف بشكل دوري كل 3 أشهر , لكن ليس من المتوقع أن يتقن أو ينهي الطالب جميع الأهداف خلال هذه المدة."
	color="#FF9508"
	step-size="sm"
	@on-complete="monthPlanSubmit"
	back-button-text="السابق"
	next-button-text="التالي"
	finish-button-text="حسنا"
	>
     <tab-content title="معلومات الطالب"
                  icon="fas fa-users">

        <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل اسم الطالب"
          class="col-md-6"
          >
            <b-form-input v-model="monthPlanForm.name"  id="input-horizontal" placeholder="اسم الطالب"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطالب"
          >
            <b-form-input v-model="monthPlanForm.age" id="input-horizontal" placeholder="العمر الزمني "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description=" من فضلك ادخل اسم معلم الطالب"

          >
          <input v-model="monthPlanForm.teacher_name" placeholder="اسم المعلم" class="textbox-n form-control" type="text">
          </b-form-group>
          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6"
          description="من فضلك اكتب تاريخ كتابة هذا التقرير"

          >
          <input v-model="monthPlanForm.donne_at" placeholder="التاريخ" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
        </b-form-group>


        <div class="plane-name">
          <div class="plan-name">
            <h3>الخظة الفردية</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الجانب"
            rows="3"
            no-resize
			v-model="monthPlanForm.individualPlanAspect"
          ></b-form-textarea>

          </div>
          </div>

          <div class="col-md-6">
            <div class="intro">
            <b-form-textarea
              id="textarea-no-resize"
              placeholder="الاهداف"
              rows="3"
              no-resize
			  v-model="monthPlanForm.individualPlanGoals"
            ></b-form-textarea>

          </div>
          </div>
          <div class="col-md-2 button-add">
            <button class="btn btn-warning" >اضافة خطة</button>
          </div>
        </div>
        </div>

          </div>

     </tab-content>
     <tab-content title="الخدمات المساندة"
                  icon="far fa-user">
        <div class="plane-name">
          <div class="plan-name">
            <h3>النطق و اللغة</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="اسم البرنامج"
            rows="3"
            no-resize
			v-model="monthPlanForm.pronunciationAndLanguageProgram"
          ></b-form-textarea>

          </div>
          </div>

          <div class="col-md-6">
            <div class="intro">
            <b-form-textarea
              id="textarea-no-resize"
              placeholder="الاهداف"
              rows="3"
              no-resize
			  v-model="monthPlanForm.pronunciationAndLanguageGoals"
            ></b-form-textarea>

          </div>
          </div>
          <div class="col-md-2 button-add">
            <button class="btn btn-warning" >اضافة خطة</button>
          </div>
        </div>
        </div>
     </tab-content>
     <tab-content title="العلاج الوظيفي"
                  icon="fas fa-user-tie">
         <div class="plane-name">
          <div class="plan-name">
            <h3>العلاج الوظيفي</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="المجال"
            rows="3"
            no-resize
			v-model="monthPlanForm.occupationalTherapyDomain"
          ></b-form-textarea>

          </div>
          </div>

          <div class="col-md-6">
            <div class="intro">
            <b-form-textarea
              id="textarea-no-resize"
              placeholder="الهدف"
              rows="3"
              no-resize
			  v-model="monthPlanForm.occupationalTherapyGoals"
            ></b-form-textarea>

          </div>
          </div>
          <div class="col-md-2 button-add">
            <button class="btn btn-warning" >اضافة خطة</button>
          </div>
        </div>
        </div>
     </tab-content>

 </form-wizard>


    </div>
  </div>
									</b-tab>
								</b-tabs>
							</div>

						<!-- End Of Month Plan -->
					</b-card-text>
				</b-tab>
				<b-tab title="التقرير الشهري">
					<b-card-text>
						<div>
							<b-tabs content-class="mt-3" align="center">
								<b-tab title="السابق" active>
									<div class="container">
										<div class="prevOccupatinal">
											<table>
												<thead>
													<tr>
														<td> الاسم </td>
														<td> طباعة </td>
													</tr>
													<tr v-for="stu in prevStudentMonthReports" :key="stu.id">
														<td> {{stu.name}} </td>
														<td>
															<nuxt-link :to="'/students/'+stu.id+'/print/monthForm'">
																<button class="btn btn-success">طباعة</button>
															</nuxt-link>
														</td>

													</tr>
												</thead>
											</table>
										</div>
									</div>
								</b-tab>
								<b-tab title="اضافة">
									<!-- Add Month Form -->
										  <div class="container">
    <div class="form">

<form-wizard title="التقرير الشهري" subtitle="اضافة تقرير شهري لهذا الطالب"  color="#FF9508" step-size="xs" @on-complete="monthReportsSubmit" back-button-text="السابق"
	next-button-text="التالي" finish-button-text="حسنا"
>
     <tab-content title="النطق و التواصل"
                  icon="fas fa-users">

        <div class="row">


        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="المجال"
            rows="2"
            no-resize
			v-model="monthReportsForm.communicationDomain"
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاهداف"
            rows="2"
            no-resize
			v-model="monthReportsForm.communicationGoal"
          ></b-form-textarea>

        </div>
        </div>





         <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الملاحظات"
            rows="2"
            no-resize
			v-model="monthReportsForm.communicationFeedback"
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-radio-group v-model="monthReportsForm.communicationDomainIsCompleted"  color="#DDD" :options="options2" :state="communicationDomainIsCompletedState" >

          </b-form-radio-group>

        </div>
        </div>

        <div class="col-md-3">
          <div class="intro">
          <b-form-radio-group v-model="monthReportsForm.communicationDomainIsDone" color="#DDD" :options="options" :state="communicationDomainIsDoneState" >

          </b-form-radio-group>

        </div>
        </div>

        <button class="add-item btn btn-warning">Add  <i class="fas fa-user-plus"></i></button>

          </div>

     </tab-content>
     <tab-content title="التدريب"
                  icon="far fa-user">
       <div class="row">


        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="المجال"
            rows="2"
            no-resize
			v-model="monthReportsForm.domain"
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاهداف"
            rows="2"
            no-resize
			v-model="monthReportsForm.mainGoal"
          ></b-form-textarea>

        </div>
        </div>





         <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الملاحظات"
            rows="2"
            no-resize
			v-model="monthReportsForm.feedback"
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-radio-group v-model="monthReportsForm.isCompleted"  color="#DDD" :options="options2" :state="isCompletedState">

          </b-form-radio-group>

        </div>
        </div>

        <div class="col-md-3">
          <div class="intro">
          <b-form-radio-group v-model="monthReportsForm.isDone" color="#DDD" :options="options" :state="isDoneState">

          </b-form-radio-group>

        </div>
        </div>

        <button class="add-item btn btn-warning">Add  <i class="fas fa-user-plus"></i></button>

          </div>
     </tab-content>
     <tab-content title="العلاج الوظيفي"
                  icon="fas fa-user-tie">
    <div class="row">


        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="المجال"
            rows="2"
            no-resize
			 v-model="monthReportsForm.occupationalTherapyDomain"
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاهداف"
            rows="2"
            no-resize
			v-model="monthReportsForm.occupationalTherapyGoal"
          ></b-form-textarea>

        </div>
        </div>





         <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الملاحظات"
            rows="2"
            no-resize
			v-model="monthReportsForm.occupationalTherapyFeedback"
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-radio-group v-model="monthReportsForm.occupationalTherapyIsDone" warning  color="#DDD"  :options="options2" :state="occupationalTherapyIsDoneState">

          </b-form-radio-group>

        </div>
        </div>

        <div class="col-md-3">
          <div class="intro">
          <b-form-radio-group v-model="monthReportsForm.occupationalTherapyNotDone" color="#DDD" :options="options" :state="occupationalTherapyNotDoneState">

          </b-form-radio-group>

        </div>
        </div>

        <button class="add-item btn btn-warning">Add  <i class="fas fa-user-plus"></i></button>

          </div>
     </tab-content>
      <tab-content title="تعديل السلوك"
                  icon="fas fa-user-tie">
                   <div class="col-md-12">
          <div class="intro text-right">
            <b-row>
    <b-col sm="12">
      <label for="textarea-small">تعديل السلوك:</label>
    </b-col>
    <b-col sm="12">
      <b-form-textarea
        id="textarea-small"
        size="sm"
        placeholder=""
        no-resize
        rows="6"
		v-model="monthReportsForm.behaviorModification"
      ></b-form-textarea>
    </b-col>
  </b-row>
        </div>
        </div>
      </tab-content>

 </form-wizard>


    </div>
  </div>
									<!-- End Of Month Form -->
								</b-tab>
							</b-tabs>
						</div>
					</b-card-text>
				</b-tab>
				<b-tab title="التقرير النمائي">
					<b-card-text>
						<div>
							<b-tabs content-class="mt-3" align="center">
								<b-tab title="السابق" active>
										<div class="container">
										<div class="prevOccupatinal">
											<table>
												<thead>
													<tr>
														<td> الاسم </td>
														<td> طباعة </td>
													</tr>
													<tr v-for="stu in prevDevelopmentReport" :key="stu.id">
														<td> {{stu.name}} </td>
														<td>
															<nuxt-link :to="'/students/'+stu.id+'/print/developmentReport'">
																<button class="btn btn-success">طباعة</button>
															</nuxt-link>
														</td>

													</tr>
												</thead>
											</table>
										</div>
									</div>
								</b-tab>
								<b-tab title="اضافة">
									<!-- Start Of Development Report -->
										  <div class="container">
    <div class="form">

<form-wizard @on-complete="developmentReportSubmit" back-button-text="السابق"
	next-button-text="التالي"  title="التقرير الشهري" subtitle="اضافة تقرير نمائي لهذا الطالب"  finish-button-text="حسنا"   color="#FF9508" step-size="xs">
     <tab-content title="معلومات الطالب"
                  icon="fas fa-users">

        <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل اسم الطالب"
          class="col-md-6"
          >
            <b-form-input v-model="developmentReport.name" id="input-horizontal" placeholder="اسم الطالب"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطالب"
          >
            <b-form-input v-model="developmentReport.age" id="input-horizontal" placeholder="العمر الزمني "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description=" من فضلك ادخل تاريخ ميلاد الطالب"

          >
          <input  v-model="developmentReport.birthDate" placeholder="تاريخ الميلاد" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6"
          description="من فضلك اكتب تاريخ كتابة هذا التقرير"

          >
          <input  v-model="developmentReport.donne_at"  placeholder="تاريخ كتابة التقرير" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
        </b-form-group>

        <div class="col-md-6">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الولادة و التاريخ الطبي"
            rows="3"
            no-resize
			v-model="developmentReport.medicalHistory"
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-6">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="ملاحظات الاهل "
            rows="3"
            no-resize
			v-model="developmentReport.familyFeedback"
          ></b-form-textarea>

        </div>
        </div>

          </div>

     </tab-content>
     <tab-content title="التقييم الغير رسمي"
                  icon="far fa-user">
       <div class="unform">
         <div class="row">
              <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="ملاحظات الاهل "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>


         <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الملاحظات السلوكية "
            rows="3"
            no-resize
			v-model="developmentReport.behavioralNotes"
          ></b-form-textarea>
         </div>

         <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="المهارات الاستقلاليه  "
            rows="3"
            no-resize
			v-model="developmentReport.independenceSkills"
          ></b-form-textarea>
         </div>

         <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="التفاعل الاجتماعي "
            rows="3"
            no-resize
			v-model="developmentReport.socialInteraction"
          ></b-form-textarea>
         </div>

         <div class="col-md-12">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="المهارات الادراكية "
            rows="3"
			v-model="developmentReport.cognitiveSkills"
            no-resize
          ></b-form-textarea>
         </div>
         </div>
       </div>
     </tab-content>
     <tab-content title="التقييم الرسمي"
                  icon="fas fa-user-tie">
       <div class="unmain-test">
         <div class="unmain-test-title">
           <h3>الاختبار الفرعي</h3>
         </div>

        <div class="row">
           <b-col md="6" class="mb-2">
            <label for="sb-disabled">السلوكيات النمطيه</label>
            <b-form-spinbutton v-model="developmentReport.stereotypedBehaviorsDegree" id="sb-disabled" ></b-form-spinbutton>
          </b-col>

          <b-col md="6" class="mb-2">
            <label for="sb-disabled"> التواصل</label>
            <b-form-spinbutton v-model="developmentReport.communicationDegree" id="sb-disabled"></b-form-spinbutton>
          </b-col>

          <b-col md="12" class="mb-2">
            <label for="sb-disabled"> التفاعل الاجتماعي</label>
            <b-form-spinbutton v-model="developmentReport.socialInteractionDegree" id="sb-disabled"></b-form-spinbutton>
          </b-col>

        </div>

        <div class="autism-Index">
          <div class="autism-index-title">
            <h3>مؤشر التوحد</h3>
          </div>
             <div class="row">
               <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="نقاط القوة  "
            rows="3"
            no-resize
			v-model="developmentReport.strengthPoint"
          ></b-form-textarea>
         </div>

          <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="نقاط الضعف  "
            rows="3"
            no-resize
			v-model="developmentReport.weakPoints"
          ></b-form-textarea>
         </div>
             </div>

        </div>
       </div>
     </tab-content>
      <tab-content title="برنامج تعديل السلوك"
                  icon="fas fa-user-tie">
          <div class="edit-behavior">
            <div class="edit-behavior-title">
              <h3>برنامج تعديل السلوك</h3>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <label for="range-1"> أحتمالية التوحد  {{ developmentReport.autismLevel + '%'}} </label>
                <b-form-input v-model="developmentReport.autismLevel"  id="range-1" type="range" min="0" max="100"></b-form-input>
              </div>
               <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="السلوكيات بناء علي رصد السلوك"
            rows="3"
            no-resize
			v-model="developmentReport.behaviorsHeHave"
          ></b-form-textarea>
         </div>

          <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="التوصيات العامة"
            rows="3"
			v-model="developmentReport.generalRecommendations"
            no-resize
          ></b-form-textarea>
         </div>
            </div>
          </div>
      </tab-content>
 </form-wizard>


    </div>
  </div>
									<!-- End Of Development Report -->

								</b-tab>
							</b-tabs>
						</div>
					</b-card-text>
				</b-tab>
				 <b-tab title="تقييم العلاج الوظيفي" >
					 <!-- Start of بداية العلاج الوظيفي -->
						<div>
							<b-tabs content-class="mt-3" align="center">
								<b-tab title="السابق">
									<div class="container">
										<div class="prevOccupatinal">
											<table>
												<thead>
													<tr>
														<td> الاسم </td>
														<td> طباعة </td>
													</tr>
													<tr v-for="stu in prevStudentOccupational" :key="stu.id">
														<td> {{stu.name}} </td>
														<td>
															<button class="btn btn-success">طباعة</button>
														</td>

													</tr>
												</thead>
											</table>
										</div>
									</div>
								</b-tab>
								<b-tab title="اضافة">
										<div class="container">
		<div class="communication">
		 <form action="" @submit.prevent="occupationalTherapySubmit">
			  <div class="row">
			  <div class="col-md-12 communication-title text-center">
				  <h3>تقييم العلاج الوظيفي
					  <i class="fas fa-heart"></i>
				  </h3>

			  </div>
			  <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الاسم ثلاثي "

                  >
                  <input v-model="occupationalTherapyForm.name" placeholder="اسم الطالب " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ الميلاد الطالب"

                  >
                  <input v-model="occupationalTherapyForm.birthDate"  placeholder="تاريخ الميلاد" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الجنس ذكر | انثي  "

                  >
                  <input v-model="occupationalTherapyForm.gender" placeholder="الجنس " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ كتابة هذا التقرير "

                  >
                  <input  v-model="occupationalTherapyForm.donne_at" placeholder="تاريخ كتابة التقرير" class="textbox-n form-control" type="text" onfocus="(this.type = 'date')" onblur="(this.type='text')">
            </b-form-group>


			<div class="col-md-12 first-title">
				<h6>مهارات الحياة اليومية</h6>
			</div>

			<div class="col-md-12">
				<div class="row">
				 <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الاكل للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاكل | الطعام"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.eating"
          ></b-form-textarea>
		   </b-form-group>

		   	 <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي اللبس للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="اللبس "
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.dressing"
          ></b-form-textarea>
		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك النظافة الشخصية للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="استخدام الحمام و العناية بالنظافة الشخصية"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.toiletingAndHygiene"
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي اللعب للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" اللعب"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.playFunction"
          ></b-form-textarea>
		   </b-form-group>

			<div class="col-md-12 communication-title">
				<h6>القدرات العقلية للطالب</h6>
			</div>
		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الانتباه للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الانتباه"
            rows="3"
			v-model="occupationalTherapyForm.attention"
            no-resize
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الذاكرة للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" الذاكرة"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.memory"
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الوظائف الحركيه و التخطيط الحركي للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" الوظائف العقلية للتتابع الحركيو التخطيط الحركي"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.motorPlanning"
          ></b-form-textarea>
		   </b-form-group>

		   <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي العواطف و السلوكيات للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" العواطف و السلوكيات"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.emotionsAndBehaviors"
          ></b-form-textarea>
		   </b-form-group>

		   <div class="col-md-12 communication-title">
				<h6>الوظائف الحسية و الشعور بالالم</h6>
			</div>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي مهارات الشم و التذوق للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="مهارات الشم و التذوق"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.smellAndTasteSkills"
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي  المهارات و القدرات البصرية للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" المهارات و القدرات البصرية "
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.visionAndRelatedFunctions"
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الوظاف الخاصة الاحساس بالدوران و الموقع بالفراغ للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الوظاف الخاصة الاحساس بالدوران و الموقع بالفراغ"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.vestibularFunctions"
          ></b-form-textarea>
		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الاحساس بالمفاصل و مدي الضغط عليها للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاحساس بالوظائف و مدي الضغظ عليها"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.proprioceptionFunctions"
          ></b-form-textarea>

		   </b-form-group>

		     <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الاحساس الوظائف السمعيه للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الوظائف السمعيه"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.auditoryFunctions"
          ></b-form-textarea>

		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي وظائف الاحساس اللمسي الجلدي للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="وظائف الاحساس اللمسي الجلدي"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.tactileFunctions"
          ></b-form-textarea>

		   </b-form-group>


		     <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي التكامل الحسي و المعالجةالحسية للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="التكامل الحسي و المعالجة الحسية"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.sensoryProcessing"
          ></b-form-textarea>

		   </b-form-group>


		   <div class="col-md-12 communication-title">
				<h6>القدرات العقلية للطالب</h6>
			</div>



			   <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي المهارات الحركية الدقيقة للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="المهارات الحركية الدقيقة"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.fineMotorSkills"
          ></b-form-textarea>

		   </b-form-group>


		      <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي المهارات الحركية الكبيرة للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="المهارات الحركية الكبيرة"
            rows="3"
            no-resize
			v-model="occupationalTherapyForm.grossMotorSkills"
          ></b-form-textarea>

		   </b-form-group>
			<input type="submit" class="btn btn-success" value="اضافة">


			</div>
			</div>


		  </div>
		 </form>
    </div>
	</div>
								</b-tab>
							</b-tabs>
						</div>
					 <!-- End of بداية العلاج الوظيفي -->


				 </b-tab>




				</b-tabs>




			</b-card>

		</div>
  </div>
</template>

<script>
//global registration
import VueFormWizard from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

//local registration
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import API from '../../../jsonfile'
//component code
export default {
	 computed: {
		occupationalTherapyNotDoneState: function(){
			return Boolean(this.monthReportsForm.occupationalTherapyNotDone)
		},
		occupationalTherapyIsDoneState: function(){
			return Boolean(this.monthReportsForm.occupationalTherapyIsDone)
		},
		isDoneState: function(){
			return Boolean(this.monthReportsForm.isDone)
		},
		isCompletedState: function(){
			return Boolean(this.monthReportsForm.isCompleted)
		},
		communicationDomainIsDoneState: function(){
			return Boolean(this.monthReportsForm.communicationDomainIsDone)
		},
		communicationDomainIsCompletedState: function(){
			return Boolean(this.monthReportsForm.communicationDomainIsCompleted)
		}
    },
	data(){
		return{
			skillsCat: [],
			prevStudentOccupational:"",
			prevStudentCommunications:"",
			prevStudentMonthPlans:"",
			prevStudentBehaviorPlans:"",
			prevStudentMonthReports:"",
			prevDevelopmentReport:"",
        form: {
          email: '',
          name: '',
          checked: [],

        },
			 value: null,
        options: [
          { text: 'اتقن', value: '1' },
          { text: 'لا', value: '0' },
        ],
        value2: null,
        options2: [
          { text: 'مستمر', value: '1' },
          { text: 'لا', value: '0' },
        ],
        form: {
          email: '',
          name: '',
          checked: [],

        },
        show: true,
			communicationForm:{
				"student_id": this.$route.params.id,
				"name":"",
				"birthDate":"",
				"gender":"",
				"reportWriteDate":"",
				"ABLLSRate":"",
				"receptiveLanguage":"",
				"oralTradition":"",
				"requirementsRequest":"",
				"label":"",
				"createQuestionsAndSyllables":"",
				"speechSystem":"",
				"behavioralPerformance":"",
				"jobSkills":"",
				"examinerNotes":""
			},
			monthPlanForm: {
				"student_id":this.$route.params.id,
				"name":"",
				"age":'',
				"teacher_name": "",
				"donne_at": "",
				"individualPlanAspect": "",
				"individualPlanGoals":"",
				"pronunciationAndLanguageProgram":"",
				"pronunciationAndLanguageGoals":"",
				"occupationalTherapyDomain":"",
				"occupationalTherapyGoals":""
			},
			occupationalTherapyForm:{
				"student_id":this.$route.params.id,
				"name":"",
				"birthDate":"",
				"gender":"",
				"donne_at":"",
				"eating":"",
				"dressing":"",
				"toiletingAndHygiene":"",
				"playFunction":"",
				"attention ":"",
				"memory":"",
				"motorPlanning":"",
				"behavioralPerformance":"",
				"emotionsAndBehaviors":"",
				"smellAndTasteSkills":"",
				"visionAndRelatedFunctions":"",
				"vestibularFunctions":"",
				"proprioceptionFunctions":"",
				"auditoryFunctions":"",
				"tactileFunctions":"",
				"sensoryProcessing":"",
				"fineMotorSkills":"",
				"grossMotorSkills":""
			},
			behaviorModificationForm:{
				"student_id":this.$route.params.id,
				"name":"",
				"age":"",
				"behaviorRateName":"",
				"gender":"",
				"planPreparingDate":"",
				"centerName":"",
				"targetedBehaviorDetermine":"",
				"targetedBehaviorDefine":"",
				"targetedBehaviorMeasure":"",
				"behaviorDuration":"",
				"behaviorRatePercent":"",
				"behaviorObservationDuration":"",
				"tribalStimuli":"",
				"distantStimuli":"",
				"behaviorRate":"",
				"participantsAndTheirJobs":"",
				"timeAndPlaceToApply":"",
				"identifyReinforcements":"",
				"identifyBehaviorReduction":"",
				"identifyReinforcementSchedules":"",
				"alternativePunishment":"",
				"justificationsForBehaviorModification": "",
				"implementationOfTheTreatmentPlan": "",
				"evaluatingTheEffectiveOfTreatment":"",
				"patientInformation":"",
				"justificationForImplementing":"",
				"evaluationResultsBeforeAndAfter":"",
				"averageRecommendations":"",
				"Summary":""
			},
			monthReportsForm: {
				"student_id":1,
				"name":"ahmed",
				"mainGoal":"",
				"individualPlanGoals":"",
				"isDone":1,
				"isCompleted":0,
				"communicationDomain":"",
				"communicationGoal":"",
				"communicationDomainIsDone":1,
				"communicationDomainIsCompleted":1,
				"communicationFeedback":"",
				"occupationalTherapyDomain":"",
				"occupationalTherapyGoal":"",
				"occupationalTherapyFeedback":"",
				"occupationalTherapyIsDone":1,
				"occupationalTherapyNotDone":0,
				"behaviorModification":""
			},
			performanceReport:{

				"student_id":this.$route.params.id,
				"name":"zxcv",
				"teacherName":"dddd",
				"ratingDate":"2020-05-20",
				"birthDate":"2000-01-01",
				"diagnosis":"",
				"joinigDate":"2020-01-01",
				"level":"3",
				"advancedLevel":"",
				"generalFeedback":"",
				"ratingGroub_teacherName":"",
				"ratingGroub_specialistName":"",
				"ratingGroub_parentis":"",
				"student_skills":[{
					"skill_id":1,
					"canDo":1,
					"level":"",
					"notes":""

				},
				{
					"skill_id":2,
					"canDo":1,
					"level":"3",
					"notes":"notes"

				}]

			},
			developmentReport: {
				"student_id":this.$route.params.id,
				"name":"",
				"age":"",
				"birthDate":"",
				"donne_at":"",
				"medicalHistory":"",
				"familyFeedback":"",
				"behavioralNotes":"",
				"independenceSkills":"",
				"socialInteraction":"",
				"cognitiveSkills":"",
				"stereotypedBehaviorsDegree":"",
				"communicationDegree":"",
				"socialInteractionDegree":"",
				"autismIndex":"",
				"strengthPoint":"",
				"weakPoints":"",
				"finalDegree":"",
				"autismLevel":"",
				"behaviorsHeHave":"",
				"generalRecommendations":"",
				"BasedOnResultsWeRecommend":""
			}
		}
	},
 components: {
      FormWizard,
  TabContent
	},
	methods:{
		communicationSubmit: function(){
			return API.post('students/'+this.$route.params.id+'/communication', this.communicationForm)
					.then(res => {
						this.prevStudentCommunications = res.data
						return console.log(this.communicationForm)
					})
		},
		monthPlanSubmit: function(){
			return API.post('students/'+this.$route.params.id+'/month-plan',this.monthPlanForm)
					.then(res =>{
						this.prevStudentMonthPlans = res.data
						return console.log(this.monthPlanForm)
					})
		},
		occupationalTherapySubmit: function(){
			return API.post('students/'+this.$route.params.id+'/occupational-therapy',this.occupationalTherapyForm)
					.then(res =>{
						this.prevStudentOccupational = res.data
						return console.log(this.occupationalTherapyForm)
					})
		},
		behaviorModificationSubmit: function(){
			return API.post('students/'+this.$route.params.id+'/behavior-modification-plan',this.behaviorModificationForm)
			.then(res => {
				this.prevStudentBehaviorPlans = res.data
				return console.log(this.behaviorModificationForm)
			})
		},
		monthReportsSubmit: function(){
			return API.post('students/'+this.$route.params.id+'/month-report',this.monthReportsForm)
			.then(res => {
				this.prevStudentMonthReports = res.data
				return console.log(this.monthReportsForm)
			})
		},

		developmentReportSubmit: function(){
			API.post('students/'+this.$route.params.id+'/development-report',this.developmentReport)
			.then(res => {
				this.prevDevelopmentReport = res.data
			})
		}
	},
	created(){

			let getCate = () => {
			this.skillsCat.map(function(value, key) {
           value['skills'].map(function(skill, key) {
               skill['skill_id']=skill['id'];
               skill['canDo']='';
               skill['level']='';
               skill['notes']='';
		   });
          })
		}


		// student-occupational-therapies
		API.get('student-occupational-therapies/'+this.$route.params.id)
		.then(res => {
			this.prevStudentOccupational = res.data
			console.log(res.data)
		})

		// student-communications
		API.get('student-communications/'+this.$route.params.id)
		.then(res => {
			this.prevStudentCommunications = res.data
			console.log(res.data)
		})

		// student-month-plans
		API.get('student-month-plans/'+this.$route.params.id)
		.then(res => {
			this.prevStudentMonthPlans = res.data
			console.log(res.data)
		})

		// student-behavior-plans
		API.get('student-behavior-plans/'+this.$route.params.id)
		.then(res => {
			this.prevStudentBehaviorPlans = res.data
			console.log(res.data)
		})

		// student-month-reports
		API.get('student-month-reports/'+this.$route.params.id)
		.then(res => {
			this.prevStudentMonthReports = res.data
			console.log(res.data)
		})

		// development-report


	}
}
</script>

<style lang="scss">
.nav-tabs .nav-link {

    color: #333;
}
*{
	direction: rtl;
	text-align: right;
}
.vue-form-wizard .wizard-card-footer{
	padding:0;
}
.color{
	    background: #f4f4f4;
    padding: 43px 0;
}

.wizard-nav{
	    direction: ltr;
}
.behavior-plan{

	border: 1px solid #333;
    padding: 15px;
    background: #FFF;


  .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;

  }

  .intro{
       text-align: right;
    padding-bottom: 26px;
    padding-top: 8px;
    p{
      margin-bottom: 50px;
    }
    h3{
     width: 259px;
    color: #ff9508;
    margin: 32px auto 44px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
      i{
            position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
    }
       &::before{
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: -7px;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
    }
}
.behavior-plan-title{
	text-align: right;
    padding:16px 6px 6px;
}

.text-ariea{
	margin-top: 20px;
	textarea{
		margin: 10px 0;
	}
	.two-tables{
		    margin-bottom: 20px;
    margin-top: 46px;
	}
}

}

.prevOccupatinal{
	table{
		margin: auto;
		tr{
			td{
				padding: 10px 60px;
				border: 1px solid #ff9508;
				text-align: center;
			}
		}
	}
}

.color{
	    background: #f4f4f4;
    padding: 43px 0;
}

 .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;


  }
h6{
	margin-top: 25px;
    margin-bottom: 13px;
}
.communication{
	border: 1px solid #333;
	padding:40px 15px;
	background: #FFF;
	.communication-title{
		padding:15px 0;
		h3{
			width: 259px;
    color: #ff9508;
    margin: 32px auto 44px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
			i{
            position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
    }
			&::before{
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: -7px;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
		}
	}
}



/* media queries */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {
	.nav-tabs .nav-item {
		margin-bottom: -1px;
		width: 100%;
		text-align: center;
		margin: auto;
	}
	.prevOccupatinal table{
		margin:auto;
		width: 100%;
	}
	.prevOccupatinal table tr td{
		padding:10px 0;
	}
	.vue-form-wizard .stepTitle{
		font-size: 8px;
    margin-top: 12px;
	}
	textarea{
		margin:10px 0;
	}
	.intro{
		textarea{
			    margin: 10px 0;
		}
	}
	.add-item.btn{
		margin: 15px 20px;
	}
	.vue-form-wizard .category{
		margin:20px 0;
	}
	.card .card-head h6{
		padding-left:0;
	}
}





/* media queries */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {
	.communication .communication-title h3{
		width:auto;
	}
	.behavior-plan .intro h3{
		width:auto
	}
	.nav .nav-tabs .card-header-tabs{
		padding:0;
	}

}


</style>
