<template>
  <div>
	  <div class="footer">
		  <div class="container">
			<h6> جميع الحقوق محفوظة للمركز ال </h6>
		  </div>
	  </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.footer{
	background-color: #dd922f;
	padding:15px 0;
	text-align: center;
	color: #FFF;
	position: relative;
    bottom: 0;
    width: 100%;
}
</style>
