<template>
  <div>
	  <div>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">
		<nuxt-link :to="'/'">
				  <img src="../assets/download.png" alt="">
		</nuxt-link>
	</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
 <b-nav-item href="#">
			<nuxt-link :to="'/students'">
				  جميع الطلاب
			  </nuxt-link>
		</b-nav-item>
        <b-nav-item href="#">
			<nuxt-link :to="'/students/new'">
				  اضافة طالب
			  </nuxt-link>
		</b-nav-item>

        <b-nav-item href="#">
			<nuxt-link :to="'/teacher'">
				  قائمة المدرسين
			  </nuxt-link>
		</b-nav-item>
        <b-nav-item href="#">
			<nuxt-link  :to="'/teacher/new'">
				  اضافة مدرس
			  </nuxt-link>
		</b-nav-item>
        <b-nav-item href="#">
			 <nuxt-link  :to="'/teacher/1/students'">
				  طلابي
			  </nuxt-link>
		</b-nav-item>


      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</div>
  </div>
</template>

<script>
export default {

}
</script>

<style>
nav{
	direction: rtl;
	position:relative;
	text-align: center;
}
nav img{
	    width: 53px;
    height: 45px;
}
nav a{
	color:#FFF
}
nav a:hover{
	color:#FFF
}
.bg-info{
	background-color: #dd922f !important;
}
.navbar-brand a{
	color: #FFF;
}
a{
	text-decoration: none;
}

</style>
