<template>
 <div class="login">
	 <div class="container">
		 <div class="login-form col-md-6">
					<form action="" @submit.prevent="submited($route.params.id)">
						<div class="login-for-avatar">
						<img src="../../../../assets/female-user.png">
					</div>
					<div class="login-inputs">
						<h6>تعديل بيانات مدرس</h6>
						<div class="row">
							<div class="col-md-6">
								<div class="form-groub">
									<input type="text" v-model="teacher.name" class="form-control" placeholder="الاسم">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-groub">
									<input type="text" v-model="teacher.email" class="form-control" placeholder="البريد الالكتروني">
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-groub">
									<input type="text" v-model="teacher.address" class="form-control" placeholder="العنوان">
								</div>
							</div>

							<div class="col-md-3">
								<div class="form-groub">
									<input type="tel" v-model="teacher.phone" class="form-control" id="phone" name="phone" placeholder="الهاتف"  required>
								</div>
							</div>

							<div class="col-md-3" >
								<div class="form-groub">
									<select name="gender" id="gender" placeholder="gender" v-model="teacher.gender">
										<option value="male">ذكر</option>
										<option value="female">انثي</option>
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<div class="form-groub">
									<input type="password" v-model="teacher.password" class="form-control" placeholder="تأكيد كلمة السر">
								</div>
							</div>



							<div class="col-md-6">
								<div class="form-groub">
									<input type="password" v-model='teacher.password' class="form-control" placeholder="كلمة السر">
								</div>
							</div>


						</div>


						<div class="form-groub">
							<input value="تعديل البيانات" type="submit">
						</div>
					</div>

					</form>
		 </div>
	 </div>
	 <div id="app">
    <!-- Your app stuff here -->
    <vue-snotify></vue-snotify>
  </div>
 </div>
</template>

<script>

import axios from 'axios'
import API from '../../../../jsonfile.js'

import Snotify from 'vue-snotify'; // 1. Import Snotify
import 'vue-snotify/styles/material.css'; // or dark.css or simple.css





export default {
	data(){
		return {
			teacher: '',
			form:{
	"name":'',
 	"address":"",
  "phone":"",
	"userName":"",
	"password":"",
	"email":"",
 	"role":"2",
  "gender":"ذكر"
}
		}
	},

	created(){
		return API.get('/teachers/').then(res => {
			return this.teacher = res.data.find(e => {
				return e.id == this.$route.params.id
			})
		})
	},



	methods: {
		submited: function(id){
			console.log(id)
			this.$snotify.confirm('تأكد من حفظ البيانات', 'هل تريد تغير بيانات هذا العضو', {
			timeout: 5000,
			showProgressBar: true,
			closeOnClick: true,
			pauseOnHover: false,

			buttons: [
				{text: 'Yes', action: () => {
					return API.put(`/teachers/${id}`,this.teacher).then(res => {
							this.$snotify.success('حسنا تم التغير بنجاح',{
								timeout: 5000,
								config: {}
						});
						this.$router.push('/teacher/')
						}).catch(err => {
								this.$snotify.error('للاسف حصل خطأ ما  ','حاول مرة اخري',{
							timeout: 5000
						});
						})
				}},
				{text: 'No', action: () => console.log('Clicked: No')},

			]

	  });
		}
	}

}
</script>

<style lang="scss" scoped>
.form-groub{
	margin-bottom: 15px !important;
}
select{
	    width: 100%;
    height: 38px;
    border-radius: 4px;
    outline: 0;
    color: #505356;
}
.login-for-avatar{
	 width: 91px;
    top: -50px;
    margin: auto;
    left: 50%;
    background: rgb(67, 62, 54);
    border-radius: 50%;
	img{
		width:100%;
		height: 100%;
	}
}
.login{
	color:#FFF;
	    position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		background-image: url('../../../../assets/banner.jpg');
	.login-form{
		    padding: 23px 19px 30px;
		position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    background: rgba(51, 51, 51, .9);

	}
	&::after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		background-color: rgba(255, 149, 8, .25);
		content: '';
	}
}

h6{
		display: inline-block;
		width:100%;
		text-align:center;
	}

.form-groub{
	margin: 23px 0 0;
	&:last-of-type{
		margin: 0;
	}
	input[type='submit']{
		    width: 100%;
    padding: 10px;
    background: #f0a708;
    border: 0;
    color: #FFF;
    font-weight: bold;
	    margin-top: 23px;
	}
}

</style>
