<template>
  <div class="myStudents">
	  <div class="container">
		  <div>
				<b-card no-body color="#333">
					<b-tabs pills card>
						<b-tab title="طلابي" active><b-card-text>
							<table>
								<thead>
									<tr>
										<td>الترتيب</td>
										<td>الاجراءات</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td> التقرير النمائي </td>

										<td>
											 <nuxt-link :to="'/students/'+this.$route.params.id+'/print/developmentReport'">
												<button class="btn btn-success">طباعة</button>
											</nuxt-link>
										</td>
									</tr>

										<tr>
										<td> تقرير تعديل السلوك </td>

										<td>
											 <nuxt-link :to="'/students/'+this.$route.params.id+'/print/behavior-modification-plan'">
												<button class="btn btn-success">طباعة</button>
											</nuxt-link>
										</td>
									</tr>
										<tr>
										<td> تقرير النطق و التواصل </td>

										<td>
											 <nuxt-link :to="'/students/'+this.$route.params.id+'/print/communication'">
												<button class="btn btn-success">طباعة</button>
											</nuxt-link>
										</td>
									</tr>
										<tr>
										<td> التقرير الشهري </td>

										<td>
											 <nuxt-link :to="'/students/'+this.$route.params.id+'/print/monthForm'">
												<button class="btn btn-success">طباعة</button>
											</nuxt-link>
										</td>
									</tr>
										<tr>
										<td> تقرير الخطة الشهرية  </td>

										<td>
											 <nuxt-link :to="'/students/'+this.$route.params.id+'/print/month-plan'">
												<button class="btn btn-success">طباعة</button>
											</nuxt-link>
										</td>
									</tr>
										<tr>
										<td> العلاج الوظيفي </td>

										<td>
											 <nuxt-link :to="'/students/'+this.$route.params.id+'/print/occupational-therapy'">
												<button class="btn btn-success">طباعة</button>
											</nuxt-link>
										</td>
									</tr>
										<tr>
										<td> تقييم الاداء الحالي </td>

										<td>
											 <nuxt-link :to="'/students/'+this.$route.params.id+'/print/performanceRate'">
												<button class="btn btn-success">طباعة</button>
											</nuxt-link>
										</td>
									</tr>
								</tbody>
							</table>
						</b-card-text></b-tab>
					</b-tabs>
				</b-card>
			</div>
	  </div>
  </div>
</template>

<script>
import API from '../../../../../jsonfile'

 // Import component
    // import Loading from 'vue-loading-overlay';
    // Import stylesheet
	// import 'vue-loading-overlay/dist/vue-loading.css';

export default {
	//components: {
      //      Loading
       // },
	data(){
		return {

			students2: '',
			select:'',
			selected: [],
			myStudents:'',
			students_empty:'',
		students:{"students":[]},
	}
	},
	created(){

	},
	methods: {


	}
}

</script>

<style lang="scss">
.nav-pills .nav-link {
    border-radius: 0.25rem;
    color: black;
}
.tabs{
	min-height: 500px;
}
*{
	direction: rtl;
}
.myStudents{
	padding: 41px 0;
    background: #eee;
	h3{
		text-align: center;
		margin-bottom: 30px;
	}
	table{
		width:100%;
		margin: auto;
		text-align: center;
		thead{
			font-weight: bold;
			font-size: 17px;
			td{
				padding: 10px;
			}
		}
		td{
			border: 1px solid #f0a708;
			padding: 5px;
		}
	}
	.card-headers{
		    border-bottom: 3px dashed rgba(0, 0, 0, 0.125);
	}

}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
	background-color:#f0a708;
}






/* media queries */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {
.myStudents table thead td{
	padding:0;
}
.myStudents td button{
	font-size: 9px;
}
.myStudents table td{
	padding:0;
}
.myStudents table thead{
	font-size: 14px;
}
}
</style>
