<template>
<div class="color">
<div class="container">
	  <div class="behavior-plan">
		  <div class="intro">
			  <h3>خطة تعديل السلوك
				  <i class="fas fa-heart"></i>
			  </h3>
		  </div>
		  <div class="row">
			  <div class="col-md-12 behavior-plan-title">
				  <h6>معلومات عن الحالة ؟</h6>
			  </div>
			  <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الاسم ثلاثي "

                  >
                  <input placeholder="الاسم " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ما هو اسم المركز "

                  >
                  <input placeholder="اسم المركز" class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل العمر "

                  >
                  <input placeholder="العمر " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="ماهو اسم معدل السلوك "

                  >
                  <input placeholder="اسم معدل السلوك" class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="ماهو الجنس ذكر | انثي "

                  >
                  <input placeholder="الجنس" class="textbox-n form-control" type="text" >
            </b-form-group>


			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="ادخل تاريخ اعداد الخطة تغير السلوك "

                  >
                  <input placeholder="تاريخ اعداد الخطة" class="textbox-n form-control" type="text" >
            </b-form-group>

			 <div class="descriptions col-md-12">
					  <div class="col-md-12 behavior-plan-title">
				  <h6>معلومات عن الحالة ؟</h6>
			  </div>
				<div class="row">
					 <div class="col-md-4">
						  <b-form-group
							class="mb-0"
							label="اولا :- تحديد سلوك المستهدف "
							label-for="one-textarea"
							description="يتم تحديد سلوك المستهدف هنا"
							>
						<b-form-textarea
						id="one-textarea"
						placeholder=" اضغط للكتابة"
						rows="3"
						no-resize
					></b-form-textarea>
					 </b-form-group>
					</div>


			 <div class="col-md-4">
				  <b-form-group
							class="mb-0"
							label="تانيا :- تعريف سلوك المستهدف "
							label-for="two-textarea"
							description="يتم تعريف السلوك المستهدف هنا"
							>
						<b-form-textarea
						id="two-textarea"
						placeholder="اضغط للكتابة "
						rows="3"
						no-resize
					></b-form-textarea>
					 </b-form-group>
					</div>


			 <div class="col-md-4">
				  <b-form-group
							class="mb-0"
							label="ثالثا :- قياس السلوك المستهدف"
							label-for="three-textarear"
							description="يتم قياس السلوك المستهدف هنا"
							>
						<b-form-textarea
						id="three-textarea"
						placeholder="اضغط للكتابة"
						rows="3"
						no-resize
					></b-form-textarea>
					 </b-form-group>
					</div>

					<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-4 mr-auto"
                  description="اذكر مدة حدوث هذا السلوك "

                  >
                  <input placeholder="مدة الحدوث" class="textbox-n form-control" type="text" >
            </b-form-group>
<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-4 mr-auto"
                  description="اذكر نسبة حدوث هذا السلوك "

                  >
                  <input placeholder="نسبة حدوث السلوك" class="textbox-n form-control" type="text" >
            </b-form-group>
<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-4 mr-auto"
                  description="مدة الملاحظة لهذا السلوك"

                  >
                  <input placeholder="مدة الملاحظة" class="textbox-n form-control" type="text" >
            </b-form-group>

				</div>
			 </div>


		<div class="text-ariea col-md-12">
          <div class="row">
			  <div class="two-tables col-md-12">
				 <div class="row">
 <div class="col-md-12 behavior-plan-title">
				  <h6>رابعا :- التحليل الوظيفي للسلوك</h6>
			  </div>
					   <div class="col-md-6">
						    <b-form-group
							class="mb-0"

							description=" ما هو التحليل الوظيفي لهذا السلوك (المثيرات القبلية)"
							>
						<b-form-textarea
						id="textarea-no-resize"
						placeholder="المثيرات القبلية "
						rows="3"
						no-resize

					></b-form-textarea>
					 </b-form-group>
					</div>

						<div class="col-md-6">
							 <b-form-group
							class="mb-0"
							description=" ما هو التحليل الوظيفي لهذا السلوك (المثيرات البعيدية)"
							>
						<b-form-textarea
						id="textarea-no-resize"
						placeholder="المثيرات البعيدية  "
						rows="3"
						no-resize
					></b-form-textarea>
					 </b-form-group>
					</div>
				 </div>
			  </div>


 <div class="col-md-12 behavior-plan-title">
				  <h6>خامسا :- تغير خطة العلاج </h6>
			  </div>


			   <div class="col-md-12">
				    <b-form-group
							class="mb-0"
							description="من فضلك ادخل قيمة معدل السلوك"
							>
			   <b-form-textarea
            id="textarea-no-resize"
            placeholder="أ - معدل السلوك   "
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
		   </div>

		  <div class="col-md-6">
			   <b-form-group
							class="mb-0"
							description="من فضلك ادخل المشاركون و وظيفتهم "
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="ب - المشاركون ووظيفتهم"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>

			 <div class="col-md-6">
				  <b-form-group
							class="mb-0"
							description="اذكر ما الزمان و المكان لتطبيق خظة التعديل "
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="ج - الزمان و المكان لتطبيق خطة تعديل السلوك"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>

		  <div class="col-md-6">
			   <b-form-group
							class="mb-0"
							description="حدد ما هي المعززات للتعديل السلوك"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="د - تحديد المعززات "
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>

		  <div class="col-md-6">
			   <b-form-group
							class="mb-0"
							description="ما هي اجراءات خفض السلوك او العقاب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="تحديد اجاراءات خفض السلوك  (العقاب)"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>

		  <div class="col-md-6">
			   <b-form-group
							class="mb-0"
							description="ماهي تحديد جداول التعزيز "
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" (متصل | متقطع) تحديد جداول التعزيز "
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>

		  <div class="col-md-6">
			   <b-form-group
							class="mb-0"
							description="ما هي التعزيزات و العقاب في حالو فشل الاجراءات السابقة"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="ز - المعززات و العقاب البديل في حال فشل الاجراءات السابقة "
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>

		  <div class="col-md-12">
			   <b-form-group
							class="mb-0"
							description="ماهي مبررات تعديل السلوك لهذه الحاله"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="س - مبررات تعديل السلوك لهذه الحالة"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>

		  <div class="col-md-12">
			   <div class="col-md-12 behavior-plan-title">
				  <h6>سادسا:- تنفيذ خطة العلاج</h6>
			  </div>
			   <b-form-group
							class="mb-0"
							description="تنفيذ خطة العلاج"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="تنفيذ خطة العلاج "
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>

		  <div class="col-md-12">
			   <div class="col-md-12 behavior-plan-title">
				  <h6>سابعا :-تقييم فاعلية برنامج العلاج </h6>
			  </div>
			   <b-form-group
							class="mb-0"
							description="ادخل تقيم فاعلية برنامج العلاج"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="تثييم فاعلية برنامج العلاج"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
         </div>


		 <div class="col-md-12">
			 <div class="col-md-12 behavior-plan-title">
				  <h6>ثامنا :- تلخيص نتائج و كتابة التقرير</h6>
			  </div>

			  <div class="row">
				   <b-form-group
							class="col-md-6"
							description="من فضلك ادخل معلومات عن الحالة"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="معلومات عن الحالة"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="اذكر مببرات خظه التعيل و ماهو السلوك المرغوب به"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="مبررات تطبيق خظة تعديل السلوك وما هو السلوك المشكل و السلوك الموغوب به"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="ماهي هي النتائج قبل و بعد القياس"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="عرض نتائج التقرير ما قبل القياس و بعد القياس"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="اذكر ما التوصيات و الاطراف المشاركة"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="التوصيات للمعدل ولاطراف المشاركة"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="ادخل الخلاصة"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الخلاصة"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>
			  </div>
		 </div>


		  </div>


		</div>
		  </div>
	  </div>
  </div>
</div>

</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
*{
	direction: rtl;
	text-align: right;
}
.color{
	    background: #f4f4f4;
    padding: 43px 0;
}
.behavior-plan{
	border: 1px solid #333;
    padding: 15px;
    background: #FFF;
}

  .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;

  }

  .intro{
       text-align: right;
    padding-bottom: 26px;
    padding-top: 8px;
    p{
      margin-bottom: 50px;
    }
    h3{
     width: 259px;
    color: #ff9508;
    margin: 32px auto 44px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
      i{
            position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
    }
       &::before{
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: -7px;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
    }
}
.behavior-plan-title{
	text-align: right;
    padding:16px 6px 6px;
}

.text-ariea{
	margin-top: 20px;
	textarea{
		margin: 10px 0;
	}
	.two-tables{
		    margin-bottom: 20px;
    margin-top: 46px;
	}
}



</style>
