<template>
 <div class="color">
	<div class="container">
		<div class="communication">
		  <div class="row">
			  <div class="col-md-12 communication-title text-center">
				  <h3>النطق و التواصل
					  <i class="fas fa-heart"></i>
				  </h3>
			  </div>
			  <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الاسم ثلاثي "

                  >
                  <input placeholder="اسم الطالب " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ الميلاد الطالب"

                  >
                  <input placeholder="تاريخ الميلاد" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الجنس ذكر | انثي  "

                  >
                  <input placeholder="الجنس " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ كتابة هذا التقرير "

                  >
                  <input placeholder="تاريخ كتابة التقرير" class="textbox-n form-control" type="text" onfocus="(this.type = 'date')" onblur="(this.type='text')">
            </b-form-group>


			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-12 mr-auto"
                  description="هذا التقيم تم باستخدام تقييم رسمي هو ABLLS"

                  >
                  <input placeholder="تقييم ABLLS" class="textbox-n form-control" type="text" >
            </b-form-group>
			<div class="col-md-12">
				<h6>تقييم غير رسمي يشمل المهارات الوظيفية و الاداء السلوكي</h6>
			</div>
			<div class="col-md-12">
				<div class="row">
					 <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الللغة الاستقبالية للطالب"
							>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="اللغة الاستقبالية"
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>

					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي التقليد الشفوي للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="التقليد الشفوي"
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>

					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي طلب الحاجيات للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="طلب الحاجيات"
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي التسمية للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder=" التسمية"
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي تكويين الاسئلة و المقاطع للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="تكويين الاسئلة و المقاطع"
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي الجهاز النظقي للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="الجهاز النطقي"
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي  الاداء السلوكي للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder=" الاداء السلوكي"
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي المهارات الوظيفية للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder="المهارات الوظيفية "
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>


					<b-form-group
									class="col-md-6"
									description="ادخل ملاحظاتك علي  ملاحظاتك الفاحص للطالب"
									>
				<b-form-textarea
					id="textarea-no-resize"
					placeholder=" ملاحظاتك الفاحص "
					rows="3"
					no-resize
				></b-form-textarea>
				</b-form-group>
				</div>


			</div>



		  </div>
    </div>
	</div>
 </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

*{
	direction: rtl;
	text-align: right;
}

.color{
	    background: #f4f4f4;
    padding: 43px 0;
}

 .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;


  }
h6{
	margin-top: 25px;
    margin-bottom: 13px;
}
.communication{
	border: 1px solid #333;
	padding:40px 15px;
	background: #FFF;
	.communication-title{
		padding:15px 0;
		h3{
			width: 259px;
    color: #ff9508;
    margin: 32px auto 44px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
			i{
            position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
    }
			&::before{
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: -7px;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
		}
	}
}
</style>
