<template>
 <div class="color">
	<div class="container">
		<div class="communication">
		  <div class="row">
			  <div class="col-md-12 communication-title text-center">
				  <h3>تقييم العلاج الوظيفي
					  <i class="fas fa-heart"></i>
				  </h3>

			  </div>
			  <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الاسم ثلاثي "

                  >
                  <input placeholder="اسم الطالب " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ الميلاد الطالب"

                  >
                  <input placeholder="تاريخ الميلاد" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل الجنس ذكر | انثي  "

                  >
                  <input placeholder="الجنس " class="textbox-n form-control" type="text" >
            </b-form-group>

			<b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="من فضلك ادخل تاريخ كتابة هذا التقرير "

                  >
                  <input placeholder="تاريخ كتابة التقرير" class="textbox-n form-control" type="text" onfocus="(this.type = 'date')" onblur="(this.type='text')">
            </b-form-group>


			<div class="col-md-12 first-title">
				<h6>مهارات الحياة اليومية</h6>
			</div>

			<div class="col-md-12">
				<div class="row">
				 <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الاكل للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاكل | الطعام"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		   	 <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي اللبس للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="اللبس "
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك النظافة الشخصية للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="استخدام الحمام و العناية بالنظافة الشخصية"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي اللعب للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" اللعب"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

			<div class="col-md-12 communication-title">
				<h6>القدرات العقلية للطالب</h6>
			</div>
		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الانتباه للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الانتباه"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الذاكرة للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" الذاكرة"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الوظائف الحركيه و التخطيط الحركي للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" الوظائف العقلية للتتابع الحركيو التخطيط الحركي"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		   <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي العواطف و السلوكيات للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" العواطف و السلوكيات"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		   <div class="col-md-12 communication-title">
				<h6>الوظائف الحسية و الشعور بالالم</h6>
			</div>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي مهارات الشم و التذوق للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="مهارات الشم و التذوق"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي  المهارات و القدرات البصرية للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder=" المهارات و القدرات البصرية "
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>


		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الوظاف الخاصة الاحساس بالدوران و الموقع بالفراغ للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الوظاف الخاصة الاحساس بالدوران و الموقع بالفراغ"
            rows="3"
            no-resize
          ></b-form-textarea>
		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الاحساس بالمفاصل و مدي الضغط عليها للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاحساس بالوظائف و مدي الضغظ عليها"
            rows="3"
            no-resize
          ></b-form-textarea>

		   </b-form-group>

		     <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي الاحساس الوظائف السمعيه للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الوظائف السمعيه"
            rows="3"
            no-resize
          ></b-form-textarea>

		   </b-form-group>

		    <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي وظائف الاحساس اللمسي الجلدي للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="وظائف الاحساس اللمسي الجلدي"
            rows="3"
            no-resize
          ></b-form-textarea>

		   </b-form-group>


		     <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي التكامل الحسي و المعالجةالحسية للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="التكامل الحسي و المعالجة الحسية"
            rows="3"
            no-resize
          ></b-form-textarea>

		   </b-form-group>


		   <div class="col-md-12 communication-title">
				<h6>القدرات العقلية للطالب</h6>
			</div>



			   <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي المهارات الحركية الدقيقة للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="المهارات الحركية الدقيقة"
            rows="3"
            no-resize
          ></b-form-textarea>

		   </b-form-group>


		      <b-form-group
							class="col-md-6"
							description="ادخل ملاحظاتك علي المهارات الحركية الكبيرة للطالب"
							>
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="المهارات الحركية الكبيرة"
            rows="3"
            no-resize
          ></b-form-textarea>

		   </b-form-group>


			</div>
			</div>



		  </div>
    </div>
	</div>
 </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

*{
	direction: rtl;
	text-align: right;
}
 .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;


  }

.color{
	background: #f4f4f4;
	padding:40px 0
}

.first-title{
	margin-top: 20px;
}
.communication{
	border: 1px solid #333;
	background: #FFF;
	padding:15px;
	.communication-title{
		padding: 15px 15px;
		    margin-top: 15px;
		h3{
			 width: 210px;
			color: #ff9508;
			margin: 32px auto 13px;
			padding-bottom: 10px;
			position: relative;
			text-align: center;
			i{
                position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
    }
			&::before{
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: -7px;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
		}
	}
}
</style>
