<template>
  <div class="container">
    <div class="form">

<form-wizard   color="#FF9508" step-size="xs">
     <tab-content title="معلومات الطالب"
                  icon="fas fa-users">

        <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل اسم الطالب"
          class="col-md-6"
          >
            <b-form-input v-model="name" id="input-horizontal" placeholder="اسم الطالب"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطالب"
          >
            <b-form-input id="input-horizontal" placeholder="العمر الزمني "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description=" من فضلك ادخل تاريخ ميلاد الطالب"

          >
          <input placeholder="تاريخ الميلاد" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6"
          description="من فضلك اكتب تاريخ كتابة هذا التقرير"

          >
          <input placeholder="تاريخ كتابة التقرير" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
        </b-form-group>

        <div class="col-md-6">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الولادة و التاريخ الطبي"
            rows="3"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-6">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="ملاحظات الاهل "
            rows="3"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

          </div>

     </tab-content>
     <tab-content title="التقييم الغير رسمي"
                  icon="far fa-user">
       <div class="unform">
         <div class="row">
              <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="ملاحظات الاهل "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>


         <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="الملاحظات السلوكية "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>

         <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="المهارات الاستقلاليه  "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>

         <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="التفاعل الاجتماعي "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>

         <div class="col-md-12">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="المهارات الادراكية "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>
         </div>
       </div>
     </tab-content>
     <tab-content title="التقييم الرسمي"
                  icon="fas fa-user-tie">
       <div class="unmain-test">
         <div class="unmain-test-title">
           <h3>الاختبار الفرعي</h3>
         </div>

        <div class="row">
           <b-col md="6" class="mb-2">
            <label for="sb-disabled">السلوكيات النمطيه</label>
            <b-form-spinbutton id="sb-disabled" v-model="value"></b-form-spinbutton>
          </b-col>

          <b-col md="6" class="mb-2">
            <label for="sb-disabled">السلوكيات النمطيه</label>
            <b-form-spinbutton id="sb-disabled" v-model="value"></b-form-spinbutton>
          </b-col>

          <b-col md="12" class="mb-2">
            <label for="sb-disabled">السلوكيات النمطيه</label>
            <b-form-spinbutton id="sb-disabled" v-model="value"></b-form-spinbutton>
          </b-col>

        </div>

        <div class="autism-Index">
          <div class="autism-index-title">
            <h3>مؤشر التوحد</h3>
          </div>
             <div class="row">
               <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="نقاط القوة  "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>

          <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="نقاط الضعف  "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>
             </div>

        </div>
       </div>
     </tab-content>
      <tab-content title="التقييم الرسمي"
                  icon="fas fa-user-tie">
          <div class="edit-behavior">
            <div class="edit-behavior-title">
              <h3>برنامج تعديل السلوك</h3>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <label for="range-1"> أحتمالية التوحد  {{value + '%'}} </label>
                <b-form-input id="range-1" v-model="value" type="range" min="0" max="100"></b-form-input>
              </div>
               <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="برنامج تعديل السلوك  "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>

          <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="التوصيات العامة"
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>
            </div>
          </div>
      </tab-content>
 </form-wizard>


    </div>
  </div>
</template>

<script>

//global registration
import VueFormWizard from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

//local registration
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
//component code

export default {
   props: {
      props: {
  title: {
    type: String,
    default: 'hello'
  },
  subtitle: {
    type: String,
    default: 'Split a complicated flow in multiple steps'
  },
  nextButtonText: {
    type: String,
    default: 'Next'
  },
  backButtonText: {
    type: String,
    default: 'Back'
  },
  finishButtonText: {
    type: String,
    default: 'Finish'
  },
  stepSize: {
    type: String,
    default: 'xs',
    validator: (value) => {
      let acceptedValues = ['xs', 'sm', 'md', 'lg']
      return acceptedValues.indexOf(value) !== -1
    }
  }
  },
    },
data() {
      return {
        value: 0,
        form: {
          email: '',
          name: '',
          checked: [],

        },
        show: true
      }
    },
    methods: {
      onComplete: function(){
          alert('Yay. Done!');
       }
    },

    components: {
      FormWizard,
  TabContent
    }
  }
</script>

<style lang="scss" scoped>

*{
  direction: rtl;
}
.vue-form-wizard {
  direction: ltr;
  .wizard-nav-pills{
  direction: ltr;

  }
}
.custom-range{
  margin-bottom: 42px;
}

 textarea{
    overflow-y: auto !important;
    margin-bottom: 30px;
  }
#example-datepicker{
  position: absolute;
    right: 0;
}
.form {
  border: 1px solid #333;
    padding: 14px 36px;
    margin: 25px 0;
  .report-title{
    text-align: center;
    margin: 10px 0 47px;

    h3{
      position: relative;
      width: 218px;
      margin: 13px auto;
      padding-bottom: 15px;
      color: #ff9508;
        i{
               position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
        }
        &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
    }
  }
  .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;

  }
}
.intro{
    text-align: center;
    margin-top: 40px;
    p{
      margin-bottom: 50px;
    }
    h3{
      width: 100px;
      color: #ff9508;
      margin: 32px auto 13px;
      padding-bottom: 10px;
      position: relative;
      i{
            position: absolute;
    bottom: -7px;
    right: 43%;
    font-size: 11px;
    color: #87633a;
    }
       &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 41%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 38%;
        content: '';
      }
    }
}

.intro-info{
  h3{
 text-align: right;
    /* margin: 0 0 27px; */
    font-size: 18px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    color: #89837c;
  }
  p{
    margin-bottom: 15px;
  }

}
ul{    list-style-type: square;}
.unformal-rate{
  text-align: right;
  .feedback{
    h4{
      color:#89837c;
    }
  }
  h3{
        color: #ff9508;
    text-align: center;
    margin: 25px auto;
    padding-bottom: 18px !important;
    position: relative;
    width: 305px;
    font-size: 21px;
    i{
           position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;}
     &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }

  }
  ul{
    li{
      text-align: right;
    }
  }
}

.unmain-test{
  text-align: right;
}
</style>



/*
