<template>
  <div class="container">
    <div class="form">

<form-wizard   color="#FF9508" step-size="xs">
     <tab-content title="التدريب"
                  icon="fas fa-users">

        <div class="row">


        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="المجال"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاهداف"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>





         <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الملاحظات"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-radio-group warning  color="#DDD" v-model="value2" :options="options2" :state="state2" name="radio-validation">
            <b-form-invalid-feedback :state="state2">Please select one</b-form-invalid-feedback>
            <b-form-valid-feedback :state="state2">Thank you</b-form-valid-feedback>
          </b-form-radio-group>

        </div>
        </div>

        <div class="col-md-3">
          <div class="intro">
          <b-form-radio-group color="#DDD" v-model="value" :options="options" :state="state" name="radio-validation">
            <b-form-invalid-feedback :state="state">Please select one</b-form-invalid-feedback>
            <b-form-valid-feedback :state="state">Thank you</b-form-valid-feedback>
          </b-form-radio-group>

        </div>
        </div>

        <button class="add-item btn btn-warning">Add  <i class="fas fa-user-plus"></i></button>

          </div>

     </tab-content>
     <tab-content title="النطق و التواصل"
                  icon="far fa-user">
       <div class="row">


        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="المجال"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاهداف"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>





         <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الملاحظات"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-radio-group warning  color="#DDD" v-model="value2" :options="options2" :state="state2" name="radio-validation">
            <b-form-invalid-feedback :state="state2">Please select one</b-form-invalid-feedback>
            <b-form-valid-feedback :state="state2">Thank you</b-form-valid-feedback>
          </b-form-radio-group>

        </div>
        </div>

        <div class="col-md-3">
          <div class="intro">
          <b-form-radio-group color="#DDD" v-model="value" :options="options" :state="state" name="radio-validation">
            <b-form-invalid-feedback :state="state">Please select one</b-form-invalid-feedback>
            <b-form-valid-feedback :state="state">Thank you</b-form-valid-feedback>
          </b-form-radio-group>

        </div>
        </div>

        <button class="add-item btn btn-warning">Add  <i class="fas fa-user-plus"></i></button>

          </div>
     </tab-content>
     <tab-content title="العلاج الوظيفي"
                  icon="fas fa-user-tie">
    <div class="row">


        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="المجال"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الاهداف"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>





         <div class="col-md-2">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الملاحظات"
            rows="2"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

        <div class="col-md-2">
          <div class="intro">
          <b-form-radio-group warning  color="#DDD" v-model="value2" :options="options2" :state="state2" name="radio-validation">
            <b-form-invalid-feedback :state="state2">Please select one</b-form-invalid-feedback>
            <b-form-valid-feedback :state="state2">Thank you</b-form-valid-feedback>
          </b-form-radio-group>

        </div>
        </div>

        <div class="col-md-3">
          <div class="intro">
          <b-form-radio-group color="#DDD" v-model="value" :options="options" :state="state" name="radio-validation">
            <b-form-invalid-feedback :state="state">Please select one</b-form-invalid-feedback>
            <b-form-valid-feedback :state="state">Thank you</b-form-valid-feedback>
          </b-form-radio-group>

        </div>
        </div>

        <button class="add-item btn btn-warning">Add  <i class="fas fa-user-plus"></i></button>

          </div>
     </tab-content>
      <tab-content title="العلاج الوظيفي"
                  icon="fas fa-user-tie">
                   <div class="col-md-12">
          <div class="intro text-right">
            <b-row>
    <b-col sm="12">
      <label for="textarea-small">تعديل السلوك:</label>
    </b-col>
    <b-col sm="12">
      <b-form-textarea
        id="textarea-small"
        size="sm"
        placeholder=""
        no-resize
        rows="6"
      ></b-form-textarea>
    </b-col>
  </b-row>
        </div>
        </div>
      </tab-content>

 </form-wizard>


    </div>
  </div>
</template>

<script>

//global registration
import VueFormWizard from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

//local registration
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
//component code

export default {

data() {
      return {
        value: null,
        options: [
          { text: 'اتقن', value: 'yes' },
          { text: 'لا', value: 'no' },
        ],
        value2: null,
        options2: [
          { text: 'مستمر', value: 'yes' },
          { text: 'لا', value: 'no' },
        ],
        form: {
          email: '',
          name: '',
          checked: [],


        },
        show: true
      }
    },
     computed: {
      state() {
        return Boolean(this.value)
      },
      state2(){
        return Boolean(this.value2)

      }
    },
    methods: {
      onComplete: function(){
          alert('Yay. Done!');
       }
    },

    components: {
      FormWizard,
  TabContent
    }
  }
</script>

<style lang="scss" scoped>
*{
  direction: rtl;
}
.vue-form-wizard {
  direction: ltr;
  .wizard-nav-pills{
  direction: ltr;

  }
}
.add-item{
  height: 40px;
  margin-top: 43px;
  background: #ff9508;
}
.custom-range{
  margin-bottom: 42px;
}
.wizard-nav.wizard-nav-pills{
  direction: ltr !important;
}
 textarea{
    overflow-y: auto !important;
    margin-bottom: 30px;
  }
#example-datepicker{
  position: absolute;
    right: 0;
}
.form {
  border: 1px solid #333;
    padding: 14px 36px;
    margin: 25px 0;
  .report-title{
    text-align: center;
    margin: 10px 0 47px;

    h3{
      position: relative;
      width: 218px;
      margin: 13px auto;
      padding-bottom: 15px;
      color: #ff9508;
        i{
               position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
        }
        &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
    }
  }
  .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;


  }
}
.intro{
    text-align: center;
    margin-top: 40px;
    p{
      margin-bottom: 50px;
    }
    h3{
      width: 259px;
    color: #ff9508;
    margin: 32px auto 44px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
      i{
            position: absolute;
    bottom: -7px;
    right: 43%;
    font-size: 11px;
    color: #87633a;
    }
       &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 41%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 38%;
        content: '';
      }
    }
}

.intro-info{
  h3{
 text-align: right;
    /* margin: 0 0 27px; */
    font-size: 18px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    color: #89837c;
  }
  p{
    margin-bottom: 15px;
  }

}
ul{    list-style-type: square;}
.unformal-rate{
  text-align: right;
  .feedback{
    h4{
      color:#89837c;
    }
  }
  h3{
        color: #ff9508;
    text-align: center;
    margin: 25px auto;
    padding-bottom: 18px !important;
    position: relative;
    width: 305px;
    font-size: 21px;
    i{
           position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;}
     &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }

  }
  ul{
    li{
      text-align: right;
    }
  }
}

.unmain-test{
  text-align: right;
}
</style>



/*
