<template>
  <div class="container">
    <div class="form">

<form-wizard title="الخطة الشهرية" subtitle="•	سيتم كذلك مراجعة الأهداف بشكل دوري كل 3 أشهر , لكن ليس من المتوقع أن يتقن أو ينهي الطالب جميع الأهداف خلال هذه المدة."  color="#FF9508" step-size="sm">
     <tab-content title="معلومات الطالب"
                  icon="fas fa-users">

        <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل اسم الطالب"
          class="col-md-6"
          >
            <b-form-input v-model="name" id="input-horizontal" placeholder="اسم الطالب"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطالب"
          >
            <b-form-input id="input-horizontal" placeholder="العمر الزمني "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description=" من فضلك ادخل اسم معلم الطالب"

          >
          <input placeholder="اسم المعلم" class="textbox-n form-control" type="text">
          </b-form-group>
          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6"
          description="من فضلك اكتب تاريخ كتابة هذا التقرير"

          >
          <input placeholder="التاريخ" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
        </b-form-group>


        <div class="plane-name">
          <div class="plan-name">
            <h3>الخظة الفردية</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="الجانب"
            rows="3"
            no-resize
          ></b-form-textarea>

          </div>
          </div>

          <div class="col-md-6">
            <div class="intro">
            <b-form-textarea
              id="textarea-no-resize"
              placeholder="الاهداف"
              rows="3"
              no-resize
            ></b-form-textarea>

          </div>
          </div>
          <div class="col-md-2 button-add">
            <button class="btn btn-warning" >اضافة خطة</button>
          </div>
        </div>
        </div>

          </div>

     </tab-content>
     <tab-content title="الخدمات المساندة"
                  icon="far fa-user">
        <div class="plane-name">
          <div class="plan-name">
            <h3>النطق و اللغة</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="اسم البرنامج"
            rows="3"
            no-resize
          ></b-form-textarea>

          </div>
          </div>

          <div class="col-md-6">
            <div class="intro">
            <b-form-textarea
              id="textarea-no-resize"
              placeholder="الاهداف"
              rows="3"
              no-resize
            ></b-form-textarea>

          </div>
          </div>
          <div class="col-md-2 button-add">
            <button class="btn btn-warning" >اضافة خطة</button>
          </div>
        </div>
        </div>
     </tab-content>
     <tab-content title="العلاج الوظيفي"
                  icon="fas fa-user-tie">
         <div class="plane-name">
          <div class="plan-name">
            <h3>العلاج الوظيفي</h3>
        </div>
        <div class="row">
          <div class="col-md-4">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="المجال"
            rows="3"
            no-resize
          ></b-form-textarea>

          </div>
          </div>

          <div class="col-md-6">
            <div class="intro">
            <b-form-textarea
              id="textarea-no-resize"
              placeholder="الهدف"
              rows="3"
              no-resize
            ></b-form-textarea>

          </div>
          </div>
          <div class="col-md-2 button-add">
            <button class="btn btn-warning" >اضافة خطة</button>
          </div>
        </div>
        </div>
     </tab-content>

 </form-wizard>


    </div>
  </div>
</template>

<script>

//global registration
import VueFormWizard from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

//local registration
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
//component code

export default {
   props: {
      props: {
  title: {
    type: String,
    default: 'hello'
  },
  subtitle: {
    type: String,
    default: 'Split a complicated flow in multiple steps'
  },
  nextButtonText: {
    type: String,
    default: 'Next'
  },
  backButtonText: {
    type: String,
    default: 'Back'
  },
  finishButtonText: {
    type: String,
    default: 'Finish'
  },
  stepSize: {
    type: String,
    default: 'xs',
    validator: (value) => {
      let acceptedValues = ['xs', 'sm', 'md', 'lg']
      return acceptedValues.indexOf(value) !== -1
    }
  }
  },
    },
data() {
      return {
        value: 0,
        form: {
          email: '',
          name: '',
          checked: [],

        },
        show: true
      }
    },
    methods: {
      onComplete: function(){
          alert('Yay. Done!');
       }
    },

    components: {
      FormWizard,
  TabContent
    }
  }
</script>

<style lang="scss" scoped>

*{
  direction: rtl;
}
.vue-form-wizard {
  direction: ltr;
  .wizard-nav-pills{
  direction: ltr;

  }
}

.custom-range{
  margin-bottom: 42px;
}
.button-add{
    button{
        margin-top: 59px;
    background: #ff9508;
    color: #FFF;
    }
}
 textarea{
    overflow-y: auto !important;
    margin-bottom: 30px;
  }
#example-datepicker{
  position: absolute;
    right: 0;
}
.plane-name{
      width: 100%;
    text-align: right;
    .row{
      margin-bottom: 45px;
    }
}
.form {
  border: 1px solid #333;
    padding: 14px 36px;
    margin: 25px 0;
  .report-title{
    text-align: center;
    margin: 10px 0 47px;

    h3{
      position: relative;
      width: 218px;
      margin: 13px auto;
      padding-bottom: 15px;
      color: #ff9508;
        i{
               position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
        }
        &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
    }
  }
  .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;


  }
}
.intro{
    text-align: center;
    margin-top: 40px;
    p{
      margin-bottom: 50px;
    }
    h3{
      width: 100px;
      color: #ff9508;
      margin: 32px auto 13px;
      padding-bottom: 10px;
      position: relative;
      i{
            position: absolute;
    bottom: -7px;
    right: 43%;
    font-size: 11px;
    color: #87633a;
    }
       &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 41%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 38%;
        content: '';
      }
    }
}

.intro-info{
  h3{
 text-align: right;
    /* margin: 0 0 27px; */
    font-size: 18px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    color: #89837c;
  }
  p{
    margin-bottom: 15px;
  }

}
ul{    list-style-type: square;}
.unformal-rate{
  text-align: right;
  .feedback{
    h4{
      color:#89837c;
    }
  }
  h3{
        color: #ff9508;
    text-align: center;
    margin: 25px auto;
    padding-bottom: 18px !important;
    position: relative;
    width: 305px;
    font-size: 21px;
    i{
           position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;}
     &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }

  }
  ul{
    li{
      text-align: right;
    }
  }
}

.unmain-test{
  text-align: right;
}


.vue-form-wizard{
   .wizard-header{
     margin-bottom: 20px;
   }
}
</style>



/*
