<template>
  <div class="color" style="">
	  <div class="container">
    <div class="form">

<form-wizard  title="دراسة حالة جديدة" color="#FF9508" step-size="sm">
     <tab-content title="معلومات شخصية"
                  icon="fas fa-users">

        <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل الاسم"
          class="col-md-6"
          >
            <b-form-input v-model="name" id="input-horizontal" placeholder="الاسم"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="اذا كان ذكر ام انثي"
          >
            <b-form-input id="input-horizontal" placeholder="الجنس "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description=" من فضلك ادخل تاريخ ميلاد الطالب"

          >
          <input placeholder="تاريخ الميلاد" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>

            <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل مكان الولادة"

          >
          <input placeholder="مكان الولادة" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>


          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل الجنسية"

          >
          <input placeholder="الجنسية" class="textbox-n form-control" type="text">
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو ترتيب الطفل في الاسرة"

          >
          <input placeholder="ترتيب في الاسرة" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عدد افراد الاسرة"

          >
          <input placeholder="عدد افراد الاسرة" class="textbox-n form-control" type="text" >
          </b-form-group>

           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عنوان الاقامة "

          >
          <input placeholder="عنوان الاقامة " class="textbox-n form-control" type="text" >
          </b-form-group>

           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو رقم الهاتف "

          >
          <input placeholder="رقم الهاتف" class="textbox-n form-control" type="text" >
          </b-form-group>

           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="البريد الالكتروني ليصلك الجديد "

          >
          <input placeholder="بريد الالكتروني" class="textbox-n form-control" type="text" >
          </b-form-group>
			<h6> معلومات تسجيل الدخول</h6>
		    <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="اسم المستخدم للدخول به"

          >
          <input placeholder="اسم المستخدم" class="textbox-n form-control" type="text" >
          </b-form-group>
  <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="كلمة السر يجب ان تكون قوية "

          >
          <input placeholder="كلمة السر" class="textbox-n form-control" type="text" >
          </b-form-group>


        <div class="col-md-12">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="وصف المشكلة بلغة الاهل  "
            rows="5"
            no-resize
          ></b-form-textarea>

        </div>
        </div>

          </div>

     </tab-content>
     <tab-content title="التقييم الغير رسمي"
                  icon="far fa-user">
       <div class="familyinfo">
         <div class="motherinfo">
               <div class="row">

			    <div class="motherinfo-title">
				<div class="intro">
					<h3>معلومات الام
						<i class="fas fa-heart"></i>
					</h3>
				</div>

            </div>

              <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="ماهو اسم الام "

                  >
                  <input placeholder="اسم الام" class="textbox-n form-control" type="text" >
            </b-form-group>

               <b-form-group
                id="fieldset-horizontal"
                class="col-md-6 mr-auto"
                description="ماهو العمر للام"

                >
                <input placeholder="عمر الام" class="textbox-n form-control" type="text" >
                </b-form-group>

             <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو هو المستوي التعليمي للام"

          >
          <input placeholder="المستوي التعليمي للام" class="textbox-n form-control" type="text" >
          </b-form-group>


                <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عمر الام عند انجاب الطفل"

          >
          <input placeholder="عمر الام عند الانجاب" class="textbox-n form-control" type="text" >
          </b-form-group>



           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عمل الام"
          cols="12"
          >
          <input placeholder="عمل الام" class="textbox-n form-control" type="text" >
          </b-form-group>

                  <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو مكان عمل الام"

          >
          <input placeholder="مكان عمل الام" class="textbox-n form-control" type="text" >
          </b-form-group>

                </div>

        </div>
       </div>
        <div class="fatherinfo">
          <div class="row">
             <div class="fatherinfo-title">
				 <div class="intro">
					<h3>معلومات الاب
						<i class="fas fa-heart"></i>
					</h3>
				</div>

            </div>

              <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="ماهو اسم الاب "

                  >
                  <input placeholder="اسم الاب" class="textbox-n form-control" type="text" >
            </b-form-group>

               <b-form-group
                id="fieldset-horizontal"
                class="col-md-6 mr-auto"
                description="ماهو العمر للاب"

                >
                <input placeholder="عمر الاب" class="textbox-n form-control" type="text" >
                </b-form-group>

             <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو هو المستوي التعليمي للاب"

          >
          <input placeholder="المستوي التعليمي للاب" class="textbox-n form-control" type="text" >
          </b-form-group>






           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عمل الاب"
          cols="12"
          >
          <input placeholder="عمل االاب" class="textbox-n form-control" type="text" >
          </b-form-group>

                  <b-form-group
          id="fieldset-horizontal"
          class="col-md-12 mr-auto"
          description="ماهو مكان عمل الاب"

          >
          <input placeholder="مكان عمل االاب" class="textbox-n form-control" type="text" >
          </b-form-group>

                </div>

        </div>
        <div class="question">
         <div class="row">
            <b-form-group
          id="fieldset-horizontal"
          class="col-md-12 mr-auto"
          description="ماهي درجة القرابة بين الوالدين"
          cols="12"
          >
          <input placeholder="درجة القرابة" class="textbox-n form-control" type="text" >
          </b-form-group>


           <div class="col-md-12">
          <div class="intro">
            <h4>هل يوجد اعاقات في العائلة</h4>
          <b-form-radio-group id="radio-first-one" color="#DDD" v-model="value" :options="options" :state="state" name="DegreeRelationship">
            <b-form-invalid-feedback :state="state">اختر واحدة من فضلك</b-form-invalid-feedback>
            <div v-if="value == 'yes'">
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="ما هي صلة القرابة بالطفل"

              >
              <input placeholder="صلة القرابة" class="textbox-n form-control" type="text" >
              </b-form-group>
            </div>
          </b-form-radio-group>

        </div>


        </div>
         </div>
        <div class="col-md-12">
          <div class="nervousness">
			  <div class="intro">
					<h3>الاضطراب
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">
             <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="نوع الاضطراب الموجود لدي الطفل من رأي الاهل | التشخيص السابق واذكر سببه اذا كان معروفا"

              >
              <input placeholder="نوع الاضطراب" class="textbox-n form-control" type="text" >
              </b-form-group>

                <div class="col-md-12">
          <div class="intro">
            <h6>هل هناك ما يشير إلى أن الاضطراب ناتج عن عوامل وراثية\ جينية؟</h6>
          <b-form-radio-group id="radio-first-two" color="#DDD" v-model="isDNA" :options="options" :state="isDNAState" name="isDNA">
            <b-form-invalid-feedback :state="isDNAState">اختر واحدة من فضلك</b-form-invalid-feedback>
				 <div v-if="isDNA == 'yes'">
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="سبب الاضطراب اذا كان معروف"

              >
              <input placeholder="اذكر سبب الاضطراب" class="textbox-n form-control" type="text" >
              </b-form-group>
            </div>
          </b-form-radio-group>

        </div>
        </div>

          </div>
        </div>
        </div>



         <div class="col-md-12">
          <div class="nervousness">
         <div class="intro">
					<h3>الامراض و الادوية
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

           <div class="col-md-12">
              <div class="intro">
            <h6>هل يعاني الطفل من اية امراض ؟</h6>
          <b-form-radio-group id="radio-first-three" color="#DDD" v-model="childHasDiseases" :options="options2" :state="childHasDiseasesState" name="childHasDiseases">
            <b-form-invalid-feedback :state="childHasDiseasesState">اختر واحدة من فضلك</b-form-invalid-feedback>
            <div v-if="childHasDiseases == 'yes'">
                <div class="row">
					 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="الامراض الذي يعاني منا الطفل"

              >
              <input placeholder="في حال اإلجابة بنعم, ما هي هذه الامراض" class="textbox-n form-control" type="text" >
              </b-form-group>
				</div>
			  <div class="intro">

          <b-form-textarea
            id="textarea-no-resize"
            placeholder="ماهي الادوية و الجرعات التي يأخذها الطفل"
            rows="3"
            no-resize
          ></b-form-textarea>

        </div>

		 <div class="intro">

          <b-form-textarea
            id="textarea-no-resize"
            placeholder="ملاحظة يجب مراعاتها فيها يتعلق بالوضع الصحي للطفل"
            rows="3"
            no-resize
          ></b-form-textarea>

        </div>
            </div>
          </b-form-radio-group>

        </div>
           </div>







          </div>
        </div>
        </div>

        <div class="col-md-12">
          <div class="nervousness">
          <div class="intro">
					<h3>الحمل
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

              <b-form-group
          id="fieldset-horizontal"
          description="اذكر عدد مرات حمل الام"
          class="col-md-6"
          >
            <b-form-input type="number" v-model="name" id="input-horizontal" placeholder="عدد الاحمال"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          description="اذكر صحة الام اثناء الحمل بالطفل"
          class="col-md-6"
          >
            <b-form-input v-model="name" id="input-horizontal" placeholder="الصحة اثناء الحمل"></b-form-input>
          </b-form-group>

                <div class="col-md-12">
          <div class="intro">
            <h6>هل تعرضت لاي ضغوطات نفسية اثناء الحمل ؟</h6>
          <b-form-radio-group  v-model="stressDuringPregnancy" :options="options2" :state="stressDuringPregnancyState" name="stressDuringPregnancy">
            <b-form-invalid-feedback :state="stressDuringPregnancyState">اختر واحدة من فضلك</b-form-invalid-feedback>
            <div v-if="stressDuringPregnancy == 'yes'">
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هذه الضغوطات"

              >
              <input placeholder="ما الضغوطات" class="textbox-n form-control" type="text" >
              </b-form-group>
            </div>
          </b-form-radio-group>

        </div>
        </div>



         <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل عدد شهور الحمل بالطفل"
          class="col-md-6"
          >
            <b-form-input type="number" v-model="name" id="input-horizontal" placeholder="مدة الحمل بالطفل"></b-form-input>
          </b-form-group>


          <div class="question-about-mother">
            <div class="row">
              <div class="col-md-6">
          <div class="intro">
            <h6>الحصبة الالمانية ؟</h6>
          <b-form-radio-group id="radio-first-five" color="#DDD" v-model="rubella" :options="options2" :state="rubellaState" name="hasRubella">
            <b-form-invalid-feedback :state="rubellaState">اخعتر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6>تسمم الحمل ؟</h6>
          <b-form-radio-group id="radio-first-six" color="#DDD" v-model="eclampsia" :options="options2" :state="eclampsiaState" name="hasEclampsia">
            <b-form-invalid-feedback :state="eclampsiaState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6> أصابات | حوادث ؟</h6>
          <b-form-radio-group id="radio-first-seven" color="#DDD" v-model="injuriesOrAccidents" :options="options2" :state="injuriesOrAccidentsState" name="hasInjuriesOrAccidents">
            <b-form-invalid-feedback :state="injuriesOrAccidentsState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6>امراض مزمنة (ربو | سكر | قلب) ؟ </h6>
          <b-form-radio-group id="radio-first-eight" color="#DDD" v-model="chronicDiseases" :options="options2" :state="chronicDiseasesState" name="hasChronicDiseases">
            <b-form-invalid-feedback :state="chronicDiseasesState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6>التدخين ؟</h6>
          <b-form-radio-group id="radio-first-nine" color="#DDD" v-model="smoking" :options="options2" :state="smokingState" name="hasSmoking">
            <b-form-invalid-feedback :state="smokingState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6>أشعة ؟</h6>
          <b-form-radio-group id="radio-first-ten" color="#DDD" v-model="rays" :options="options2" :state="raysState" name="hasRays">
            <b-form-invalid-feedback :state="raysState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>

         <div class="col-md-12">
          <div class="intro">
            <h6>عقاقير ؟</h6>
          <b-form-radio-group id="radio-first-eleven" color="#DDD" v-model="drugs" :options="options2" :state="drugsState" name="drugs">
            <b-form-invalid-feedback :state="drugsState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>
            </div>
          </div>

          </div>
        </div>
        </div>

         </div>


<div class="col-md-12">
          <div class="nervousness">
          <div class="intro">
					<h3>الولادة
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

           <div class="col-md-12">
              <div class="intro">
            <h6>نوع ولادة الطفل</h6>
          <b-form-radio-group id="radio-first-twelve" color="#DDD" v-model="birthType" :options="birth" :state="birthTypeState" name="birthType">
            <b-form-invalid-feedback :state="birthTypeState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
           </div>
          </div>

          <div class="col-md-12">
             <div class="row">
             <b-form-group
              id="fieldset-horizontal"
              class="col-md-6"
              description="اذكر ما هو وزن الطفل"


              >
              <input type="number" placeholder="وزن الطفل" class="textbox-n form-control" >
            </b-form-group>

            <b-form-group
              id="fieldset-horizontal"
              class="col-md-6"
              description="اذكر ما هو طول الطفل"

              >
              <input type="number" placeholder="طول الطفل " class="textbox-n form-control" >
            </b-form-group>
           </div>
          </div>
          <div class="col-md-12">
            <div class="question-for-birth">
              <div class="question-for-birth-title">
                <h6> هل اصيب بأي من التالي ؟ </h6>
              </div>
              <div class="row">
                <div class="col-md-4">
                <div class="intro">
                  <h6>ازرقاق ؟</h6>
                  <b-form-radio-group id="radio-first-therten" color="#DDD" v-model="hasCyanosis" :options="options2" :state="hasCyanosisState" name="hasCyanosis">
                    <b-form-invalid-feedback :state="hasCyanosisState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-4">
                <div class="intro">
                  <h6>اصفرار ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="hasYellowedOut" :options="options2" :state="hasYellowedOutState" name="hasYellowedOut">
                    <b-form-invalid-feedback :state="hasYellowedOutState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-4">
                <div class="intro">
                  <h6>درجة حرارة مرتفعة ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="riseInTemperature" :options="options2" :state="riseInTemperatureState" name="riseInTemperature">
                    <b-form-invalid-feedback :state="riseInTemperatureState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="question-for-birth">
              <div class="question-for-birth-title">
                <h6> هل احتاج الطفل الي ؟ </h6>
              </div>
              <div class="row">
                <div class="col-md-6">
                <div class="intro">
                  <h6>نقل دم ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="hasBloodTransfusion" :options="options2" :state="hasBloodTransfusionState" name="hasBloodTransfusion">
                    <b-form-invalid-feedback :state="hasBloodTransfusionState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-6">
                <div class="intro">
                  <h6>اكسجين ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="hasOxygen" :options="options2" :state="hasOxygenState" name="hasOxygen">
                    <b-form-invalid-feedback :state="hasOxygenState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-6">
                <div class="intro">
                  <h6>مساعدة في تسهيل عملية الاخراج ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="facilitateProcessOfDirecting" :options="options2" :state="facilitateProcessOfDirectingState" name="facilitateProcessOfDirectingState">
                    <b-form-invalid-feedback :state="facilitateProcessOfDirectingState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-6">
                <div class="intro">
                  <h6>مساعدة في تسهيل عملية التبول ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="facilitateProcessOfUrination" :options="options2" :state="facilitateProcessOfUrinationState" name="facilitateProcessOfUrinationState">
                    <b-form-invalid-feedback :state="facilitateProcessOfUrinationState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>
              </div>
            </div>
          </div>

          <div class="nervousness">
          <div class="intro">
					<h3>ما بعد الولادة ؟
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

           <div class="col-md-12">

              <div class="question-for-birth-title">
                <h6>هل تم اجراء الفحوصات الاتية ؟</h6>
              </div>
           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6>بصر ؟</h6>
                   <b-form-radio-group color="#DDD" v-model="sightExamin" :options="options2" :state="sightExaminState" name="sightExamin">
            <b-form-invalid-feedback :state="sightExaminState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا البحث"

              >
              <input placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
           </div>

                </li>
                <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6>سمع</h6>
                 <b-form-radio-group color="#DDD" v-model="hearingExamin" :options="options2" :state="hearingExaminState" name="hearingExamin">
            <b-form-invalid-feedback :state="hearingExaminState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                     <div class="">
                <div class="intro">
                  <h6>تخطيط دماغ</h6>
                   <b-form-radio-group color="#DDD" v-model="EEGExamin" :options="options2" :state="EEGExaminState" name="EEGExamin">
            <b-form-invalid-feedback :state="EEGExaminState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input placeholder="النتيجة " class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">

                      <div class="">
                <div class="intro">
                  <h6> صورة طبقية</h6>
                   <b-form-radio-group color="#DDD" v-model="stratifiedImageExamin" :options="options2" :state="stratifiedImageExaminState" name="stratifiedImageExamin">
            <b-form-invalid-feedback :state="stratifiedImageExaminState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input placeholder="النتيجة " class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">
                      <div class="">
                <div class="intro">
                  <h6> رنين مغناطيسي</h6>
                   <b-form-radio-group color="#DDD" v-model="magneticResonanceExamin" :options="options2" :state="magneticResonanceExaminState" name="magneticResonanceExamin">
            <b-form-invalid-feedback :state="magneticResonanceExaminState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input placeholder="النتيجة " class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                         <div class="">
                <div class="intro">
                  <h6> تحاليل طبيه</h6>
                   <b-form-radio-group color="#DDD" v-model="medicalTestsExamin" :options="options2" :state="medicalTestsExaminState" name="medicalTestsExamin">
            <b-form-invalid-feedback :state="medicalTestsExaminState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">
                       <div class="">
                <div class="intro">
                  <h6>  فحص هرمونات</h6>
                   <b-form-radio-group color="#DDD" v-model="hormoneExamin" :options="options2" :state="hormoneExaminState" name="hormoneExamin">
            <b-form-invalid-feedback :state="hormoneExaminState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">

    <div class="">
                <div class="intro">
                  <h6>  فحص جينات</h6>
                   <b-form-radio-group color="#DDD" v-model="geneticExamin" :options="options2" :state="geneticExaminState" name="geneticExamin">
            <b-form-invalid-feedback :state="geneticExaminState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6> فحوصات اخري</h6>
                   <b-form-radio-group color="#DDD" v-model="otherExamins" :options="options2" :state="otherExaminsState" name="otherExamins">
            <b-form-invalid-feedback :state="otherExaminsState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هذه نتيجة لهذا الفحص"

              >
              <input placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>



                </li>

<li class="col-md-6">


                <div class="">
                <div class="intro">
                  <h6> هل الطفل لديه حساسية لشئ معين ؟ </h6>
                   <b-form-radio-group color="#DDD" v-model="hasAllergy" :options="options2" :state="hasAllergyState" name="hasAllergy">
            <b-form-invalid-feedback :state="hasAllergyState">اختر واحدة من فضلك</b-form-invalid-feedback>
                <div v-if="hasAllergy == 'yes'">
                   <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 "
              description="أذكر ما هي في حالة نعم ؟"
              >
              <input placeholder="ماهي" class="textbox-n form-control" type="text" >
              </b-form-group>
                </div>
          </b-form-radio-group>

                </div>
              </div>



                </li>


                <li class="col-md-6">


                <div class="">
                <div class="intro">
                  <h6>  هل حدثت له نوبات تشنجية ؟</h6>
                   <b-form-radio-group color="#DDD" v-model="convulsiveSeizures" :options="options2" :state="convulsiveSeizuresState" name="convulsiveSeizuresState">
            <b-form-invalid-feedback :state="convulsiveSeizuresState">اختر واحدة من فضلك</b-form-invalid-feedback>
                <div v-if="convulsiveSeizures == 'yes'">
                   <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر اسباب هذه النوبة التشنجية"

              >
              <input placeholder="ما هي الاسباب" class="textbox-n form-control" type="text" >
              </b-form-group>
                </div>
          </b-form-radio-group>

                </div>
              </div>



                </li>


                <li class="col-md-12">


                <div class="">
                <div class="intro">
                  <h6>  هل مازالت موجودة ؟</h6>
                   <b-form-radio-group color="#DDD" v-model="stillWithHim" :options="options2" :state="stillWithHimState" name="stillWithHim">
            <b-form-invalid-feedback :state="stillWithHimState">اتر واحدة من فضلك</b-form-invalid-feedback>
                <div v-if="stillWithHim == 'yes'">
                   <b-form-group
                    id="fieldset-horizontal"
                    class="col-md-12"
                    description="في حالة الاجابة بنعم اجب علي الاتي"

                    >
                    <input placeholder="النتيجة" class="textbox-n form-control" type="text" >
                    </b-form-group>
                    <b-form-group
                    id="fieldset-horizontal"
                    class="col-md-12"
                    description="اذكر الاعراض لها "

                    >
                    <input placeholder="الاعراض" class="textbox-n form-control" type="text" >
                    </b-form-group>

                    <b-form-group
                    id="fieldset-horizontal"
                    class="col-md-12"
                    description="اذكر الحدة لها "

                    >
                    <input placeholder="الحدة " class="textbox-n form-control" type="text" >
                    </b-form-group>

                     <b-form-group
                    id="fieldset-horizontal"
                    class="col-md-12"
                    description="اذكر الادوية لها "

                    >
                    <input placeholder="الادوية " class="textbox-n form-control" type="text" >
                    </b-form-group>
                </div>
          </b-form-radio-group>

                </div>
              </div>



                </li>

                </div>
              </ul>



           </div>
           </div>
           </div>



           </div>



          <!-- Start of هل اصيب باي الامراض الاتيةفي الطفولة  -->
 <div class="nervousness">

          <div class="row">

           <div class="col-md-12">

              <div class="title-child-tired">
                <h6>هل الطفل اصيب بأي الامراض الاتية في مرحلة الطفولة المبكرة ؟</h6>
              </div>
           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6> التهاب السحايا</h6>
                   <b-form-radio-group color="#DDD" v-model="meningitisDisease" :options="options2" :state="meningitisDiseaseState" name="meningitisDisease">
            <b-form-invalid-feedback :state="meningitisDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
           </div>

                </li>
                <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6>التهاب الدماغ</h6>
                 <b-form-radio-group color="#DDD" v-model="encephalitisDisease" :options="options2" :state="encephalitisDiseaseState" name="encephalitisDisease">
            <b-form-invalid-feedback :state="encephalitisDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                     <div class="">
                <div class="intro">
                  <h6> الاختناق</h6>
                   <b-form-radio-group color="#DDD" v-model="chokingDisease" :options="options2" :state="chokingDiseaseState" name="chokingDisease">
            <b-form-invalid-feedback :state="chokingDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">

                      <div class="">
                <div class="intro">
                  <h6>  التسمم</h6>
                   <b-form-radio-group color="#DDD" v-model="poisoningDisease" :options="options2" :state="poisoningDiseaseState" name="poisoningDisease">
            <b-form-invalid-feedback :state="poisoningDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">
                      <div class="">
                <div class="intro">
                  <h6> حوادث و اصابات </h6>
                   <b-form-radio-group color="#DDD" v-model="accidentsAndInjuriesDisease" :options="options2" :state="accidentsAndInjuriesDiseaseState" name="accidentsAndInjuriesDisease">
            <b-form-invalid-feedback :state="accidentsAndInjuriesDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                         <div class="">
                <div class="intro">
                  <h6>  التهاب الانف و الاذن و الحنجرة</h6>
                   <b-form-radio-group color="#DDD" v-model="earNoseThroatDisease" :options="options2" :state="earNoseThroatDiseaseState" name="earNoseThroatDisease">
            <b-form-invalid-feedback :state="earNoseThroatDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">
                       <div class="">
                <div class="intro">
                  <h6>  اورام </h6>
                   <b-form-radio-group color="#DDD" v-model="tumorsDisease" :options="options2" :state="tumorsDiseaseState" name="tumorsDisease">
            <b-form-invalid-feedback :state="tumorsDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">

    <div class="">
                <div class="intro">
                  <h6>  سوء تغذية </h6>
                   <b-form-radio-group color="#DDD" v-model="malnutritionDisease" :options="options2" :state="malnutritionDiseaseState" name="malnutritionDisease">
            <b-form-invalid-feedback :state="malnutritionDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>  اضطرابات في الغدد</h6>
                   <b-form-radio-group color="#DDD" v-model="endocrineDisordersDisease" :options="options2" :state="endocrineDisordersDiseaseState" name="endocrineDisorders">
            <b-form-invalid-feedback :state="endocrineDisordersDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                 <li class="col-md-12">


                <div class="">
                <div class="intro">
                  <h6> امراض اخري ؟</h6>
                        <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر الامراض الاخري "
                          rows="3"
                          no-resize
                        ></b-form-textarea>

                </div>
              </div>



                </li>






                </div>
              </ul>



           </div>
           </div>
           </div>



           </div>
<!-- End Of هل اصيب الطفل باي الامراض التية -->


        </div>
       </div>
     </tab-content>
     <tab-content title="التقييم الرسمي"
                  icon="fas fa-user-tie">

      <!-- Start of التقييم الرسمي  -->

     <div class="motor-growth">
            <div class="intro">
              <h3>النمو الحركي
				  <i class="fas fa-heart"></i>
			  </h3>
            </div>
            <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل عمر الطف عند الحبو"
          class="col-md-6"
          >
            <b-form-input v-model="name" id="input-horizontal" placeholder="العمر عند الحبو"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطف عند الجلوس"
          >
            <b-form-input id="input-horizontal" placeholder="العمر عند الجلوس "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطف عند الوقوف"

          >
          <input placeholder="العمر عند الوقوف " class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>
           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطف عند المشي"

          >
          <input placeholder="العمر عند المشي " class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>
          </div>


          <div class="row">

           <div class="col-md-12">


           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-6">
                  <div class="">
                <div class="intro">
                  <h6> هل يوجد لديه خلع او كسر ؟</h6>
                   <b-form-radio-group color="#DDD" v-model="takeOffOrBreak" :options="options2" :state="takeOffOrBreakState" name="TakeOffOrBreak">
            <b-form-invalid-feedback :state="takeOffOrBreakState">اختر واحدة من فضلك</b-form-invalid-feedback>
            <b-form-valid-feedback :state="takeOffOrBreakState">
               <div v-if="value2 == 'yes'">
                   <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر مكانه في حال الاجابة بنعم"

              >
              <input placeholder="الاسباب" class="textbox-n form-control" type="text" >
              </b-form-group>
                </div>
            </b-form-valid-feedback>
          </b-form-radio-group>

                </div>
           </div>

                </li>



                <li class="col-md-6">
                  <div class="">
                <div class="intro">
                  <h6> هل لديه اعاقة او عجز في الحركة ؟</h6>
                 <b-form-radio-group color="#DDD" v-model="obstructionOrDisability" :options="options2" :state="obstructionOrDisabilityState" name="ObstructionOrDisability">
            <b-form-invalid-feedback :state="obstructionOrDisabilityState">اختر واحدة من فضلك</b-form-invalid-feedback>
                <b-form-valid-feedback :state="obstructionOrDisabilityState">
               <div v-if="obstructionOrDisability == 'yes'">
                   <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر نوع هذا العجز او الاعاقة "

              >
              <input placeholder=" نوعها" class="textbox-n form-control" type="text" >
              </b-form-group>
                                <h6>هل يستخدم اجهزه مساعدة في الحركة ؟ </h6>

               <b-form-radio-group color="#DDD" v-model="auxiliaryDevices" :options="options2" :state="auxiliaryDevicesState" name="auxiliaryDevices">
            <b-form-invalid-feedback :state="auxiliaryDevicesState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

                </div>
            </b-form-valid-feedback>
          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-12">
                     <div class="">
                <div class="intro">
                  <h6> ماهي الصعوبات التي يعاني منها طفلك ؟</h6>
                        <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر الامراض الاخري "
                          rows="3"
                          no-resize
                        ></b-form-textarea>

                </div>
              </div>

                </li>


                </div>
              </ul>



           </div>
           </div>
           </div>



           </div>



      <!-- End of التقييم الرسمي  -->
      <!-- Start of النمو اللغوي للطفل -->

 <div class="motor-growth">
            <div class="intro">
              <h3>النمو اللغوي
				  <i class="fas fa-heart"></i>
			  </h3>
            </div>
            <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل عمر الطفل عند المناغاة و اصدار الصوت"
          class="col-md-4"
          >
            <b-form-input v-model="name" id="input-horizontal" placeholder="عمره عند اصدار الصوت و المناغاة"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-4 "
          description="من فضلك ادخل عمر الطفل عند نطق اول كلمه"
          >
            <b-form-input id="input-horizontal" placeholder="عمره عند نطق اول كلمه "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-4 "
          description="من فضلك ادخل عمره عند نطق اول جملة "

          >
          <input placeholder="عمره عند نطق اول جملة " class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>

          </div>


          <div class="row">

           <div class="col-md-12">


           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-12">
                  <div class="">
                <div class="intro">
                  <h6> ماذا يستخدم للتعبير عن نفسه</h6>
                   <b-form-radio-group color="#DDD" v-model="expressHimself" :options="useWhenExpressHimself" :state="expressHimselfState" name="expressHimself">
            <b-form-invalid-feedback :state="expressHimselfState">اختر واحدة من فضلك</b-form-invalid-feedback>
            <b-form-valid-feedback :state="expressHimselfState">

            </b-form-valid-feedback>
          </b-form-radio-group>

                </div>
           </div>

                </li>



                <li class="col-md-10">
                  <div class="">
                <div class="intro">
                  <h6> الصفة الغالبة عند نطق الطفل ؟</h6>
                 <b-form-radio-group color="#DDD" v-model="adjectiveChildSpeaks" :options="commonWhenSpokeOpt" :state="adjectiveChildSpeaksState" name="adjectiveChildSpeaks">
            <b-form-invalid-feedback :state="adjectiveChildSpeaksState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-12">
                     <div class="">
                <div class="intro">
                  <h6> ماهي الصعوبات التي يعاني منها طفلك ؟</h6>
                        <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر الامراض الاخري "
                          rows="3"
                          no-resize
                        ></b-form-textarea>

                </div>
              </div>

                </li>

                 <li class="col-md-6">
                  <div class="intro">
                  <h6> هل حصل علي تدريب نطق ؟</h6>
                 <b-form-radio-group color="#DDD" v-model="hasPronunciationTraining" :options="options" :state="hasPronunciationTrainingState" name="hasPronunciationTraining">
            <b-form-invalid-feedback :state="hasPronunciationTrainingState">اختر واحدة من فضلك</b-form-invalid-feedback>
               <b-form-valid-feedback :state="hasPronunciationTrainingState">
                <div v-if="hasPronunciationTraining =='yes'">
                    <b-form-group
                      id="fieldset-horizontal"
                      description="ادخل مدة التدريب في حال الاجابة نعم "

                      >
                      <input placeholder="المدة " class="textbox-n form-control" type="number">
                      </b-form-group>

                      <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="  نتيجة هذا التدريب "
                          rows="3"
                          no-resize
                        ></b-form-textarea>
                </div>
              </b-form-valid-feedback>
          </b-form-radio-group>

                </div>
                </li>

                <li class="col-md-6" style="margin-top: 8px">

                      <h6>هل توقف عن الكلام في اي مرحلة من عمره ؟</h6>

                    <b-form-radio-group color="#DDD" v-model="hasStopTalking" :options="options2" :state="hasStopTalkingState" name="hasStopTalking">
                  <b-form-invalid-feedback :state="hasStopTalkingState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  <b-form-valid-feedback :state="hasStopTalkingState">
                      <div v-if="hasStopTalking == 'yes'">
                         <b-form-group
                          id="fieldset-horizontal"

                          description="ادخل العمر الطفل في هذا الوقت "

                          >
                          <input placeholder="العمر حينها " class="textbox-n form-control" type="number">
                          </b-form-group>
                             <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="من فضلك اذكر السبب "
                          rows="3"
                          no-resize
                        ></b-form-textarea>
                      </div>
            </b-form-valid-feedback>
                </b-form-radio-group>

                </li>

                <li class="col-md-6">
                  <div class="intro">
                  <h6> هل يتكلم مع اخواته ؟</h6>
                 <b-form-radio-group color="#DDD" v-model="talkingWithDaughter" :options="options" :state="talkingWithDaughterState" name="talkingWithDaughter">
            <b-form-invalid-feedback :state="talkingWithDaughterState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
                </li>





                  <li class="col-md-6">
                  <div class="intro">
                  <h6> ماهي اللغة داخل المنزل</h6>
                   <b-form-group
                      id="fieldset-horizontal"
                      description="ادخل اللغة المستخدمة داخل المنزل"
                      >
                        <b-form-input id="input-horizontal" placeholder="اللغة داخل المنزل"></b-form-input>
                      </b-form-group>


                </div>
                </li>

                </div>
              </ul>



           </div>
           </div>
           </div>



           </div>



      <!-- End Of النمو اللغوي للطفل -->


      <!-- Start of النمو السسلوكي للطفل -->

      <div class="nervousness">
         <div class="intro">
					<h3>النمو السلوكي للاطفال
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

           <div class="col-md-12">

              <div class="title-child-tired">
                <h6>هل يوجد لديه اي من المشاكل الاتية ؟</h6>
              </div>
           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6> قضم اظافر</h6>
                   <b-form-radio-group color="#DDD" v-model="nailBiting" :options="options2" :state="nailBitingState" name="nailBiting">
            <b-form-invalid-feedback :state="nailBitingState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
           </div>

                </li>
                <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6>تبول لا ارادي </h6>
                 <b-form-radio-group color="#DDD" v-model="bedwetting" :options="options2" :state="bedwettingState" name="bedwetting">
            <b-form-invalid-feedback :state="bedwettingState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                     <div class="">
                <div class="intro">
                  <h6> صراخ | بكاء شديد</h6>
                   <b-form-radio-group color="#DDD" v-model="SevereCrying" :options="options2" :state="SevereCryingState" name="SevereCrying">
            <b-form-invalid-feedback :state="SevereCryingState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">

                      <div class="">
                <div class="intro">
                  <h6> مص الاصابع</h6>
                   <b-form-radio-group color="#DDD" v-model="SuckingFingers" :options="options2" :state="SuckingFingersState" name="SuckingFingers">
            <b-form-invalid-feedback :state="SuckingFingersState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">
                      <div class="">
                <div class="intro">
                  <h6>ايذاء الذات </h6>
                   <b-form-radio-group color="#DDD" v-model="selfHarm" :options="options2" :state="selfHarmState" name="selfHarm">
            <b-form-invalid-feedback :state="selfHarmState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                         <div class="">
                <div class="intro">
                  <h6> عدوانية</h6>
                   <b-form-radio-group color="#DDD" v-model="aggression" :options="options2" :state="aggressionState" name="aggression">
            <b-form-invalid-feedback :state="aggressionState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">
                       <div class="">
                <div class="intro">
                  <h6> خوف و قلق شديد </h6>
                   <b-form-radio-group color="#DDD" v-model="intenseFearAnxiety" :options="options2" :state="intenseFearAnxietyState" name="intenseFearAnxiety">
            <b-form-invalid-feedback :state="intenseFearAnxietyState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">

    <div class="">
                <div class="intro">
                  <h6> شرود و انسحاب</h6>
                   <b-form-radio-group color="#DDD" v-model="fugueAndWithdrawal" :options="options2" :state="fugueAndWithdrawalState" name="fugueAndWithdrawal">
            <b-form-invalid-feedback :state="fugueAndWithdrawalState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>سلوك نمطي مزمن</h6>
                   <b-form-radio-group color="#DDD" v-model="chronicStereotypicalBehavior" :options="options2" :state="chronicStereotypicalBehaviorState" name="chronicStereotypicalBehavior">
            <b-form-invalid-feedback :state="chronicStereotypicalBehaviorState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                  <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>نشاط زائد</h6>
                   <b-form-radio-group color="#DDD" v-model="moreActive" :options="options2" :state="moreActiveState" name="moreActive">
            <b-form-invalid-feedback :state="moreActiveState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                  <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>خجل و انظوائية</h6>
                   <b-form-radio-group color="#DDD" v-model="shyAndIntroverted" :options="options2" :state="shyAndIntrovertedState" name="shyAndIntroverted">
            <b-form-invalid-feedback :state="shyAndIntrovertedState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                  <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>مشاكل في النوم</h6>
                   <b-form-radio-group color="#DDD" v-model="sleepProblems" :options="options2" :state="sleepProblemsState" name="sleepProblems">
            <b-form-invalid-feedback :state="sleepProblemsState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                  <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>عض</h6>
                   <b-form-radio-group color="#DDD" v-model="bite" :options="options2" :state="biteState" name="bite">
            <b-form-invalid-feedback :state="biteState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>

                <li class="col-md-12" style="margin:10px 0 ">
                  <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="هل يوجد لديه مشاكل غير المذكورة اعلاه ؟ "
                          rows="3"
                          no-resize
                        ></b-form-textarea>
                </li>



                </div>
              </ul>

                <div class="ques-textarea col-md-12">
                  <div class="row">
                  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اهم معززات الطفل "
                          rows="3"
                          no-resize
                      ></b-form-textarea>
                  </div>
                  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="ماهو السلوك المعتاد لضبط سلوكة من قبل الوالدين"
                          rows="3"
                          no-resize
                      ></b-form-textarea>
                  </div>

                </div>
                </div>




           </div>
           </div>









			<div style="border-top: 1px solid #ff9508; margin: 40px 0;" class="motor-growth col-md-12">
            <div class="intro">
              <h3>النمو الاجتماعي للطفل
				  <i class="fas fa-heart"></i>
			  </h3>
            </div>


			<div class="row">
				<div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر العلاقة مع الاصدقاء"
                          rows="3"
                          no-resize
                      ></b-form-textarea>
                  </div>

				  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="هل يفضل الالعاب الجماعية ام الفردية ؟"
                          rows="3"
                          no-resize
                      ></b-form-textarea>
                  </div>

				  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر العلاقة مع الوالدين"
                          rows="3"
                          no-resize
                      ></b-form-textarea>
                  </div>

				  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر العلاقة مع الاخوة"
                          rows="3"
                          no-resize
                      ></b-form-textarea>
                  </div>



			  <div class="col-md-6">
                <div class="intro">
                  <h6>يتناول طعام</h6>
                   <b-form-radio-group color="#DDD" v-model="eatingFoodType" :options="personalCareOpt" :state="eatingFoodTypeState" name="eatingFoodState">

          </b-form-radio-group>

                </div>
              </div>

			  <div class="col-md-6">
                <div class="intro">
                  <h6>يستحم</h6>
                   <b-form-radio-group color="#DDD" v-model="takesShower" :options="personalCareOpt" :state="takesShowerState" name="takesShowerState">

          </b-form-radio-group>

                </div>
              </div>


			   <div class="col-md-6">
                <div class="intro">
                  <h6>يستعمل الحمام</h6>
                   <b-form-radio-group color="#DDD" v-model="useBathroom" :options="personalCareOpt" :state="useBathroomState" name="useBathroomState">

          </b-form-radio-group>

                </div>
              </div>


			   <div class="col-md-6">
                <div class="intro">
                  <h6>يرتدي ملابسه</h6>
                   <b-form-radio-group color="#DDD" v-model="gettingDressed" :options="personalCareOpt" :state="gettingDressedState" name="gettingDressedState">

          </b-form-radio-group>

                </div>
              </div>


			   <div class="col-md-6">
                <div class="intro">
                  <h6> يغسل يديه ووجهه</h6>
                   <b-form-radio-group color="#DDD" v-model="handAndFaceWash" :options="personalCareOpt" :state="handAndFaceWashState" name="handAndFaceWashState">

          </b-form-radio-group>

                </div>
              </div>


			    <div class="col-md-6">
                <div class="intro">
                  <h6>يعبر عن حاجته لدخول الحمام</h6>
                   <b-form-radio-group color="#DDD" v-model="askAboutBathroom" :options="personalCareOpt" :state="askAboutBathroomState" name="askAboutBathroomState">

          </b-form-radio-group>

                </div>
              </div>

			    <div class="col-md-12 text-center">
                <div class="intro">
                  <h6> يبدو مرتبا ونظيفا في الغالب</h6>
                   <b-form-radio-group color="#DDD" v-model="theoristAndBody" :options="options2" :state="theoristAndBodyState" name="theoristAndBodyState">

          </b-form-radio-group>

                </div>
              </div>

			</div>


           </div>














           </div>

           </div>

      <!-- End Of النمو السلوكي للطفل -->
     </tab-content>
      <tab-content title="التقييم الرسمي"
                  icon="fas fa-user-tie">
          <div class="edit-behavior">
            <div class="motherinfo-title">
					<div class="intro">
						<h3>برنامج تعديل السلوك
						<i class="fas fa-heart"></i>
					</h3>
					</div>

				</div>
            <div class="row">
              <div class="col-md-12 text-center">
                <label for="range-1"> أحتمالية التوحد  {{value + '%'}} </label>
                <b-form-input id="range-1" v-model="value" type="range" min="0" max="100"></b-form-input>
              </div>
               <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="برنامج تعديل السلوك  "
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>

          <div class="col-md-6">
           <b-form-textarea
            id="textarea-no-resize"
            placeholder="التوصيات العامة"
            rows="3"
            no-resize
          ></b-form-textarea>
         </div>


            </div>
          </div>
      </tab-content>
 </form-wizard>


    </div>
  </div>
  </div>
</template>

<script>

//global registration
import VueFormWizard from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'

//local registration
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
//component code

export default {



data() {
      return {

		name:'',
		value: '',
		isDNA: '',
		childHasDiseases: '',
		stressDuringPregnancy: '',
		rubella: '',
		eclampsia: '',
		injuriesOrAccidents: '',
		chronicDiseases: '',
		smoking:'',
		rays: '',
		drugs: '',
		birthType: '',
		hasCyanosis:'',
		hasYellowedOut: '',
		riseInTemperature:'',
		hasBloodTransfusion:'',
		hasOxygen: '',
		facilitateProcessOfDirecting:'',
		facilitateProcessOfUrination:'',


		sightExamin: '',
		hearingExamin: '',
		EEGExamin: '',
		stratifiedImageExamin: '',
		magneticResonanceExamin: '',
		medicalTestsExamin: '',
		hormoneExamin:'',
		geneticExamin: '',
		otherExamins: '',


		hasAllergy: '',
		convulsiveSeizures: '',
		stillWithHim: '',


		meningitisDisease: '',
		encephalitisDisease: '',
		chokingDisease: '',
		poisoningDisease: '',
		accidentsAndInjuriesDisease: '',
		earNoseThroatDisease: '',
		tumorsDisease: '',
		malnutritionDisease:'',
		endocrineDisordersDisease: '',


		takeOffOrBreak: '',
		obstructionOrDisability:'',
		auxiliaryDevices: '',




		expressHimself:'',
		adjectiveChildSpeaks: '',
		hasPronunciationTraining: '',
		hasStopTalking: '',
		talkingWithDaughter: '',




		nailBiting:'',
		bedwetting: '',
		SevereCrying: '',
		SuckingFingers: '',
		selfHarm: '',
		aggression:'',
		intenseFearAnxiety: '',
		fugueAndWithdrawal: '',
		chronicStereotypicalBehavior:'',
		moreActive: '',
		shyAndIntroverted: '',
		sleepProblems: '',
		bite: '',




		eatingFoodType: '',
		takesShower: '',
		useBathroom: '',
		gettingDressed: '',
		handAndFaceWash:'',
		askAboutBathroom: '',
		theoristAndBody: '',




		personalCare:null,
        commonWhenSpoke: null,
		birthVal: null,
		personalCareOpt: [
			{text: "بأستقلالية",value: "independant"},
			{text: "بمساعدة",value: "help"},
			{text: "برعاية تامة",value: "care"},

		],
        commonWhenSpokeOpt: [
           { text: 'الاصوات فقط', value: 'voices' },
          { text: 'الكلمات المفردة فقط', value: 'individual-Words' },
           { text: 'جملة مؤلفة من كلمتين', value: 'sentance of two words' },
          { text: 'جملة مؤلفة من كلمتين', value: 'sentance of three words' },
          { text: 'تزيد عن ذالك', value: 'more-than' },

		],
		useWhenExpressHimself: [
			{text:"الكلام",value:"talking"},
			{text:"الاشارة",value:"flag"},
			{text:"كلاهما",value:"both"},

		],
        options: [
          { text: 'نعم', value: 'yes' },
          { text: 'لا', value: 'no' },
        ],
        options2: [
          { text: 'نعم', value: 'yes' },
          { text: 'لا', value: 'no' },
        ],
        birth: [
           { text: 'طبيعية', value: 'natural' },
          { text: 'قيصرية', value: 'Caesarean-section' },
          { text: 'ادوات مساعدة', value: 'helper-tools' },
        ],
        form: {
          email: '',
          name: '',
          checked: [],

        },
        show: true
      }
    },
    methods: {
      onComplete: function(){
          alert('Yay. Done!');
       }
    },
      computed: {
        state() {
          return Boolean(this.value)
		},
		isDNAState() {
          return Boolean(this.isDNA)
		},
		stressDuringPregnancyState(){
			return Boolean(this.stressDuringPregnancy)
		},
		childHasDiseasesState(){
			return Boolean(this.childHasDiseases)
		},

		rubellaState(){
			return Boolean(this.rubella)
		},

		injuriesOrAccidentsState(){
			return Boolean(this.injuriesOrAccidents)
		},

		chronicDiseasesState(){
			return Boolean(this.chronicDiseases)
		},

		eclampsiaState(){
			return Boolean(this.eclampsia)
		},

		smokingState(){
			return Boolean(this.smoking)
		},

		raysState(){
			return Boolean(this.rays)
		},

		drugsState(){
			return Boolean(this.drugs)
		},

		birthTypeState(){
			return Boolean(this.birthType)
		},

		hasCyanosisState(){
			return Boolean(this.hasCyanosis)
		},

		hasYellowedOutState(){
			return Boolean(this.hasYellowedOut)
		},

		riseInTemperatureState(){
			return Boolean(this.riseInTemperature)
		},

		hasBloodTransfusionState(){
			return Boolean(this.hasBloodTransfusion)
		},

		hasOxygenState(){
			return Boolean(this.hasOxygen)
		},

		facilitateProcessOfDirectingState(){
			return Boolean(this.facilitateProcessOfDirecting)
		},

		facilitateProcessOfUrinationState(){
			return Boolean(this.facilitateProcessOfUrination)
		},




		sightExaminState(){
			return Boolean(this.sightExamin)
		},

		hearingExaminState(){
			return Boolean(this.hearingExamin)
		},

		EEGExaminState(){
			return Boolean(this.EEGExamin)
		},

		stratifiedImageExaminState(){
			return Boolean(this.stratifiedImageExamin)
		},

		magneticResonanceExaminState(){
			return Boolean(this.magneticResonanceExamin)
		},

		medicalTestsExaminState(){
			return Boolean(this.medicalTestsExamin)
		},

		hormoneExaminState(){
			return Boolean(this.hormoneExamin)
		},

		geneticExaminState(){
			return Boolean(this.geneticExamin)
		},

		otherExaminsState(){
			return Boolean(this.otherExamins)
		},




		hasAllergyState(){
			return Boolean(this.hasAllergy)
		},

		convulsiveSeizuresState(){
			return Boolean(this.convulsiveSeizures)
		},

		stillWithHimState(){
			return Boolean(this.stillWithHim)
		},




		meningitisDiseaseState(){
			return Boolean(this.meningitisDisease)
		},

		encephalitisDiseaseState(){
			return Boolean(this.encephalitisDisease)
		},

		chokingDiseaseState(){
			return Boolean(this.chokingDisease)
		},

		poisoningDiseaseState(){
			return Boolean(this.poisoningDisease)
		},

		accidentsAndInjuriesDiseaseState(){
			return Boolean(this.accidentsAndInjuriesDisease)
		},

		earNoseThroatDiseaseState(){
			return Boolean(this.earNoseThroatDisease)
		},

		tumorsDiseaseState(){
			return Boolean(this.tumorsDisease)
		},

		malnutritionDiseaseState(){
			return Boolean(this.malnutritionDisease)
		},

		endocrineDisordersDiseaseState(){
			return Boolean(this.endocrineDisordersDisease)
		},





		takeOffOrBreakState(){
			return Boolean(this.takeOffOrBreak)
		},
		obstructionOrDisabilityState(){
			return Boolean(this.obstructionOrDisability)
		},
		auxiliaryDevicesState(){
			return Boolean(this.auxiliaryDevices)
		},



		expressHimselfState(){
			return Boolean(this.expressHimself)
		},
		adjectiveChildSpeaksState(){
			return Boolean(this.adjectiveChildSpeaks)
		},
		hasPronunciationTrainingState(){
			return Boolean(this.hasPronunciationTraining)
		},
		hasStopTalkingState(){
			return Boolean(this.hasStopTalking)
		},
		talkingWithDaughterState(){
			return Boolean(this.talkingWithDaughter)
		},





		nailBitingState(){
			return Boolean(this.nailBiting)
		},
		bedwettingState(){
			return Boolean(this.bedwetting)
		},
		SevereCryingState(){
			return Boolean(this.SevereCrying)
		},
		SuckingFingersState(){
			return Boolean(this.SuckingFingers)
		},
		selfHarmState(){
			return Boolean(this.selfHarm)
		},
		aggressionState(){
			return Boolean(this.aggression)
		},
		intenseFearAnxietyState(){
			return Boolean(this.intenseFearAnxiety)
		},
		fugueAndWithdrawalState(){
			return Boolean(this.fugueAndWithdrawal)
		},
		chronicStereotypicalBehaviorState(){
			return Boolean(this.chronicStereotypicalBehavior)
		},
		moreActiveState(){
			return Boolean(this.moreActive)
		},
		shyAndIntrovertedState(){
			return Boolean(this.shyAndIntroverted)
		},
		sleepProblemsState(){
			return Boolean(this.sleepProblems)
		},
		biteState(){
			return Boolean(this.bite)
		},





		eatingFoodTypeState(){
			return Boolean(this.eatingFoodType)
		},
		takesShowerState(){
			return Boolean(this.takesShower)
		},
		useBathroomState(){
			return Boolean(this.useBathroom)
		},
		gettingDressedState(){
			return Boolean(this.gettingDressed)
		},
		handAndFaceWashState(){
			return Boolean(this.handAndFaceWash)
		},
		askAboutBathroomState(){
			return Boolean(this.askAboutBathroom)
		},
		theoristAndBodyState(){
			return Boolean(this.theoristAndBody)
		},



		personalCareState(){
			return Boolean(this.personalCare)
		},
         state2() {
          return Boolean(this.value2)
        },
        birthState(){
          return Boolean(this.birthVal)
        },
        commonWhenSpokeState(){
          return Boolean(this.commonWhenSpoke)

        }
      },
    components: {
      FormWizard,
  TabContent
    }
  }
</script>

<style lang="scss" scoped>

*{
  direction: rtl;
}
.vue-form-wizard {
  direction: ltr;
  .wizard-nav-pills{
  direction: ltr;

  }
}
.question-about-mother{
        margin: 24px 0;

  div{
      text-align: center;

  }
}
.title-child-tired{
  padding: 24px 0;
}
.question-for-birth{
  .intro{
    text-align: center;
    padding: 20px 0;
  }
}
.nervousness{
  text-align: right;
  border-top:1px solid #ff3d00;

  h3{
       margin: 50px 0 14px;
  }
}
.custom-range{
  margin-bottom: 42px;
}

.valid-feedback{
  .d-block{
    width: 20%;
  }
}

 textarea{
    overflow-y: auto !important;
    margin-bottom: 30px;
  }
#example-datepicker{
  position: absolute;
    right: 0;
}
.form {
         border: 1px solid #333;
    padding: 14px 36px;
    /* margin: 25px 0; */
    background: #FFF;
    box-shadow: -2px 3px 13px -5px #5a5353;
  .report-title{
    text-align: center;
    margin: 10px 0 47px;

    h3{
    width: 259px;
    color: #ff9508;
    margin: 32px auto 44px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
        i{
               position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
        }
        &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
    }
  }
  .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;


  }
}
.intro{

	text-align: right;
    padding: 1px 0;
    margin: 25px 0;
    p{
      margin-bottom: 50px;
    }
    h3{
     width: 210px;
    color: #ff9508;
    margin: 32px auto 13px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
      i{
            position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
    }
       &::before{
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: -7px;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
    }
}
.motherinfo-title{
	border-top: 1px solid #ff3d00;
}
.motherinfo-title, .fatherinfo-title{
      width: 100%;
    text-align: right;
    margin-bottom: 20px;
}
.intro-info{
  h3{
 text-align: right;
    /* margin: 0 0 27px; */
    font-size: 18px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    color: #89837c;
  }
  p{
    margin-bottom: 15px;
  }

}
ul{    list-style-type: square;}
.unformal-rate{
  text-align: right;
  .feedback{
    h4{
      color:#89837c;
    }
  }
  h3{
        color: #ff9508;
    text-align: center;
    margin: 25px auto;
    padding-bottom: 18px !important;
    position: relative;
    width: 305px;
    font-size: 21px;
    i{
           position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;}
     &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }

  }
  ul{
    li{
      text-align: right;
    }
  }
}
.color{
	background: #f4f4f4;
	padding:50px 0
}

.unmain-test{
  text-align: right;
}

// motor growth
.motor-growth{
  text-align: right;
    border-top: 1px solid #ff9508;
  .motor-grow-title{
    padding-bottom: 15px;
    text-align:right;
	h3{
	position: relative;
    width: 197px;
    text-align: center;
	&::after{
	    content: '';
		position: absolute;
		height: 1px;
		width: 46%;
		background: #282529;
		bottom: -10px;
		left: 0;

	}
	&::before{
		content: '';
		height:1px;
		width: 46%;
		background: #282529;
		bottom:-10px;
		position: absolute;
		right:0
	}
	}
  }
}
</style>



/*
