<template>
  <div class="color" style="">
	  <div class="container">
    <div class="form">

<form-wizard subtitle="تعديل البيانات الشخصية لطالب" next-button-text="التالي" back-button-text="السابق" finish-button-text="حسنا" title="دراسة حالة جديدة" color="#FF9508" step-size="sm" @on-complete="onCompleate($route.params.id)">
     <tab-content title="معلومات شخصية"
                  icon="fas fa-users">

        <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل الاسم"
          class="col-md-6"
          >
            <b-form-input v-model="student.name" id="input-horizontal" placeholder="الاسم"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="اذا كان ذكر ام انثي"
          >
            <b-form-input v-model="student.gender" id="input-horizontal" placeholder="الجنس "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description=" من فضلك ادخل تاريخ ميلاد الطالب"

          >
          <input v-model="student.birthDate" placeholder="تاريخ الميلاد" class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>

            <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل مكان الولادة"

          >
          <input v-model="student.birthPlace" placeholder="مكان الولادة" class="textbox-n form-control" type="text" id="date">
          </b-form-group>


          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل الجنسية"

          >
          <input v-model="student.nationality" placeholder="الجنسية" class="textbox-n form-control" type="text">
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو ترتيب الطفل في الاسرة"

          >
          <input v-model="student.orderInFamilly" placeholder="ترتيب في الاسرة" class="textbox-n form-control" type="text" id="date">
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عدد افراد الاسرة"

          >
          <input v-model="student.famillyMembersCount" placeholder="عدد افراد الاسرة" class="textbox-n form-control" type="text" >
          </b-form-group>
			<!-- عنووووووووووووووووان الاقامة -->
           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عنوان الاقامة "

          >
          <input v-model="student.address" placeholder="عنوان الاقامة " class="textbox-n form-control" type="text" >
          </b-form-group>

           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو رقم الهاتف "

          >
          <input v-model="student.phone" placeholder="رقم الهاتف" class="textbox-n form-control" type="text" >
          </b-form-group>

           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="البريد الالكتروني ليصلك الجديد "

          >
          <input v-model="student.email" placeholder="بريد الالكتروني" class="textbox-n form-control" type="text" >
          </b-form-group>
			<h6> معلومات تسجيل الدخول</h6>
		    <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="اسم المستخدم للدخول به"

          >
          <input v-model="student.userName" placeholder="اسم المستخدم" class="textbox-n form-control" type="text" >
          </b-form-group>
  <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="كلمة السر يجب ان تكون قوية "

          >
          <input v-model="student.password" placeholder="كلمة السر" class="textbox-n form-control" type="text" >
          </b-form-group>


        <div class="col-md-12">
          <div class="intro">
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="وصف المشكلة بلغة الاهل  "
            rows="5"
            no-resize
			v-model="student.problemExplination"
          ></b-form-textarea>

        </div>
        </div>

          </div>

     </tab-content>
     <tab-content title="التقييم الغير رسمي"
                  icon="far fa-user">
       <div class="familyinfo">
         <div class="motherinfo">
               <div class="row">

			    <div class="motherinfo-title">
				<div class="intro">
					<h3>معلومات الام
						<i class="fas fa-heart"></i>
					</h3>
				</div>

            </div>

              <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="ماهو اسم الام "

                  >
                  <input v-model="student.motherName" placeholder="اسم الام" class="textbox-n form-control" type="text" >
            </b-form-group>

               <b-form-group
                id="fieldset-horizontal"
                class="col-md-6 mr-auto"
                description="ماهو العمر للام"

                >
                <input v-model="student.motherAge" placeholder="عمر الام" class="textbox-n form-control" type="text" >
                </b-form-group>

             <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو هو المستوي التعليمي للام"

          >
          <input v-model="student.motherEducation" placeholder="المستوي التعليمي للام" class="textbox-n form-control" type="text" >
          </b-form-group>


                <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عمر الام عند انجاب الطفل"

          >
          <input v-model="student.motherAgeAtChildbearing" placeholder="عمر الام عند الانجاب" class="textbox-n form-control" type="text" >
          </b-form-group>



           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عمل الام"
          cols="12"
          >
          <input v-model="student.motherWork" placeholder="عمل الام" class="textbox-n form-control" type="text" >
          </b-form-group>

                  <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو مكان عمل الام"

          >
          <input v-model="student.motherWorkPlace" placeholder="مكان عمل الام" class="textbox-n form-control" type="text" >
          </b-form-group>

                </div>

        </div>
       </div>
        <div class="fatherinfo">
          <div class="row">
             <div class="fatherinfo-title">
				 <div class="intro">
					<h3>معلومات الاب
						<i class="fas fa-heart"></i>
					</h3>
				</div>

            </div>

              <b-form-group
                  id="fieldset-horizontal"
                  class="col-md-6 mr-auto"
                  description="ماهو اسم الاب "

                  >
                  <input v-model="student.fatherName" placeholder="اسم الاب" class="textbox-n form-control" type="text" >
            </b-form-group>

               <b-form-group
                id="fieldset-horizontal"
                class="col-md-6 mr-auto"
                description="ماهو العمر للاب"

                >
                <input v-model="student.fatherAge" placeholder="عمر الاب" class="textbox-n form-control" type="text" >
                </b-form-group>

             <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو هو المستوي التعليمي للاب"

          >
          <input v-model="student.fatherEducation" placeholder="المستوي التعليمي للاب" class="textbox-n form-control" type="text" >
          </b-form-group>






           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="ماهو عمل الاب"
          cols="12"
          >
          <input v-model="student.fatherWork" placeholder="عمل االاب" class="textbox-n form-control" type="text" >
          </b-form-group>

                  <b-form-group
          id="fieldset-horizontal"
          class="col-md-12 mr-auto"
          description="ماهو مكان عمل الاب"

          >
          <input v-model="student.fatherWorkPlace" placeholder="مكان عمل االاب" class="textbox-n form-control" type="text" >
          </b-form-group>

                </div>

        </div>
        <div class="question">
         <div class="row">
            <b-form-group
          id="fieldset-horizontal"
          class="col-md-12 mr-auto"
          description="ماهي درجة القرابة بين الوالدين"
          cols="12"
          >
          <input v-model="student.degreeOfRelationship" placeholder="درجة القرابة" class="textbox-n form-control" type="text" >
          </b-form-group>


           <div class="col-md-12">
          <div class="intro">
            <h4>هل يوجد اعاقات في العائلة</h4>
          <b-form-radio-group id="radio-first-one" color="#DDD" v-model="student.disabilitiesInFamily" :options="options" :state="disabilitiesInFamilyState" name="DegreeRelationship">
            <b-form-invalid-feedback :state="disabilitiesInFamilyState">اختر واحدة من فضلك</b-form-invalid-feedback>
			<!-- ما هي القرااااابة في حالة نعم -->
            <div v-if="student.disabilitiesInFamily == '1'">
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="ما هي صلة القرابة بالطفل"

              >
              <input placeholder="صلة القرابة" class="textbox-n form-control" type="text" >
              </b-form-group>
            </div>
          </b-form-radio-group>

        </div>


        </div>
         </div>
        <div class="col-md-12">
          <div class="nervousness">
			  <div class="intro">
					<h3>الاضطراب
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">
			  <!-- الاضطراااااااااااب او  التشخيص السابق -->
             <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="نوع الاضطراب الموجود لدي الطفل من رأي الاهل | التشخيص السابق واذكر سببه اذا كان معروفا"

              >
              <input placeholder="نوع الاضطراب" class="textbox-n form-control" type="text" >
              </b-form-group>

                <div class="col-md-12">
          <div class="intro">
            <h6>هل هناك ما يشير إلى أن الاضطراب ناتج عن عوامل وراثية\ جينية؟</h6>
          <b-form-radio-group id="radio-first-two" color="#DDD" v-model="student.itsFromGenatic" :options="options" :state="itsFromGenaticState" name="isDNA">
            <b-form-invalid-feedback :state="itsFromGenaticState">اختر واحدة من فضلك</b-form-invalid-feedback>
				 <div v-if="student.itsFromGenatic == '1'">
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="سبب الاضطراب اذا كان معروف"

              >
              <input v-model="student.typeOfGenaticDisease" placeholder="اذكر سبب الاضطراب" class="textbox-n form-control" type="text" >
              </b-form-group>
            </div>
          </b-form-radio-group>

        </div>
        </div>

          </div>
        </div>
        </div>



         <div class="col-md-12">
          <div class="nervousness">
         <div class="intro">
					<h3>الامراض و الادوية
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

           <div class="col-md-12">
              <div class="intro">
            <h6>هل يعاني الطفل من اية امراض ؟</h6>
          <b-form-radio-group id="radio-first-three" color="#DDD" v-model="student.childHaveDisease" :options="options2" :state="childHaveDiseaseState" name="childHasDiseases">
            <b-form-invalid-feedback :state="childHaveDiseaseState">اختر واحدة من فضلك</b-form-invalid-feedback>
            <div v-if="student.childHaveDisease == '1'">
                <div class="row">
					 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="الامراض الذي يعاني منا الطفل"

              >
			  <!-- النوع المرض في حاااااااااااااااالة نعم -->
              <input placeholder="في حال اإلجابة بنعم, ما هي هذه الامراض" class="textbox-n form-control" type="text" >
              </b-form-group>
				</div>
			  <div class="intro">
				  <!-- ماهي الادوية و الجرعات التي يأخذها الطفل -->
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="ماهي الادوية و الجرعات التي يأخذها الطفل"
            rows="3"
            no-resize
          ></b-form-textarea>

        </div>

		 <div class="intro">
			 <!-- ملاحظة يجب مراعاتها فيها يتعلق بالوضع الصحي للطفل -->
          <b-form-textarea
            id="textarea-no-resize"
            placeholder="ملاحظة يجب مراعاتها فيها يتعلق بالوضع الصحي للطفل"
            rows="3"
            no-resize
          ></b-form-textarea>

        </div>
            </div>
          </b-form-radio-group>

        </div>
           </div>







          </div>
        </div>
        </div>

        <div class="col-md-12">
          <div class="nervousness">
          <div class="intro">
					<h3>الحمل
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

              <b-form-group
          id="fieldset-horizontal"
          description="اذكر عدد مرات حمل الام"
          class="col-md-6"
          >
            <b-form-input v-model="student.numberOfPregnancies" type="number" id="input-horizontal" placeholder="عدد الاحمال"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          description="اذكر صحة الام اثناء الحمل بالطفل"
          class="col-md-6"
          >
            <b-form-input v-model="student.motherHealthDuringPregnancy" id="input-horizontal" placeholder="الصحة اثناء الحمل"></b-form-input>
          </b-form-group>

                <div class="col-md-12">
          <div class="intro">
            <h6>هل تعرضت لاي ضغوطات نفسية اثناء الحمل ؟</h6>
          <b-form-radio-group  v-model="student.havePsychologicalPressureDuringPregnancy" :options="options2" :state="havePsychologicalPressureDuringPregnancyState" name="stressDuringPregnancy">
            <b-form-invalid-feedback :state="havePsychologicalPressureDuringPregnancyState">اختر واحدة من فضلك</b-form-invalid-feedback>
            <div v-if="student.havePsychologicalPressureDuringPregnancy == '1'">
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هذه الضغوطات"

              >
			  <!-- اذكر ماااااااااااااااااااااا هذه الضغوطات -->
              <input placeholder="ما الضغوطات" class="textbox-n form-control" type="text" >
              </b-form-group>
            </div>
          </b-form-radio-group>

        </div>
        </div>



         <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل عدد شهور الحمل بالطفل"
          class="col-md-6"
          >
            <b-form-input type="number" v-model="student.numberOfmonthsOfPregnancy" id="input-horizontal" placeholder="مدة الحمل بالطفل"></b-form-input>
          </b-form-group>


          <div class="question-about-mother">
            <div class="row">
              <div class="col-md-6">
          <div class="intro">
            <h6>الحصبة الالمانية ؟</h6>
          <b-form-radio-group id="radio-first-five" color="#DDD" v-model="student.motherHasRubella" :options="options2" :state="motherHasRubellaState" name="hasRubella">
            <b-form-invalid-feedback :state="motherHasRubellaState">اخعتر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6>تسمم الحمل ؟</h6>
			<!-- motherHasEclampsia -->
          <b-form-radio-group id="radio-first-six" color="#DDD" v-model="student.motherHasEclampsia" :options="options2" :state="motherHasEclampsiaState" name="hasEclampsia">
            <b-form-invalid-feedback :state="motherHasEclampsiaState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6> أصابات | حوادث ؟</h6>
          <b-form-radio-group id="radio-first-seven" color="#DDD" v-model="student.motherHasInjuriesAccidents" :options="options2" :state="motherHasInjuriesAccidentsState" name="hasInjuriesOrAccidents">
            <b-form-invalid-feedback :state="motherHasInjuriesAccidentsState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6>امراض مزمنة (ربو | سكر | قلب) ؟ </h6>
          <b-form-radio-group id="radio-first-eight" color="#DDD" v-model="student.motherHaschronicDiseases" :options="options2" :state="motherHaschronicDiseasesState" name="hasChronicDiseases">
            <b-form-invalid-feedback :state="motherHaschronicDiseasesState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6>التدخين ؟</h6>
			<!-- motherHasSmokeing -->
          <b-form-radio-group id="radio-first-nine" color="#DDD" v-model="student.motherHasSmokeing" :options="options2" :state="motherHasSmokeingState" name="hasSmoking">
            <b-form-invalid-feedback :state="motherHasSmokeingState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>


         <div class="col-md-6">
          <div class="intro">
            <h6>أشعة ؟</h6>
          <b-form-radio-group id="radio-first-ten" color="#DDD" v-model="student.motherHasRays" :options="options2" :state="motherHasRaysState" name="hasRays">
            <b-form-invalid-feedback :state="motherHasRaysState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>

         <div class="col-md-12">
          <div class="intro">
            <h6>عقاقير ؟</h6>
          <b-form-radio-group id="radio-first-eleven" color="#DDD" v-model="student.motherHasMedicalDrugs" :options="options2" :state="motherHasMedicalDrugsState" name="drugs">
            <b-form-invalid-feedback :state="motherHasMedicalDrugsState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
        </div>
            </div>
          </div>

          </div>
        </div>
        </div>

         </div>


<div class="col-md-12">
          <div class="nervousness">
          <div class="intro">
					<h3>الولادة
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

           <div class="col-md-12">
              <div class="intro">
            <h6>نوع ولادة الطفل</h6>
          <b-form-radio-group id="radio-first-twelve" color="#DDD" v-model="student.typeOfBirth" :options="birth" :state="typeOfBirthState" name="birthType">
            <b-form-invalid-feedback :state="typeOfBirthState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

        </div>
           </div>
          </div>

          <div class="col-md-12">
             <div class="row">
             <b-form-group
              id="fieldset-horizontal"
              class="col-md-6"
              description="اذكر ما هو وزن الطفل"


              >
              <input v-model="student.childWeight" type="number" placeholder="وزن الطفل" class="textbox-n form-control" >
            </b-form-group>

            <b-form-group
              id="fieldset-horizontal"
              class="col-md-6"
              description="اذكر ما هو طول الطفل"

              >
              <input v-model="student.childHeight" type="number" placeholder="طول الطفل " class="textbox-n form-control" >
            </b-form-group>
           </div>
          </div>
          <div class="col-md-12">
            <div class="question-for-birth">
              <div class="question-for-birth-title">
                <h6> هل اصيب بأي من التالي ؟ </h6>
              </div>
              <div class="row">
                <div class="col-md-4">
                <div class="intro">
                  <h6>ازرقاق ؟</h6>
                  <b-form-radio-group id="radio-first-therten" color="#DDD" v-model="student.isBlue" :options="options2" :state="isBlueState" name="hasCyanosis">
                    <b-form-invalid-feedback :state="isBlueState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-4">
                <div class="intro">
                  <h6>اصفرار ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="student.isYellow" :options="options2" :state="isYellowState" name="hasYellowedOut">
                    <b-form-invalid-feedback :state="isYellowState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-4">
                <div class="intro">
                  <h6>درجة حرارة مرتفعة ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="student.hasHighTemperature" :options="options2" :state="hasHighTemperatureState" name="riseInTemperature">
                    <b-form-invalid-feedback :state="hasHighTemperatureState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="question-for-birth">
              <div class="question-for-birth-title">
                <h6> هل احتاج الطفل الي ؟ </h6>
              </div>
              <div class="row">
                <div class="col-md-6">
                <div class="intro">
                  <h6>نقل دم ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="student.needBload" :options="options2" :state="needBloadState" name="hasBloodTransfusion">
                    <b-form-invalid-feedback :state="needBloadState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-6">
                <div class="intro">
                  <h6>اكسجين ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="student.needOxygen" :options="options2" :state="needOxygenState" name="hasOxygen">
                    <b-form-invalid-feedback :state="needOxygenState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-6">
                <div class="intro">
                  <h6>مساعدة في تسهيل عملية الاخراج ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="student.helpFacilitateReleaseProcess" :options="options2" :state="helpFacilitateReleaseProcessState" name="facilitateProcessOfDirectingState">
                    <b-form-invalid-feedback :state="helpFacilitateReleaseProcessState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>

              <div class="col-md-6">
                <div class="intro">
                  <h6>مساعدة في تسهيل عملية التبول ؟</h6>
                  <b-form-radio-group color="#DDD" v-model="student.helpMakeUrinationEasier" :options="options2" :state="helpMakeUrinationEasierState" name="facilitateProcessOfUrinationState">
                    <b-form-invalid-feedback :state="helpMakeUrinationEasierState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  </b-form-radio-group>

                </div>
              </div>
              </div>
            </div>
          </div>

          <div class="nervousness">
          <div class="intro">
					<h3>ما بعد الولادة ؟
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

           <div class="col-md-12">

              <div class="question-for-birth-title">
                <h6>هل تم اجراء الفحوصات الاتية ؟</h6>
              </div>
           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6>بصر ؟</h6>
                   <b-form-radio-group color="#DDD" v-model="student.visualExamination" :options="options2" :state="visualExaminationState" name="sightExamin">
            <b-form-invalid-feedback :state="visualExaminationState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا البحث"

              >
              <input v-model="student.visualExaminationResult" placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
           </div>

                </li>
                <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6>سمع</h6>
                 <b-form-radio-group color="#DDD" v-model="student.hearing" :options="options2" :state="hearingState" name="hearingExamin">
            <b-form-invalid-feedback :state="hearingState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
				<!-- hearingResultExamination -->
              <input v-model="student.hearingResultExamination" placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                     <div class="">
                <div class="intro">
                  <h6>تخطيط دماغ</h6>
                   <b-form-radio-group color="#DDD" v-model="student.EEG" :options="options2" :state="EEGState" name="EEGExamin">
            <b-form-invalid-feedback :state="EEGState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input v-model="student.EEGResult" placeholder="النتيجة " class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">

                      <div class="">
                <div class="intro">
                  <h6> صورة طبقية</h6>
                   <b-form-radio-group color="#DDD" v-model="student.stratifiedImage" :options="options2" :state="stratifiedImageState" name="stratifiedImageExamin">
            <b-form-invalid-feedback :state="stratifiedImageState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input v-model="student.stratifiedImageResult" placeholder="النتيجة " class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">
                      <div class="">
                <div class="intro">
                  <h6> رنين مغناطيسي</h6>
                   <b-form-radio-group color="#DDD" v-model="student.magneticResonance" :options="options2" :state="magneticResonanceState" name="magneticResonanceExamin">
            <b-form-invalid-feedback :state="magneticResonanceState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input v-model="student.magneticResonanceResult" placeholder="النتيجة " class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                         <div class="">
                <div class="intro">
                  <h6> تحاليل طبيه</h6>
                   <b-form-radio-group color="#DDD" v-model="student.medicalTest" :options="options2" :state="medicalTestState" name="medicalTestsExamin">
            <b-form-invalid-feedback :state="medicalTestState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input v-model="student.medicalTestResult" placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">
                       <div class="">
                <div class="intro">
                  <h6>  فحص هرمونات</h6>
                   <b-form-radio-group color="#DDD" v-model="student.hormoneExamination" :options="options2" :state="hormoneExaminationState" name="hormoneExamin">
            <b-form-invalid-feedback :state="hormoneExaminationState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input v-model="student.hormoneExaminationResult" placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">

    <div class="">
                <div class="intro">
                  <h6>  فحص جينات</h6>
                   <b-form-radio-group color="#DDD" v-model="student.geneticExamination" :options="options2" :state="geneticExaminationState" name="geneticExamin">
            <b-form-invalid-feedback :state="geneticExaminationState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هي النتيجة لهذا الفحص"

              >
              <input v-model="student.geneticExaminationResult" placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6> فحوصات اخري</h6>
				  <!-- otherExamination -->
                   <b-form-radio-group color="#DDD" v-model="student.otherExamination" :options="options2" :state="otherExaminationState" name="otherExamins">
            <b-form-invalid-feedback :state="otherExaminationState">اختر واحدة من فضلك</b-form-invalid-feedback>
                 <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر ما هذه نتيجة لهذا الفحص"

              >
              <input v-model="student.otherExaminationResult" placeholder="النتيجة" class="textbox-n form-control" type="text" >
              </b-form-group>
          </b-form-radio-group>

                </div>
              </div>



                </li>

<li class="col-md-6">


                <div class="">
                <div class="intro">
                  <h6> هل الطفل لديه حساسية لشئ معين ؟ </h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasAllergy" :options="options2" :state="hasAllergyState" name="hasAllergy">
            <b-form-invalid-feedback :state="hasAllergyState">اختر واحدة من فضلك</b-form-invalid-feedback>
                <div v-if="student.hasAllergy == '1'">
                   <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 "
              description="أذكر ما هي في حالة نعم ؟"
              >
              <input v-model="student.allergyType" placeholder="ماهي" class="textbox-n form-control" type="text" >
              </b-form-group>
                </div>
          </b-form-radio-group>

                </div>
              </div>



                </li>


                <li class="col-md-6">


                <div class="">
                <div class="intro">
                  <h6>  هل حدثت له نوبات تشنجية ؟</h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasConvulsiveSeizures" :options="options2" :state="hasConvulsiveSeizuresState" name="convulsiveSeizuresState">
            <b-form-invalid-feedback :state="hasConvulsiveSeizuresState">اختر واحدة من فضلك</b-form-invalid-feedback>
                <div v-if="student.hasConvulsiveSeizures == '1'">
                   <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر اسباب هذه النوبة التشنجية"

              >
              <input v-model="student.convulsiveSeizuresType" placeholder="ما هي الاسباب" class="textbox-n form-control" type="text" >
              </b-form-group>
                </div>
          </b-form-radio-group>

                </div>
              </div>



                </li>


                <li class="col-md-12">


                <div class="">
                <div class="intro">
                  <h6>  هل مازالت موجودة ؟</h6>
                   <b-form-radio-group color="#DDD" v-model="student.casesStillWithHim" :options="options2" :state="casesStillWithHimState" name="stillWithHim">
            <b-form-invalid-feedback :state="casesStillWithHimState">اتر واحدة من فضلك</b-form-invalid-feedback>
                <div v-if="student.casesStillWithHim == '1'">
                   <b-form-group
                    id="fieldset-horizontal"
                    class="col-md-12"
                    description="في حالة الاجابة بنعم اجب علي الاتي"

                    >
                    <input v-model="student.casesRepetition" placeholder="التكرار" class="textbox-n form-control" type="text" >
                    </b-form-group>
                    <b-form-group
                    id="fieldset-horizontal"
                    class="col-md-12"
                    description="اذكر الاعراض لها "

                    >
                    <input v-model="student.casesSymptoms" placeholder="الاعراض" class="textbox-n form-control" type="text" >
                    </b-form-group>

                    <b-form-group
                    id="fieldset-horizontal"
                    class="col-md-12"
                    description="اذكر الحدة لها "

                    >
                    <input v-model="student.casesSharpnesss" placeholder="الحدة " class="textbox-n form-control" type="text" >
                    </b-form-group>

                     <b-form-group
                    id="fieldset-horizontal"
                    class="col-md-12"
                    description="اذكر الادوية لها "

                    >
                    <input v-model="student.casesPharmaceutical" placeholder="الادوية " class="textbox-n form-control" type="text" >
                    </b-form-group>
                </div>
          </b-form-radio-group>

                </div>
              </div>



                </li>

                </div>
              </ul>



           </div>
           </div>
           </div>



           </div>



          <!-- Start of هل اصيب باي الامراض الاتيةفي الطفولة  -->
 <div class="nervousness">

          <div class="row">

           <div class="col-md-12">

              <div class="title-child-tired">
                <h6>هل الطفل اصيب بأي الامراض الاتية في مرحلة الطفولة المبكرة ؟</h6>
              </div>
           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6> التهاب السحايا</h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasMeningitis" :options="options2" :state="hasMeningitisState" name="meningitisDisease">
            <b-form-invalid-feedback :state="hasMeningitisState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
           </div>

                </li>
                <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6>التهاب الدماغ</h6>
                 <b-form-radio-group color="#DDD" v-model="student.hasBrainInflammation" :options="options2" :state="hasBrainInflammationState" name="encephalitisDisease">
            <b-form-invalid-feedback :state="hasBrainInflammationState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                     <div class="">
                <div class="intro">
                  <h6> الاختناق</h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasSuffocation" :options="options2" :state="hasSuffocationState" name="chokingDisease">
            <b-form-invalid-feedback :state="hasSuffocationState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">

                      <div class="">
                <div class="intro">
                  <h6>  التسمم</h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasPoisoning" :options="options2" :state="hasPoisoningState" name="poisoningDisease">
            <b-form-invalid-feedback :state="hasPoisoningState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">
                      <div class="">
                <div class="intro">
                  <h6> حوادث و اصابات </h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasAccidentsAndInjuries" :options="options2" :state="hasAccidentsAndInjuriesState" name="accidentsAndInjuriesDisease">
            <b-form-invalid-feedback :state="hasAccidentsAndInjuriesState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                         <div class="">
                <div class="intro">
                  <h6>  التهاب الانف و الاذن و الحنجرة</h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasInflammationEarNoseThroat" :options="options2" :state="hasInflammationEarNoseThroatState" name="earNoseThroatDisease">
            <b-form-invalid-feedback :state="hasInflammationEarNoseThroatState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">
                       <div class="">
                <div class="intro">
                  <h6>  اورام </h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasTumors" :options="options2" :state="hasTumorsState" name="tumorsDisease">
            <b-form-invalid-feedback :state="hasTumorsState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">

    <div class="">
                <div class="intro">
                  <h6>  سوء تغذية </h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasMalnutrition" :options="options2" :state="hasMalnutritionState" name="malnutritionDisease">
            <b-form-invalid-feedback :state="hasMalnutritionState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>  اضطرابات في الغدد</h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasGlandsDisorders" :options="options2" :state="hasGlandsDisordersState" name="endocrineDisorders">
            <b-form-invalid-feedback :state="hasGlandsDisordersState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                 <li class="col-md-12">


                <div class="">
                <div class="intro">
                  <h6> امراض اخري ؟</h6>
                        <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر الامراض الاخري "
                          rows="3"
                          no-resize
						  v-model="student.earlyChildhoodOtherDiseases"
                        ></b-form-textarea>

                </div>
              </div>



                </li>






                </div>
              </ul>



           </div>
           </div>
           </div>



           </div>
<!-- End Of هل اصيب الطفل باي الامراض التية -->


        </div>
       </div>
     </tab-content>
     <tab-content title="التقييم الرسمي"
                  icon="fas fa-user-tie">

      <!-- Start of التقييم الرسمي  -->

     <div class="motor-growth">
            <div class="intro">
              <h3>النمو الحركي
				  <i class="fas fa-heart"></i>
			  </h3>
            </div>
            <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل عمر الطف عند الحبو"
          class="col-md-6"
          >
            <b-form-input v-model="student.crawlingAge" id="input-horizontal" placeholder="العمر عند الحبو"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطف عند الجلوس"
          >
            <b-form-input v-model="student.sittingAge" id="input-horizontal" placeholder="العمر عند الجلوس "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطف عند الوقوف"

          >
          <input v-model="student.standupAge" placeholder="العمر عند الوقوف " class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>
           <b-form-group
          id="fieldset-horizontal"
          class="col-md-6 mr-auto"
          description="من فضلك ادخل عمر الطف عند المشي"

          >
          <input v-model="student.walkingAge" placeholder="العمر عند المشي " class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>
          </div>


          <div class="row">

           <div class="col-md-12">


           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-6">
                  <div class="">
                <div class="intro">
                  <h6> هل يوجد لديه خلع او كسر ؟</h6>
                   <b-form-radio-group color="#DDD" v-model="student.hasBreak" :options="options2" :state="hasBreakState" name="TakeOffOrBreak">
            <b-form-invalid-feedback :state="hasBreakState">اختر واحدة من فضلك</b-form-invalid-feedback>
            <b-form-valid-feedback :state="hasBreakState">
               <div v-if="student.hasBreak == '1'">
                   <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر مكانه في حال الاجابة بنعم"

              >
			  <!-- breakPosition -->
              <input v-model="student.breakPosition" placeholder="الاسباب" class="textbox-n form-control" type="text" >
              </b-form-group>
                </div>
            </b-form-valid-feedback>
          </b-form-radio-group>

                </div>
           </div>

                </li>



                <li class="col-md-6">
                  <div class="">
                <div class="intro">
                  <h6> هل لديه اعاقة او عجز في الحركة ؟</h6>
                 <b-form-radio-group color="#DDD" v-model="student.hasDisability" :options="options2" :state="hasDisabilityState" name="ObstructionOrDisability">
            <b-form-invalid-feedback :state="hasDisabilityState">اختر واحدة من فضلك</b-form-invalid-feedback>
                <b-form-valid-feedback :state="hasDisabilityState">
               <div v-if="student.hasDisability == '1'">
                   <b-form-group
              id="fieldset-horizontal"
              class="col-md-12 mr-auto"
              description="اذكر نوع هذا العجز او الاعاقة "

              >
			  <!-- disabilityType -->
              <input v-model="student.disabilityType" placeholder=" نوعها" class="textbox-n form-control" type="text" >
              </b-form-group>
                                <h6>هل يستخدم اجهزه مساعدة في الحركة ؟ </h6>
				<!-- auxiliaryDevices -->
               <b-form-radio-group color="#DDD" v-model="student.auxiliaryDevices" :options="options2" :state="auxiliaryDevicesState" name="auxiliaryDevices">
            <b-form-invalid-feedback :state="auxiliaryDevicesState">اختر واحدة من فضلك</b-form-invalid-feedback>
          </b-form-radio-group>

                </div>
            </b-form-valid-feedback>
          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-12">
                     <div class="">
                <div class="intro">
                  <h6> ماهي الصعوبات التي يعاني منها طفلك ؟</h6>
                        <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر الامراض الاخري "
                          rows="3"
                          no-resize
						  v-model="student.difficulties"
                        ></b-form-textarea>

                </div>
              </div>

                </li>


                </div>
              </ul>



           </div>
           </div>
           </div>



           </div>



      <!-- End of التقييم الرسمي  -->
      <!-- Start of النمو اللغوي للطفل -->

 <div class="motor-growth">
            <div class="intro">
              <h3>النمو اللغوي
				  <i class="fas fa-heart"></i>
			  </h3>
            </div>
            <div class="row">
              <b-form-group
          id="fieldset-horizontal"
          description="من فضلك ادخل عمر الطفل عند المناغاة و اصدار الصوت"
          class="col-md-4"
          >
            <b-form-input v-model="student.talkingAge" id="input-horizontal" placeholder="عمره عند اصدار الصوت و المناغاة"></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-4 "
          description="من فضلك ادخل عمر الطفل عند نطق اول كلمه"
          >
            <b-form-input v-model="student.firstWordAge" id="input-horizontal" placeholder="عمره عند نطق اول كلمه "></b-form-input>
          </b-form-group>

          <b-form-group
          id="fieldset-horizontal"
          class="col-md-4 "
          description="من فضلك ادخل عمره عند نطق اول جملة "

          >
          <input v-model="student.firstPhraseAge" placeholder="عمره عند نطق اول جملة " class="textbox-n form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date">
          </b-form-group>

          </div>


          <div class="row">

           <div class="col-md-12">


           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-12">
                  <div class="">
                <div class="intro">
                  <h6> ماذا يستخدم للتعبير عن نفسه</h6>
                   <b-form-radio-group color="#DDD" v-model="student.useToExpressHimself" :options="useWhenExpressHimself" :state="useToExpressHimselfState" name="expressHimself">
            <b-form-invalid-feedback :state="useToExpressHimselfState">اختر واحدة من فضلك</b-form-invalid-feedback>
            <b-form-valid-feedback :state="useToExpressHimselfState">

            </b-form-valid-feedback>
          </b-form-radio-group>

                </div>
           </div>

                </li>



                <li class="col-md-10">
                  <div class="">
                <div class="intro">
                  <h6> الصفة الغالبة عند نطق الطفل ؟</h6>
                 <b-form-radio-group color="#DDD" v-model="student.speakWay" :options="commonWhenSpokeOpt" :state="speakWayState" name="adjectiveChildSpeaks">
            <b-form-invalid-feedback :state="speakWayState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>



                 <li class="col-md-6">
                  <div class="intro">
                  <h6> هل حصل علي تدريب نطق ؟</h6>
                 <b-form-radio-group color="#DDD" v-model="student.hasTalkingTraining" :options="options" :state="hasTalkingTrainingState" name="hasPronunciationTraining">
            <b-form-invalid-feedback :state="hasTalkingTrainingState">اختر واحدة من فضلك</b-form-invalid-feedback>
               <b-form-valid-feedback :state="hasTalkingTrainingState">
                <div v-if="student.hasTalkingTraining =='1'">
                    <b-form-group
                      id="fieldset-horizontal"
                      description="ادخل مدة التدريب في حال الاجابة نعم "

                      >
                      <input v-model="student.talkingTrainingDuration" placeholder="المدة " class="textbox-n form-control" type="number">
                      </b-form-group>

                      <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="  نتيجة هذا التدريب "
                          rows="3"
                          no-resize
						  v-model="student.talkingTrainingResult"
                        ></b-form-textarea>
                </div>
              </b-form-valid-feedback>
          </b-form-radio-group>

                </div>
                </li>

                <li class="col-md-6" style="margin-top: 8px">

                      <h6>هل توقف عن الكلام في اي مرحلة من عمره ؟</h6>

                    <b-form-radio-group color="#DDD" v-model="student.stopTalking" :options="options2" :state="stopTalkingState" name="hasStopTalking">
                  <b-form-invalid-feedback :state="stopTalkingState">اختر واحدة من فضلك</b-form-invalid-feedback>
                  <b-form-valid-feedback :state="stopTalkingState">
                      <div v-if="student.stopTalking == '1'">
                         <b-form-group
                          id="fieldset-horizontal"

                          description="ادخل العمر الطفل في هذا الوقت "

                          >
                          <input v-model="student.stopTalkingAge" placeholder="العمر حينها " class="textbox-n form-control" type="number">
                          </b-form-group>
                             <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="من فضلك اذكر السبب "
                          rows="3"
                          no-resize
						  v-model="student.stopTalkingReason"
                        ></b-form-textarea>
                      </div>
            </b-form-valid-feedback>
                </b-form-radio-group>

                </li>

                <li class="col-md-6">
                  <div class="intro">
                  <h6> هل يتكلم مع اخواته ؟</h6>
                 <b-form-radio-group color="#DDD" v-model="student.talkWithBrothers" :options="options" :state="talkWithBrothersState" name="talkingWithDaughter">
            <b-form-invalid-feedback :state="talkWithBrothersState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
                </li>





                  <li class="col-md-6">
                  <div class="intro">
                  <h6> ماهي اللغة داخل المنزل</h6>
                   <b-form-group
                      id="fieldset-horizontal"
                      description="ادخل اللغة المستخدمة داخل المنزل"

                      >
                        <b-form-input v-model="student.langUsedAtHome" id="input-horizontal" placeholder="اللغة داخل المنزل"></b-form-input>
                      </b-form-group>


                </div>
                </li>

                </div>
              </ul>



           </div>
           </div>
           </div>



           </div>



      <!-- End Of النمو اللغوي للطفل -->


      <!-- Start of النمو السسلوكي للطفل -->

      <div class="nervousness">
         <div class="intro">
					<h3>النمو السلوكي للاطفال
						<i class="fas fa-heart"></i>
					</h3>

				</div>
          <div class="row">

           <div class="col-md-12">

              <div class="title-child-tired">
                <h6>هل يوجد لديه اي من المشاكل الاتية ؟</h6>
              </div>
           <div class="row">

              <ul class="col-md-12">
                <div class="row">
                  <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6> قضم اظافر</h6>
                   <b-form-radio-group color="#DDD" v-model="student.nailBiting" :options="options2" :state="nailBitingState" name="nailBiting">
            <b-form-invalid-feedback :state="nailBitingState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
           </div>

                </li>
                <li class="col-md-4">
                  <div class="">
                <div class="intro">
                  <h6>تبول لا ارادي </h6>
                 <b-form-radio-group color="#DDD" v-model="student.peeReflex" :options="options2" :state="peeReflexState" name="bedwetting">
            <b-form-invalid-feedback :state="peeReflexState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                     <div class="">
                <div class="intro">
                  <h6> صراخ | بكاء شديد</h6>
                   <b-form-radio-group color="#DDD" v-model="student.screamingSeverecrying" :options="options2" :state="screamingSeverecryingState" name="SevereCrying">
            <b-form-invalid-feedback :state="screamingSeverecryingState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">

                      <div class="">
                <div class="intro">
                  <h6> مص الاصابع</h6>
                   <b-form-radio-group color="#DDD" v-model="student.suckingFingers" :options="options2" :state="suckingFingersState" name="SuckingFingers">
            <b-form-invalid-feedback :state="suckingFingersState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>

                </li>

                <li class="col-md-4">
                      <div class="">
                <div class="intro">
                  <h6>ايذاء الذات </h6>
                   <b-form-radio-group color="#DDD" v-model="student.selfHarm" :options="options2" :state="selfHarmState" name="selfHarm">
            <b-form-invalid-feedback :state="selfHarmState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">
                         <div class="">
                <div class="intro">
                  <h6> عدوانية</h6>
                   <b-form-radio-group color="#DDD" v-model="student.aggression" :options="options2" :state="aggressionState" name="aggression">
            <b-form-invalid-feedback :state="aggressionState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">
                       <div class="">
                <div class="intro">
                  <h6> خوف و قلق شديد </h6>
                   <b-form-radio-group color="#DDD" v-model="student.intenseFear" :options="options2" :state="intenseFearState" name="intenseFearAnxiety">
            <b-form-invalid-feedback :state="intenseFearState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>


                </li>

                <li class="col-md-4">

    <div class="">
                <div class="intro">
                  <h6> شرود و انسحاب</h6>
                   <b-form-radio-group color="#DDD" v-model="student.fugueAndWithdrawal" :options="options2" :state="fugueAndWithdrawalState" name="fugueAndWithdrawal">
            <b-form-invalid-feedback :state="fugueAndWithdrawalState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>
                </li>

                <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>سلوك نمطي مزمن</h6>
                   <b-form-radio-group color="#DDD" v-model="student.chronicStereotypicalBehavior" :options="options2" :state="chronicStereotypicalBehaviorState" name="chronicStereotypicalBehavior">
            <b-form-invalid-feedback :state="chronicStereotypicalBehaviorState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                  <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>نشاط زائد</h6>
                   <b-form-radio-group color="#DDD" v-model="student.excessiveActivity" :options="options2" :state="excessiveActivityState" name="moreActive">
            <b-form-invalid-feedback :state="excessiveActivityState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                  <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>خجل و انظوائية</h6>
                   <b-form-radio-group color="#DDD" v-model="student.shyAndUnethical" :options="options2" :state="shyAndUnethicalState" name="shyAndIntroverted">
            <b-form-invalid-feedback :state="shyAndUnethicalState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                  <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>مشاكل في النوم</h6>
                   <b-form-radio-group color="#DDD" v-model="student.sleepProblems" :options="options2" :state="sleepProblemsState" name="sleepProblems">
            <b-form-invalid-feedback :state="sleepProblemsState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>


                  <li class="col-md-4">


                <div class="">
                <div class="intro">
                  <h6>عض</h6>
                   <b-form-radio-group color="#DDD" v-model="student.bite" :options="options2" :state="biteState" name="bite">
            <b-form-invalid-feedback :state="biteState">اختر واحدة من فضلك</b-form-invalid-feedback>

          </b-form-radio-group>

                </div>
              </div>



                </li>

                <li class="col-md-12" style="margin:10px 0 ">
                  <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="هل يوجد لديه مشاكل غير المذكورة اعلاه ؟ "
                          rows="3"
                          no-resize
						  v-model="student.otherGrowthProblems"
                        ></b-form-textarea>
                </li>



                </div>
              </ul>

                <div class="ques-textarea col-md-12">
                  <div class="row">
                  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اهم معززات الطفل "
                          rows="3"
                          no-resize
						  v-model="student.importantBoosters"
                      ></b-form-textarea>
                  </div>
                  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="ماهو السلوك المعتاد لضبط سلوكة من قبل الوالدين"
                          rows="3"
                          no-resize
						  v-model="student.behaviorControlMethod"
                      ></b-form-textarea>
                  </div>

                </div>
                </div>




           </div>
           </div>









			<div style="border-top: 1px solid #ff9508; margin: 40px 0;" class="motor-growth col-md-12">
            <div class="intro">
              <h3>النمو الاجتماعي للطفل
				  <i class="fas fa-heart"></i>
			  </h3>
            </div>


			<div class="row">
				<div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر العلاقة مع الاصدقاء"
                          rows="3"
                          no-resize
						  v-model="student.relationshipWithFriends"
                      ></b-form-textarea>
                  </div>

				  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="هل يفضل الالعاب الجماعية ام الفردية ؟"
                          rows="3"
                          no-resize
						  v-model="student.groupOrSoloPlay"
                      ></b-form-textarea>
                  </div>

				  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر العلاقة مع الوالدين"
                          rows="3"
                          no-resize
						  v-model="student.relationshipWithParents"
                      ></b-form-textarea>
                  </div>

				  <div class="col-md-6">
                     <b-form-textarea
                          id="textarea-no-resize"
                          placeholder="اذكر العلاقة مع الاخوة"
                          rows="3"
                          no-resize
						  v-model="student.relationshipWithBrother"
                      ></b-form-textarea>
                  </div>



			  <div class="col-md-6">
                <div class="intro">
                  <h6>يتناول طعام</h6>
                   <b-form-radio-group color="#DDD" v-model="student.eatingWay" :options="personalCareOpt" :state="eatingWayState" name="eatingFoodState">

          </b-form-radio-group>

                </div>
              </div>

			  <div class="col-md-6">
                <div class="intro">
                  <h6>يستحم</h6>
                   <b-form-radio-group color="#DDD" v-model="student.bathingWay" :options="personalCareOpt" :state="bathingWayState" name="takesShowerState">

          </b-form-radio-group>

                </div>
              </div>


			   <div class="col-md-6">
                <div class="intro">
                  <h6>يستعمل الحمام</h6>
                   <b-form-radio-group color="#DDD" v-model="student.usingBathroomWay" :options="personalCareOpt" :state="usingBathroomWayState" name="useBathroomState">

          </b-form-radio-group>

                </div>
              </div>


			   <div class="col-md-6">
                <div class="intro">
                  <h6>يرتدي ملابسه</h6>
                   <b-form-radio-group color="#DDD" v-model="student.wearingClothesWay" :options="personalCareOpt" :state="wearingClothesWayState" name="gettingDressedState">

          </b-form-radio-group>

                </div>
              </div>


			   <div class="col-md-6">
                <div class="intro">
                  <h6> يغسل يديه ووجهه</h6>
                   <b-form-radio-group color="#DDD" v-model="student.washingHandsFaceWay" :options="personalCareOpt" :state="washingHandsFaceWayState" name="handAndFaceWashState">

          </b-form-radio-group>

                </div>
              </div>


			    <div class="col-md-6">
                <div class="intro">
                  <h6>يعبر عن حاجته لدخول الحمام</h6>
				  <!-- askAboutBathroom -->
                   <b-form-radio-group color="#DDD" v-model="student.askAboutBathroom" :options="personalCareOpt" :state="askAboutBathroomState" name="askAboutBathroomState">

          </b-form-radio-group>

                </div>
              </div>

			    <div class="col-md-12 text-center">
                <div class="intro">
                  <h6> يبدو مرتبا ونظيفا في الغالب</h6>
                   <b-form-radio-group color="#DDD" v-model="student.lookNeatAndClean" :options="options2" :state="lookNeatAndCleanState" name="theoristAndBodyState">

          </b-form-radio-group>

                </div>
              </div>

			</div>


           </div>














           </div>

           </div>

      <!-- End Of النمو السلوكي للطفل -->
     </tab-content>
      <tab-content title="التقييم الرسمي"
                  icon="fas fa-user-tie">
				  <h6>الاختبارات السابقة</h6>
				<!--
					  <div class="add-test" v-for="(test,index) in form.educational_tests" :key="index">
<div class="row" >
			   <div class="col-md-3">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="اسم الاختبار"
							rows="2"
							no-resize
							v-model="test.name"
						></b-form-textarea>

					</div>
				</div>
				 <div class="col-md-3">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="النتيجة"
							rows="2"
							no-resize
							v-model="test.result"
						></b-form-textarea>

					</div>
				</div>
				 <div class="col-md-3">
					<div class="intro">
						<div>
						<label for="example-datepicker">Choose a date</label>
						<b-form-datepicker id="example-datepicker" v-model="test.donne_at" class="mb-2"></b-form-datepicker>
					</div>

					</div>
				</div>
				 <div style="margin-top: 30px;" class="col-md-3">
					<button  @click="addFamilyNote()">اضافة اختبار </button>
					<button @click="removeFamilyNote(index)"> حذف اختبار</button>
				</div>
		 </div>
				  </div>
				-->

				  <h6>المراكز السابقة</h6>



					  <!-- <div v-for="(position,index) in form.previous_positions" :key="index">
					  <div class="row" >
			   <div class="col-md-3">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="اسم المركز "
							rows="2"
							no-resize
							v-model="position.name"
						></b-form-textarea>

					</div>
				</div>
				 <div class="col-md-3">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="سبب الانسحاب"
							rows="2"
							no-resize
							v-model="position.reason_for_withdrawal"
						></b-form-textarea>

					</div>
				</div>
				 <div class="col-md-3">
					<div class="intro">
						<div>
						<label for="example-datepicker">Choose a date</label>
						<b-form-datepicker id="example-datepicker" v-model="position.period" class="mb-2"></b-form-datepicker>
					</div>


					</div>
				</div>
				 <div style="margin-top: 30px;"  class="col-md-3">
					<button @click="addPriviousPosition()">اضافة مركز </button>
					<button @click="removePriviousPosition(index)">حذف المركز</button>
				</div>
		 </div>
				  </div> -->

					<h6> ملاحظات الاهل</h6>

				  <div class="more_family_hints">
							 <!-- <div v-for="(note,index) in form.family_notes" :key="index">
					  <div class="row" >
			   <div class="col-md-2">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="الاسم"
							rows="2"
							no-resize
							v-model="note.member_name"
						></b-form-textarea>

					</div>
				</div>
				 <div class="col-md-2">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="الصلة "
							rows="2"
							no-resize
							v-model="note.member_relationship"
						></b-form-textarea>

					</div>
				</div>
				 <div class="col-md-3">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="اكتب الملاحظة "
							rows="2"
							no-resize
							v-model="note.note"
						></b-form-textarea>

					</div>
				</div>

				 <div class="col-md-2">
					<div class="intro">
						<div>
						<label for="example-datepicker">Choose a date</label>
						<b-form-datepicker id="example-datepicker" v-model="note.donne_at" class="mb-2"></b-form-datepicker>
					</div>
				</div>

				 <div style="margin-top: 30px;"  class="col-md-3">
					<button @click="addFamilyNote()">اضافة ملاحظة </button>
					<button @click="removeFamilyNote(index)">حذف ملاحظة</button>
				</div>
		 </div>
					 </div>
				  </div> -->
				  </div>

				<h6>خاص بالمركز</h6>
				  <div class="center-special">
					  <div class="row">
						   <div class="col-md-6">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="رأي ادارة المركز "
							rows="2"
							no-resize
							v-model="student.centerOpenion"
						></b-form-textarea>

					</div>
				</div>

				 <div class="col-md-6">
					<div class="intro">
						<b-form-textarea
							id="textarea-no-resize"
							placeholder="التوصيات "
							rows="2"
							no-resize
							v-model="student.centerRecommendation"
						></b-form-textarea>

					</div>
				</div>
					  </div>
				  </div>

      </tab-content>
 </form-wizard>


    </div>
  </div>
  </div>
</template>

<script>

//global registration
import VueFormWizard from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
import API from '../../../../jsonfile'
//local registration
import { FormWizard, TabContent } from 'vue-form-wizard'
import 'vue-form-wizard/dist/vue-form-wizard.min.css'
//component code
import Snotify from 'vue-snotify'; // 1. Import Snotify
import 'vue-snotify/styles/material.css'; // or dark.css or simple.css
import 'vue-snotify/styles/dark.css';
import 'vue-snotify/styles/simple.css';
export default {


data() {
      return {
		student: '',

		personalCareOpt: [
			{text: "بأستقلالية",value: "independant"},
			{text: "بمساعدة",value: "help"},
			{text: "برعاية تامة",value: "care"},

		],
        commonWhenSpokeOpt: [
           { text: 'الاصوات فقط', value: 'voices' },
          { text: 'الكلمات المفردة فقط', value: 'individual-Words' },
           { text: 'جملة مؤلفة من كلمتين', value: 'sentance of two words' },
          { text: 'جملة مؤلفة من كلمتين', value: 'sentance of three words' },
          { text: 'تزيد عن ذالك', value: 'more-than' },

		],
		useWhenExpressHimself: [
			{text:"الكلام",value:"talking"},
			{text:"الاشارة",value:"flag"},
			{text:"كلاهما",value:"both"},

		],
        options: [
          { text: 'نعم', value: '1' },
          { text: 'لا', value: '0' },
        ],
        options2: [
          { text: 'نعم', value: '1' },
          { text: 'لا', value: '0' },
        ],
        birth: [
           { text: 'طبيعية', value: 'natural' },
          { text: 'قيصرية', value: 'Caesarean-section' },
          { text: 'ادوات مساعدة', value: 'helper-tools' },
        ],
        form2: {
          email: '',
          name: '',
          checked: [],

        },
        show: true
      }
	},
	created(){
		return API.get('/students').then(res => {
			console.log(res.data)
			return this.student = res.data.find(e => {
				return e.id == this.$route.params.id
			})
		})
	},

    methods: {
      onCompleate: function(id){
          API.put('/students/'+id, this.student).then(res => {
			  console.log(this.form)
			  this.$router.push({path: "/students"})

			  this.$snotify.success('تم اضافة الاستمارة بنجاح',{
					timeout: 5000,
			  });
		  }).catch(err => {
			  this.$snotify.error('للاسف حصل خطأ ما  ','حاول مرة اخري',{
				timeout: 5000
			});
		  })
	   },
	   addEducationTest: function() {

		this.student.educational_tests.push({
		"member_name":"",
		"member_relationship":"",
		"note":"",
		"donne_at":""
		});
	},

	  addFamilyNote: function() {

		this.student.family_notes.push({
		"member_name":"",
		"member_relationship":"",
		"note":"",
		"donne_at":""
		});
	},


	removeFamilyNote: function(index) {
      return  this.student.family_notes.splice(index, 1);
	},


	removeEducationTest: function(index) {
      return  this.student.educational_tests.splice(index, 1);
	},

	 addPriviousPosition: function() {

		this.student.remmovePriviousPosition.push({
		"name":"",
		"reason_for_withdrawal":"",
		"period":""
		});
	},

	remmovePriviousPosition: function(index) {
      return  this.student.remmovePriviousPosition.splice(index, 1);
	},

	},


      computed: {
        disabilitiesInFamilyState() {
          return Boolean(this.student.disabilitiesInFamily)
		},
		itsFromGenaticState() {
          return Boolean(this.student.itsFromGenatic)
		},
		childHaveDiseaseState(){
			return Boolean(this.student.childHaveDisease)
		},
		havePsychologicalPressureDuringPregnancyState(){
			return Boolean(this.student.havePsychologicalPressureDuringPregnancy)
		},

		motherHasRubellaState(){
			return Boolean(this.student.motherHasRubella)
		},

		motherHasEclampsiaState(){
			return Boolean(this.student.motherHasEclampsia)
		},

		motherHasInjuriesAccidentsState(){
			return Boolean(this.student.motherHasInjuriesAccidents)
		},

		motherHaschronicDiseasesState(){
			return Boolean(this.student.motherHaschronicDiseases)
		},

		motherHasSmokeingState(){
			return Boolean(this.student.motherHasSmokeing)
		},

		motherHasRaysState(){
			return Boolean(this.student.motherHasRays)
		},

		motherHasMedicalDrugsState(){
			return Boolean(this.student.motherHasMedicalDrugs)
		},

		typeOfBirthState(){
			return Boolean(this.student.typeOfBirth)
		},

		isBlueState(){
			return Boolean(this.student.isBlue)
		},

		isYellowState(){
			return Boolean(this.student.isYellow)
		},

		hasHighTemperatureState(){
			return Boolean(this.student.hasHighTemperature)
		},

		needBloadState(){
			return Boolean(this.student.needBload)
		},

		needOxygenState(){
			return Boolean(this.student.needOxygen)
		},

		helpFacilitateReleaseProcessState(){
			return Boolean(this.student.helpFacilitateReleaseProcess)
		},

		helpMakeUrinationEasierState(){
			return Boolean(this.student.helpMakeUrinationEasier)
		},




		visualExaminationState(){
			return Boolean(this.student.visualExamination)
		},

		hearingState(){
			return Boolean(this.student.hearing)
		},

		EEGState(){
			return Boolean(this.student.EEG)
		},

		stratifiedImageState(){
			return Boolean(this.student.stratifiedImage)
		},

		magneticResonanceState(){
			return Boolean(this.student.magneticResonance)
		},

		medicalTestState(){
			return Boolean(this.student.medicalTest)
		},

		hormoneExaminationState(){
			return Boolean(this.student.hormoneExamination)
		},

		geneticExaminationState(){
			return Boolean(this.student.geneticExamination)
		},

		otherExaminationState(){
			return Boolean(this.student.otherExamination)
		},




		hasAllergyState(){
			return Boolean(this.student.hasAllergy)
		},

		hasConvulsiveSeizuresState(){
			return Boolean(this.student.hasConvulsiveSeizures)
		},

		casesStillWithHimState(){
			return Boolean(this.student.casesStillWithHim)
		},




		hasMeningitisState(){
			return Boolean(this.student.hasMeningitis)
		},

		hasBrainInflammationState(){
			return Boolean(this.student.hasBrainInflammation)
		},

		hasSuffocationState(){
			return Boolean(this.student.hasSuffocation)
		},

		hasPoisoningState(){
			return Boolean(this.student.hasPoisoning)
		},

		hasAccidentsAndInjuriesState(){
			return Boolean(this.student.hasAccidentsAndInjuries)
		},

		hasInflammationEarNoseThroatState(){
			return Boolean(this.student.hasInflammationEarNoseThroat)
		},

		hasTumorsState(){
			return Boolean(this.student.hasTumors)
		},

		hasMalnutritionState(){
			return Boolean(this.student.hasMalnutrition)
		},

		hasGlandsDisordersState(){
			return Boolean(this.student.hasGlandsDisorders)
		},





		hasBreakState(){
			return Boolean(this.student.hasBreak)
		},
		hasDisabilityState(){
			return Boolean(this.student.hasDisability)
		},
		auxiliaryDevicesState(){
			return Boolean(this.student.auxiliaryDevices)
		},



		useToExpressHimselfState(){
			return Boolean(this.student.useToExpressHimself)
		},
		speakWayState(){
			return Boolean(this.student.speakWay)
		},
		hasTalkingTrainingState(){
			return Boolean(this.student.hasTalkingTraining)
		},
		stopTalkingState(){
			return Boolean(this.student.stopTalking)
		},
		talkWithBrothersState(){
			return Boolean(this.student.talkWithBrothers)
		},





		nailBitingState(){
			return Boolean(this.student.nailBiting)
		},
		peeReflexState(){
			return Boolean(this.student.peeReflex)
		},
		screamingSeverecryingState(){
			return Boolean(this.student.screamingSeverecrying)
		},
		suckingFingersState(){
			return Boolean(this.student.suckingFingers)
		},
		selfHarmState(){
			return Boolean(this.student.selfHarm)
		},
		aggressionState(){
			return Boolean(this.student.aggression)
		},
		intenseFearState(){
			return Boolean(this.student.intenseFear)
		},
		fugueAndWithdrawalState(){
			return Boolean(this.student.fugueAndWithdrawal)
		},
		chronicStereotypicalBehaviorState(){
			return Boolean(this.student.chronicStereotypicalBehavior)
		},
		excessiveActivityState(){
			return Boolean(this.student.excessiveActivity)
		},
		shyAndUnethicalState(){
			return Boolean(this.student.shyAndUnethical)
		},
		sleepProblemsState(){
			return Boolean(this.student.sleepProblems)
		},
		biteState(){
			return Boolean(this.student.bite)
		},





		eatingFoodTypeState(){
			return Boolean(this.student.eatingFoodType)
		},
		takesShowerState(){
			return Boolean(this.student.takesShower)
		},
		useBathroomState(){
			return Boolean(this.student.useBathroom)
		},
		gettingDressedState(){
			return Boolean(this.student.gettingDressed)
		},
		handAndFaceWashState(){
			return Boolean(this.student.handAndFaceWash)
		},
		askAboutBathroomState(){
			return Boolean(this.student.askAboutBathroom)
		},
		theoristAndBodyState(){
			return Boolean(this.student.theoristAndBody)
		},



		lookNeatAndCleanState(){
			return Boolean(this.student.lookNeatAndClean)
		},

		wearingClothesWayState(){
			return Boolean(this.student.wearingClothesWay)
		},

		usingBathroomWayState(){
			return Boolean(this.student.usingBathroomWay)
		},

		eatingWayState(){
			return Boolean(this.student.eatingWay)
		},

		washingHandsFaceWayState(){
			return Boolean(this.student.washingHandsFaceWay)
		},

		bathingWayState(){
			return Boolean(this.student.bathingWay)
		},



      },
    components: {
      FormWizard,
  TabContent
    }
  }
</script>

<style lang="scss" scoped>

*{
  direction: rtl;
}
.vue-form-wizard {
  direction: ltr;
  .wizard-nav-pills{
  direction: ltr;

  }
}
h6{
	text-align: right;
}
.question-about-mother{
        margin: 24px 0;

  div{
      text-align: center;

  }
}
.title-child-tired{
  padding: 24px 0;
}
.question-for-birth{
  .intro{
    text-align: center;
    padding: 20px 0;
  }
}
.nervousness{
  text-align: right;
  border-top:1px solid #ff3d00;

  h3{
       margin: 50px 0 14px;
  }
}
.custom-range{
  margin-bottom: 42px;
}

.valid-feedback{
  .d-block{
    width: 20%;
  }
}

 textarea{
    overflow-y: auto !important;
    margin-bottom: 30px;
  }
#example-datepicker{
  position: absolute;
    right: 0;
}
.form {
         border: 1px solid #333;
    padding: 14px 36px;
    /* margin: 25px 0; */
    background: #FFF;
    box-shadow: -2px 3px 13px -5px #5a5353;
  .report-title{
    text-align: center;
    margin: 10px 0 47px;

    h3{
    width: 259px;
    color: #ff9508;
    margin: 32px auto 44px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
        i{
               position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
        }
        &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
    }
  }
  .form-control{
    border: 1px solid #ff9508;
    border-width: 1 0 1.3px 0;
    border-radius: 0;
    padding: 2px 15px;


  }
}
.intro{

	text-align: right;
    padding: 1px 0;
    margin: 25px 0;
    p{
      margin-bottom: 50px;
    }
    h3{
     width: 210px;
    color: #ff9508;
    margin: 32px auto 13px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
      i{
            position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;
    }
       &::before{
        position: absolute;
        bottom: -7px;
        left: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: -7px;
        right: 0;
        height: 2px;
        background: #ff9508;
        width: 45%;
        content: '';
      }
    }
}
.motherinfo-title{
	border-top: 1px solid #ff3d00;
}
.motherinfo-title, .fatherinfo-title{
      width: 100%;
    text-align: right;
    margin-bottom: 20px;
}
.intro-info{
  h3{
 text-align: right;
    /* margin: 0 0 27px; */
    font-size: 18px !important;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    color: #89837c;
  }
  p{
    margin-bottom: 15px;
  }

}
ul{    list-style-type: square;}
.unformal-rate{
  text-align: right;
  .feedback{
    h4{
      color:#89837c;
    }
  }
  h3{
        color: #ff9508;
    text-align: center;
    margin: 25px auto;
    padding-bottom: 18px !important;
    position: relative;
    width: 305px;
    font-size: 21px;
    i{
           position: absolute;
    bottom: -7px;
    right: 47%;
    font-size: 11px;
    color: #87633a;}
     &::before{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }
        &::after{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        background: #ff9508;
        width: 43%;
        content: '';
      }

  }
  ul{
    li{
      text-align: right;
    }
  }
}
.color{
	background: #f4f4f4;
	padding:50px 0
}

.unmain-test{
  text-align: right;
}

// motor growth
.motor-growth{
  text-align: right;
    border-top: 1px solid #ff9508;
  .motor-grow-title{
    padding-bottom: 15px;
    text-align:right;
	h3{
	position: relative;
    width: 197px;
    text-align: center;
	&::after{
	    content: '';
		position: absolute;
		height: 1px;
		width: 46%;
		background: #282529;
		bottom: -10px;
		left: 0;

	}
	&::before{
		content: '';
		height:1px;
		width: 46%;
		background: #282529;
		bottom:-10px;
		position: absolute;
		right:0
	}
	}
  }
}
</style>




