<template>
  <div class="colored">
		<div class="behavior-modification-plan">
			<div class="container">
				<div class="pages-numbers">
					<div class="row">
					<div class="col-md-2">
						<div class="logo">
							<img src="../../../../assets/logo.png" alt="">
						</div>
					</div>
					<div class="col-md-10 col-md-push-2">
						<div class="main-title">
							<h3>خطة تعديل السلوك</h3>
						</div>
					</div>
				</div>
					<div class="main-body">
							<div class="main-info-groub">
								<div class="row">
									<div class="col-md-6">
										<div>
											<h6>الاسم: </h6>
											<p> {{studentBehaviorMod[0].name}} </p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>اسم المركز: </h6>
											<p> <span class="api"> {{studentBehaviorMod[0].centerName}} </span> </p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>اسم معدل السلوك: </h6>
											<p><span class="api"> {{studentBehaviorMod[0].behaviorRateName}} </span> </p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6> العمر: </h6>
											<p><span class="api"> {{studentBehaviorMod[0].age}} </span></p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>الجنس: </h6>
											<p><span class="api"> {{studentBehaviorMod[0].gender}} </span></p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>  تاريخ اعداد الخطة: </h6>
											<p><span class="api"> {{studentBehaviorMod[0].planPreparingDate}} </span></p>
										</div>
									</div>
								</div>
							</div>
							<div class="questions">
								<div class="first-determine-behavior">
									<h6>أولا : تحديد سلوك المستهدف</h6>
									<p><span class="api"> {{studentBehaviorMod[0].targetedBehaviorDetermine}} </span></p>
								</div>
								<div class="second-define-target-behavior">
									<h6>ثانيا : تعريف السلوك المستهدف</h6>
									<p><span class="api"> {{studentBehaviorMod[0].targetedBehaviorDefine}} </span></p>
								</div>
								<div class="thired-measure-target-behavior">
									<h6>ثالثا : قياس السلوك المستهدف </h6>
									<p><span class="api"> {{studentBehaviorMod[0].targetedBehaviorMeasure}} </span></p>
								</div>
							</div>
						</div>
						<div class="page_number">1</div>
				</div>


				<div class="pages-numbers">

					<div class="main-body">
							<div class="questions-page-two">
								<table>
										<tr>
											<td> مدة حدوث السلوك</td>
											<td><span class="api"> {{studentBehaviorMod[0].behaviorDuration}} </span></td>
										</tr>
										<tr>
											<td>نسبة حدوث السلوك %</td>
											<td><span class="api"> {{studentBehaviorMod[0].behaviorRatePercent}} </span></td>
										</tr>
										<tr>
											<td>مدة الملاحظة</td>
											<td><span class="api"> {{studentBehaviorMod[0].behaviorObservationDuration}} </span></td>
										</tr>
								</table>
								<h6 class="table-title">رابعا : التحليل الوظيفي للسلوك</h6>
								<table>
									<thead>
										<tr>
											<td>المثيرات القبلية</td>
											<td>المثيرات البعدية</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td><span class="api"> {{studentBehaviorMod[0].tribalStimuli}} </span></td>
											<td><span class="api"> {{studentBehaviorMod[0].distantStimuli}} </span></td>
										</tr>

									</tbody>
								</table>
							</div>

							<div class="questions">
								<div class="first-determine-behavior">
									<h5>خامسا : تصميم خطة العلاج</h5>
									<div>
										<h6>أ- معدل السلوك</h6>
										<p><span class="api"> {{studentBehaviorMod[0].behaviorRate}} </span></p>
									</div>
									<div>
										<h6>ب- المشاركون ووظيفتهم</h6>
										<p><span class="api"> {{studentBehaviorMod[0].participantsAndTheirJobs}} </span></p>
									</div>
									<div>
										<h6>ج- الزمان و المكان لتطبيق خطة التعديل</h6>
										<p><span class="api"> {{studentBehaviorMod[0].timeAndPlaceToApply}} </span></p>
									</div>
								</div>
							</div>
						</div>
						<div class="page_number">2</div>
				</div>

				<div class="pages-numbers">

					<div class="main-body">

							<div class="questions">
								<div class="first-determine-behavior">
									<div>
										<h6>د- تحديد المعززات</h6>
										<p><span class="api"> {{studentBehaviorMod[0].identifyReinforcements}} </span></p>
									</div>
									<div>
										<h6>ه- تحديد اجرائات خفض السلوك</h6>
										<p><span class="api"> {{studentBehaviorMod[0].identifyBehaviorReduction}} </span></p>
									</div>
									<div>
										<h6>و- تحديد اجرائات خفض السلوك متصل- متقطع</h6>
										<p><span class="api"> {{studentBehaviorMod[0].identifyReinforcementSchedules}} </span></p>
									</div>
									<div>
										<h6>ز. المعززات والعقاب البديل في حال فشل الاجراءات السابقة</h6>
										<p><span class="api"> {{studentBehaviorMod[0].alternativePunishment}} </span></p>
									</div>
									<div>
										<h6>س. مبررات تعديل السلوك لهذه الحالة</h6>
										<p><span class="api"> {{studentBehaviorMod[0].justificationsForBehaviorModification}} </span></p>
									</div>

								</div>
							</div>
							</div>
						<div class="page_number">2</div>
				</div>


				<div class="pages-numbers">

					<div class="main-body">

							<div class="questions">
								<div class="first-determine-behavior">
								<div>
										<h6>سادساً: تنفيذ خطة العلاج: </h6>
										<p><span class="api"> {{studentBehaviorMod[0].implementationOfTheTreatmentPlan}} </span></p>
								</div>

								<div>
										<h6>سابعاُ: تقييم فاعلية برنامج العلاج</h6>
										<p><span class="api"> {{studentBehaviorMod[0].evaluatingTheEffectiveOfTreatment}} </span></p>
								</div>



								<table class="feedback-table">
									<thead>
										<tr>
											<td>التحليل البصري للرسم البياني</td>
											<td>رأي المعلم و ملاحظة</td>
											<td>رأي ولي الامر و ملاحظة</td>
											<td>ملاحظة معدل السلوك</td>
										</tr>
									</thead>
									<tbody>
										<td><span class="api"> {{studentBehaviorMod[0].alternativePunishment}} </span></td>
										<td><span class="api"> {{studentBehaviorMod[0].alternativePunishment}} </span></td>
										<td><span class="api"> {{studentBehaviorMod[0].alternativePunishment}} </span></td>
										<td><span class="api"> {{studentBehaviorMod[0].alternativePunishment}} </span></td>
									</tbody>
								</table>

								</div>
							</div>
							</div>
						<div class="page_number">2</div>
				</div>



				<div class="pages-numbers">

					<div class="main-body">

							<div class="questions">
								<div class="first-determine-behavior">
									<h5>ثامنا: تلخيص نتائج و كتابة التقارير</h5>
								<div>
										<h6>معلومات عن الحالة: </h6>
										<p><span class="api"> {{studentBehaviorMod[0].patientInformation}} </span></p>
								</div>

								<div>
										<h6>مبررات تطبيق خطة تعديل السلوك وما هو السلوك المشكل والسلوك المرغوب به</h6>
										<p><span class="api"> {{studentBehaviorMod[0].justificationForImplementing}} </span></p>
								</div>

								<div>
										<h6>عرض نتائج التقييم ما قبل القياس وما بعد القياس</h6>
										<p><span class="api"> {{studentBehaviorMod[0].evaluationResultsBeforeAndAfter}} </span></p>
								</div>

								<div>
										<h6>التوصيات للمعدل والأطراف المشاركة</h6>
										<p><span class="api"> {{studentBehaviorMod[0].averageRecommendations}} </span></p>
								</div>

								<div>
										<h6>الخلاصة</h6>
										<p><span class="api"> {{studentBehaviorMod[0].Summary}} </span></p>
								</div>

								</div>
							</div>
							</div>
						<div class="page_number">2</div>
				</div>




			</div>
		</div>
  </div>
</template>

<script>
import API from '../../../../jsonfile'
export default {


	asyncData({params}){
	return API.get('/student-behavior-plans/'+params.id)
	.then(res => {
		console.log(res.data)
	return {studentBehaviorMod: res.data}
	})
}
}
</script>

<style lang="scss" scoped>
*{
	direction: rtl;
	text-align: right;
}
.pages-numbers{
	border: 1px solid #333;
    padding: 16px;
	position: relative;
	margin-bottom: 20px;
	background: #FFF;
}
.page_number{
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-weight: bold;
}
.behavior-modification-plan{
	padding-top: 20px;
	.logo{
		img{
			width: 100px;
			height: 100px;
		}
	}
	.main-title{
		text-align: center;
		h3{
			display: inline-block;
			border-bottom: 2px solid #333;
			margin-top: 30px;
			padding-bottom: 5px;
		}
	}
	.main-info-groub{
		.row{
			>div{
				    border: 1px solid #333;
			}
		}
		margin-top: 35px;
		h6{
			display: inline-block;
		}
		p{
			display: inline-block;
		}
	}
	.questions-page-two{
		margin:20px auto;
		.row{
			>div{
				border: 1px solid #333;
			}
		}
		.table-title{
			margin-top: 25px;
		}
		table{
			width: 100%;
			td{
				border: 1px solid #333;
				padding:5px;
			}
			thead{
				td{
					font-weight: bold;
				}
			}
		}
	}
	.feedback-table{
		margin:10px auto;
		thead{
			td{
				font-weight: bold;
			}
		}
		td{
			text-align: center;
			border: 1px solid #333;
		}
	}
}
span.api{
	color:crimson
}
</style>
