<template>
  <div>
	  <div class="colored">
		  <div class="occuupational-therapy">
			<div class="container">
				  <div class="pages-numbers">
					  <div class="header">
				  <div class="row">

					  <div class="col-md-2 text-center">
						<div class="logo">
					  		<img src="../../../../assets/logo.png">
				  		</div>
					  </div>



				  </div>
			  </div>
					 <div class="page-one">
						  <div class="bannar-text">
							<h2>
								تقرير اللغة و التواصل
							</h2>
							<table class="discuss">
								<thead>
									<tr>
										<th>اجزاء التقرير</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>المعلومات الشخصية</td>

									</tr>
									<tr>
										<td>نبذة عن الحالة</td>

									<tr>
										<td>التقييم الرسمي و الغير رسمي</td>

									</tr>
									<tr>
										<td>النتائج</td>

									</tr>
									<tr>
										<td>الاداء السلوكي</td>

									</tr>
									<tr>
										<td>ملاحظات الفاحص</td>
									</tr>
										<tr>
										<td>التوصيات</td>
									</tr>
								</tbody>
							</table>
					  	  </div>
					 </div>
						<div class="page-number">1</div>

			  	  </div>

				<div class="pages-numbers">
					<div class="page-one">
						<div class="title">
							تــقــيــيــم الــعــــــلاج الــــوظـيـــفـــي
						</div>
						<div class="main-info">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<div>
												<h6>الاسم</h6>
											</div>
										</div>
										<div class="col-md-6">
											<div>
												<h6><span class="api"> {{communication[0].name}} </span></h6>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<div>
												<h6>تاريخ كتابة التقرير</h6>
											</div>
										</div>
										<div class="col-md-6">
											<div>
												<h6><span class="api"> {{communication[0].reportWriteDate}} </span></h6>
											</div>
										</div>
									</div>
								</div>

									<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<div>
												<h6>تاريخ الميلاد</h6>
											</div>
										</div>
										<div class="col-md-6">
											<div>
												<h6><span class="api"> {{communication[0].birthDate}} </span></h6>
											</div>
										</div>
									</div>
								</div>

									<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<h6>الجنس</h6>
										</div>
										<div class="col-md-6">
											<h6><span class="api"> {{communication[0].gender}} </span></h6>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="title">
									نبذة عن الحالة
									</div>
									<div class="intro">
										<p class="lead" style="line-height: 2.1; margin-bottom:40px;">
									يعد "<span class="api"> {{communication[0].name}} </span>" هو الطفل "-----" لاسرة مكونة من "------" افراد تمت احالته الي المركز الاستشاري للتوحد عن طريق الوالدين  لأجراء تقييم نمائي شامل يتضمن تقييم التواصل و اللغة حيث يتم التقييم بأستخدام اخبارات و مقاييس رسمية و غير رسمية خاصة بالمركز و عن طريق الملاحظة الشاملة لسلوكة
										</p>
										<p class="lead" style="line-height: 2.1;margin-bottom:40px;">
											بناءا علي السجل النمائي و مقابلة الاهل و نتائج التقييم سيتم وضع خطة لغويه حسب ادائه الحالي لتطوير مستواه من الناحية الاستقبالية و التعبيرية
										</p>
									</div>

									<div class="rating">
										<div class="title-two">
											<h4>التقييم:</h4>
											<p class="lead">
												تم تقييم "<span class="api"> {{communication[0].ABLLSRate}} </span>" بأستخدام تقيم رسمي (ABLLS) الذي يتضمن خمس جوانب هما :-
											</p>
											<ul>
												<li>اللغة الاستقبالية</li>
												<li>التقليد الشفوي</li>
												<li>طلب الاحتياجات</li>
												<li>التسمية</li>
												<li>تكويين الأسئلة و تكميل مقاطع من الجمل</li>
											</ul>
											<p class="lead">
												بالأضافة الي تقييم غير رسمي يشمل المهارات الوظيفية و الأداء السلوكي و فحص لجهازه النطقي و ملاحظات الفاحص
											</p>
										</div>
									</div>
							</div>
								</div>
						</div>
					</div>
					<div class="page-number">2</div>
			</div>





			<div class="pages-numbers">
					<div class="page-one">
						<div class="title">
							تــقــيــيــم الــعــــــلاج الــــوظـيـــفـــي
						</div>
						<div class="main-info">
							<div class="content">
								<div class="row">

								<div class="one">
									<h6>لاكل Eating and Feeding</h6>
									<p>
										<span class="api"> {{communication[0].eating}} </span>
									</p>
								</div>
								<div class="one">
									<h6>اللباس Dressing</h6>
									<p>
										<span class="api"> {{communication[0].dressing}} </span>
									</p>
								</div>
								<div class="one">
									<h6>استخدام الحمام والعناية بالنظافة الشخصية Toileting &amp; Hygiene:</h6>
									<p>
										<span class="api"> {{communication[0].toileting}} </span>
									</p>
								</div>
								<div class="one">
									<h6>اللعب Play Function:</h6>
									<p>
										<span class="api"> {{communication[0].playFunction}} </span>
									</p>
								</div>

								<div class="one">
									<h6>القدرات العقلية (Higher –Level Cognitive ):</h6>
									<p>
										<span class="api"> {{communication[0].cognitive}} </span>
									</p>
								</div>
								<div class="one">
									<h6>الانتباه ( Attention):</h6>
									<p>
										<span class="api"> {{communication[0].attention}} </span>
									</p>
								</div>
								<div class="one">
									<h6>الذاكرة (Memory) :</h6>
									<p>
										<span class="api"> {{communication[0].memory}} </span>
									</p>
								</div>
						</div>
							</div>
					</div>
					<div class="page-number">3</div>
			</div>
			</div>






			</div>
	  	  </div>
	  </div>
  </div>
</template>

<script>
import API from '../../../../jsonfile'
export default {
	asyncData({params}){
	return API.get('student-communications/'+params.id)
	.then(res => {
		console.log(res.data)
	return {communication: res.data}
	})
}
}
</script>

<style lang="scss" scoped>
.pages-numbers{
		position: relative;
		background-color: #FFF;
		border: 1px solid #333;
}
.page-number{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
*{
	direction: rtl;
}
.header{
		overflow: hidden;

		.logo{

			img{
				width: 131px;
    			height: 114px;
			}
		}
		.heading{
			text-align: center;
			margin-top: 42px;
	h2{
		display: inline-block;
		border-bottom: 2px solid #333;
		padding-bottom: 5px;
	}
		}
	}
.occuupational-therapy{
	text-align: center;
	margin: 15px 0;
	.title{
		    border-bottom: 1px solid #333;
		display: inline-block;
		margin: auto;
		margin: 45px 0 18px;
		font-weight: bold;
	}
	.page-one{
		min-height:600px;
		.bannar-text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			h2{
				font-weight: bold;
				font-size: 40px;
			}
		}
	}
	.main-info{
		.row{
			.col-md-6{
				    margin: 10px 0px;
			}
		}
	}
	.content{
			width: 90%;
    		margin: auto;
			.one{
				margin: 15px 0;
			}
	}
	table.discuss{
		margin:30px auto 0;
		width:100%;
		thead{
			th{
				border: 1px solid #333;
			}
		}
		td{
			border: 1px solid #333;
			padding-top:10px;
		}
	}
	.title-two{
		h4{
			text-align: right;
    width: 100px;
    border-bottom: 2px solid #333;
    padding: 0 0 7px;
		}
		ul{
			li{
				text-align:right;

				line-height: 1.9;
			}
		}
	}
}
.content{
			width: 90%;
    		margin: auto;
			.one{
				display: block;
				width: 100%;
				text-align: right;
				border-bottom: 1px solid #333;
			}
	}
</style>

