<template>
  <div class="developmentColor">
	  <div class="container">
		  <div class="developmentReportPrint">
			  <div class="pages-numbers">
				<div class="header">
				  <div class="row">

					  <div class="col-md-2 text-center">
						<div class="logo">
					  		<img src="../../../../assets/logo.png">
				  		</div>
					  </div>

					   <div class="col-md-10 col-md-push-2">
						<div class="heading">
					 	  <h2>التقرير النمائي</h2>
				    	</div>
					</div>

				  </div>
			  </div>
			  <div class="report-body">
				  <div class="main-info">
					  <div class="main-info-groub">
						  <div> <h6>أسم الطالب:</h6> <p> <span class="api">{{studentData[0].name}}</span> </p></div>
						  <div> <h6> العمر الزمني:</h6> <p> <span class="api">{{studentData[0].age}}</span></p></div>
						  <div> <h6>تاريخ الميلاد :</h6><p> <span class="api">{{studentData[0].birthDate}}</span></p></div>
						  <div> <h6> تاريخ كتابة التقرير:</h6><p><span class="api"> {{studentData[0].donne_at}}</span></p></div>
					  </div>
				  </div>
				  <div class="report-body-info">
					  <div class="title">
						  <h4>المقدمة</h4>
					  </div>
					  <div class="report-body-info-body">
						  <p class="lead">
							  التحق <span class="api">{{studentData[0].name}}</span> بالمركز ال ستشاري للتوحد بتاريخ <span class="api">{{studentData[0].donne_at}}</span> وي بلغ من العمر <span class="api">{{studentData[0].age}}</span>،
								وه و الطفل<span class="api"> {{studentData[0].orderInFamily}}</span>ألسرة مكونة من <span class="api">{{studentData[0].familyCount}}</span> أفراد تمت إحالته للمركز عن طريق الوالدين لمعرفة قدراته
								النمائية و نقاط القوة والضعف لديه، حيث تم وضعه ضمن برنامج التقييم والتشخيص لمدة شهر من تاريخ
								التحاقه بالمركز ب استخدام ال ختبارات الرسمية المتخصصة بفئة التوحد ، باإلضافة إلى المقاييس الغير
								رسمية والخاصة بالمركز والمالحظة المباشرة، وذلك ليتم تحديد مظاهر التأخر التي يعاني منها بـدقة
								وتحديد األساليب العالجية المقترحة للتعامل معه
						  </p>
					  </div>
					  <div class="medicalHistory">
						  <h4 class="subtitle">الولادة و التاريخ الطبي:</h4>
						  <p>
							<span class="api">{{studentData[0].medicalHistory}}</span>
						  </p>
					  </div>
					  <div class="page_number">1</div>
				  </div>
			  </div>
			  </div>
			  <div class="pages-numbers">
				  <div class="family_feedback">
					<h4 class="subtitle">ملاحظات الاهل :</h4>
					<h6>بألاضافة الي ما سبق ذكر الاهل الملاحظات السلوكية عن <span class="api">{{studentData[0].name}}</span></h6>
					<p>
						<span class="api">{{studentData[0].familyFeedback}}</span>
					</p>
				  </div>
				  <div class="unformal_rete">
					   <div class="title">
						  <h4 class="text-center">التقييم الغير رسمي :</h4>
					  </div>
					  <div class="unformal_rate_body">
						  <h6>يشمل التقييم غير الرسمي المالحظات التي يتم جمعها عن الطالب خالل فترة التقييم وتتضمن الجوانب
التالية:-</h6>
							<ul>
								<li>الملاحظات السلوكية </li>
								<li>المهارات الاستقلالية</li>
								<li>مهارات التفاعل الاجتماعي و التواصل</li>
								<li>القدرات الادراكية ومهارات اللعب</li>
							</ul>
							<div class="behavior_feedback">
								<h5  class="subtitle"> الملاحظات السلوكية </h5>
								<p class="lead">
									خلال فترة التقييم والملاحظة لوحظ على {{studentData[0].name}} أثناء تواجده في الغرفة الصفية أنه ل يشارك زمالئه
									باألنشطة الجماعي ة ويحب اللعب الجماعي والتواجد ضمن المجموعات .
									كما أن <span class="api">{{studentData[0].name}}</span> لديه السلوكيات التالية مثل:
									<br>
									<span class="api">{{studentData[0].behavioralNotes}}</span>
								</p>
							</div>

					  </div>
				  </div>
				  <div class="page_number">2</div>
			  </div>



			    <div class="pages-numbers">

				  <div class="unformal_rete">
					   <div class="title">
						  <h4 class="text-center">التقييم الرسمي :</h4>
					  </div>
					  <div class="formal_rate_body">

<div class="independant_skills">
								<h5 class="subtitle"> المهارات الاستقلالية </h5>
								<p class="lead">
									ن من أهم الجوانب في العمل مع طفل التوحد هو الوصول به إلى مستوى من الستقاللية في تحقيق
									حاجاته اليومية والتعبير عنها بطريقة مفهومة وواضحة لآلخرين.
									لذا فإن الخطوة األولى التي يقوم بها األفراد العاملون في المركز لهذه الفئة، هو تحديد مستوى الطالب في
									هذا المجال للبدء معه بالتدريب المكثف "دون إغفال العمل على المهارات األخرى" إما بشكل متزامن مع
									بعضها أو بشكل تتابعي، ويتضمن المجال الستقاللي استخدام مهارات الطالب اللغوية والحركية واإلدراكية
									باإلضافة للمهارات الجتماعية، وذلك لتشكيل وإتقان المهارات الستقاللية باإلضافة إلى تدريبه في بيئة
									حقيقية للوصول إلى الستقاللية التامة المنشودة في تنفيذ كافة المهارات لوحده.
									ومن خالل المالحظة المباشرة لـ {{studentData[0].name}}في هذا المجال، تبين
									<br>
									<span class="api">{{studentData[0].independenceSkills}}</span>
								</p>
							</div>

							<div class="social_active">
								<h5 class="subtitle"> التفاعل الاجتماعي </h5>
								<p class="lead">
									ن من أهم أهداف برامج التدخل الخاصة بالتوحد هو خلق نوع من التواصل لدى الطفل بهدف دمجه في
									البيئة المحيطة، وإظهار تصرفات طبيعية تساعده على التماشي في بيئتهالبيت، المدرسة، األماكن العامة.
									لوحظ على

									<br>
									<span class="api">{{studentData[0].socialInteraction}}</span>
								</p>
							</div>

								<div class="knowing_skills">
								<h5 class="subtitle">  المهارات الادراكية </h5>
								<p class="lead">
									تشمل المهارات اإلدراكية النمائية عدة جوانب كالنتباه، والذاكرة السمعية، والبصرية، ومهارات التحليل،
									والتركيب ، والتصنيف وغي رها من المهارات التي يتم تعلمه وقياسه من خالل اللعب واستخدام الوسائل
									التعليمية كاأللعاب وبعض األلعاب الجسدية والحركية.
									أظهر

									<br>
									<span class="api">{{studentData[0].cognitiveSkills}}</span>
								</p>
							</div>



					  </div>
				  </div>
				  <div class="page_number">3</div>
			  </div>




			  <div class="pages-numbers">

				  <div class="unformal_rete">
					   <div class="title">
						  <h4 class="text-center">التقييم الرسمي :</h4>
					  </div>
					  <div class="formal_rate_body">
						  <p class="lead">
							    يتم استخدام مجموعة متخصصة من المقاييس الخاصة بفئة التوحد التي تم اعتمادها في البيئة العربية والتي
								يمكننا من خاللها تحديد وجود الضطراب من عدمه وشدته إن وجد لنتمكن من بناء المنهاج التربوي
								الفردي له بشكل علمي ومدروس، ويقوم فريق متكامل ومتعدد التخصصات في عملية التشخيص، وقد تم
								تشخيص "<span class="api"> {{studentData[0].name}} </span>" باستخدام عدة مقاييس رسمية مع األخذ بعين العتبار النقاط التالية:
						  </p>
							<ul>
								<li> تم تطبيق الاختبارات وفقا لتعليمات التطبيق الواردة في كل مقياس كما ان الاختبارات جميعا تم تطبيقها بشكل فردي </li>
								<li> - تم اتخاذ المعلومات الالزمة لتطبيق الختبارات المختلفة م ن خالل مقابلة الوالدين والمالحظة المباشرة
والتطبيق المباشر للفقرات العملية لكل اختبار تم تطبيقه.</li>
								<li>- تم وضع " <span class="api">{{studentData[0].name}} </span>" لفترة مالحظة قبل البدء بتطبيق أي مقياس لخلق جو من األلفة بينه وبين األخصائيين
في المركز ولتكوين فكرة شاملة قبل البدء بالتقييم الرسمي.</li>
							</ul>

							<h6> تم استخدام الختبارات التالية في مرحلة التقييم الرسمي :- </h6>
							<li> ."GARS 2 " مقياس- </li>
							<li>- مقياس تقدير التوحد الطفولي "S.R.A.C ."</li>
					  </div>
				  </div>
				  <div class="page_number">4</div>
			  </div>


			   <div class="pages-numbers">

				  <div class="unformal_rete">
						  <h5 class="subtitle">:"GARS 2" مقياس</h5>
					  <div class="formal_rate_body">
						  <p class="lead">
							    هذا المقياس من المقاييس العالمية والمعتمدة والمتعارف عليها في مجال التعامل مع فئات التوحد ويساعد
								الختبار في الكشف عن احتمالية وجود التوحد لدى الطفل ويحتوي الختبار على ثالث اختبارات
								فرعية وهي:
						  </p>
							<ul>
								<li>السلوكيات النمظية</li>
								<li>التواصل</li>
								<li>التفاعل الاجتماعي</li>
							</ul>

							<p class="lead">
								 تم تصميم هذا ال على تعريف الجمعية األمريكية للتوحد وتعريف الدليل التشخيصي
ختبار بناءاً
واإلحصائي "لالضطرابات الذهنية " وقد تم احتساب النتائج بناءاً على الدرجة المعيارية لكل اختبار
فرعي تم تطبيقه.
							</p>
							<p>
								فيما يلي ملخص ألداء " <span class="api">{{studentData[0].name}}</span> " ممثال بالدرجات المعيارية على فقرات الختبار:
							</p>
							<table class="degrees">
								<thead>
									<tr>
										<td>الاختبارات الفرعية</td>
										<td>الدرجة المعيارية</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>السلوكيات النمظية</td>
										<td><span class="api">{{studentData[0].stereotypedBehaviorsDegree}}</span></td>
									</tr>
									<tr>
										<td>التواصل</td>
										<td><span class="api">{{studentData[0].communicationDegree}}</span></td>
									</tr>
									<tr>
										<td>التفاعل الاجتماعي</td>
										<td><span class="api">{{studentData[0].socialInteractionDegree}}</span></td>
									</tr>
								</tbody>
							</table>

							 <h5 class="subtitle">:"GARS 2" مقياس</h5>
							 <p class="lead">
								 بناء على نتائج مقياس غيليام حصل "<span class="api"> {{studentData[0].name}}</span> " على مؤشر توحد مقداره ){{studentData[0].autismIndex}}( وإ ن
								حصوله على هذه الدرجة يدل على إن احتمالية إصابته باضطراب التوحد هي احتمالية <span class="api">{{studentData[0].name}}</span>.
							 </p>
							 <br/>
							 <p>
								  فيما يلي جدول يوضح بعض نقاط القوة وجوانب الضعف في أداء" يزيد "على فقرات هذا المقياس:
							 </p>

							 <table class="points">
								<thead>
									<tr>
										<td> نقاط القوة</td>
										<td> نقاط الضعف</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span class="api">{{studentData[0].strengthPoint}}</span></td>
										<td><span class="api">{{studentData[0].weakPoints}}</span></td>

									</tr>


								</tbody>
							</table>
					  </div>
				  </div>
				  <div class="page_number">5</div>
			  </div>




			  <div class="pages-numbers">

				  <div class="unformal_rete">
						  <h5 class="subtitle">مقياس تقدير التوحد الطفولي CARS:</h5>
					  <div class="formal_rate_body">
						 <p>يقيس هذا المقياس خمسة عشر بعدا عند طفل التوحد وهي : </p>
						 <br/>
						 <ul>
							 <li> القدرة على إقامة العالقة مع الناس.</li>
							 <li>القدرة على التقليد والمحاكاة.</li>
							 <li>تطوير استجابات عاطفية.</li>
							 <li>استخدام الجسم في التعبير والتواصل. </li>
							 <li>استخدام األشياء في التعبير والتواصل. </li>
							 <li>التكيف والتأقلم. </li>
							 <li>الستجابة البصرية. </li>
							 <li>الستجابة لاللتفات .</li>
							 <li>التذوق والشم واللمس.</li>
							 <li>التواصل غير اللفظي. </li>
							 <li>التواصل اللفظي. </li>
							 <li>مستوى النشاط.</li>
							 <li>ثبات الستجابة الذهنية.</li>
							 <li>النطباعات العامة للفاحص.</li>
							 <li> الخوف والعصبية</li>
						 </ul>

						 <p class="lead">
							 - يقوم الفاحص بتقييم أداء الطفل على فقرات المقياس بالمقارنة مع الطفل العادي من نفس الفئة العمرية
							ليتم فيما بعد استخدام الدرجة الكلية ليتم تحويلها إلى مؤشر على وجود التوحد لدى الطفل من عدمه.
							- بناءاً على مالحظات التقييم والمعلومات المستفادة من الوالدين حصل " {{studentData.name}} "على درجة كلية مقدارها
							<span class="api">{{studentData[0].finalDegree}}</span>، إ ن حصوله على هذه الدرجة تعني إصابته باضطراب التوحد بمستوى {{studentData[0].autismLevel}} بنا ًء على
							. C.A.R.S. مق
						 </p>
						 <h6>
							 جاءت نتائج اختبار "S.R.A.C "متوافقة مع نتائج اختبار "2 GARS "من حيث احتمالية
وجود اضطراب التوحد لدى "<span class="api">{{studentData[0].name}}</span>".
						 </h6>
					  </div>
				  </div>
				  <div class="page_number">6</div>
			  </div>



			  	  <div class="pages-numbers">
						  <div class="title">
						  <h4 class="text-center">برنامج تعديل السلوك:</h4>
					  </div>
				  <div class="unformal_rete">
					  <div class="formal_rate_body">
						 <p class="lead">
							 منذ التحاق "<span class="api"> {{studentData[0].name}} </span>" بالمركز، بدأ العمل معه ضمن برنامج تعديل السلوك، حيث تم تحديد السلوكيات
غير المرغوب بها بدقة وتعريفها إجرائيا ومن ثم تحديد األساليب التي تتناسب مع الطفل والتي يكون لها
تأثير مباشر في سلوكه بشكل واضح وسريع، ويتم التعاون ما بي ن جميع األقسام في المركز وتعميم أساليب
التعامل مع الطفل من خالل جميع العاملين
						 </p>

						<div class="haveBehavior">
							 <h6>
						ومن خالل قائمة رصد السلوكيات تبين بأن " <span class="api">{{studentData[0].name}} </span>" لديه السلوكيات التالية :
						 </h6>
						 <p class="lead">
							 <span class="api">{{studentData[0].behaviorsHeHave}}</span>
						 </p>
						</div>
						<p>
							 وقد تم تصميم برنامج يتوافق مع قدراته بمشاركة جميع األخصائيين في اختيار اإلستراتيجيات
المستخدمة معه وتعميمها.
						</p>
						 <div class="title">
						  <h4 class="text-center">التوصيات العامة</h4>
					  </div>
					  <p class="lead">
						  بنا ًء على نتائج الختبارات والمقاييس ومالحظة السلوكيات فان السلوكيات المرتبطة باضطراب التوحد
بشكل مباشر <span class="api"> {{studentData[0].generalRecommendations}}</span> وبسبب ظهور بعض
السلوكيات تبين أن<span class="api"> {{studentData[0].name}}</span> لديه احتمالية <span class="api">{{studentData[0].autismLevel}}</span> للتوحد.
					  </p>
					  <div>
						    <h6>
						  وبناء على النتائج نوصي بما يلي :
					  		</h6>
							<p class="lead">
								<span class="api">{{studentData[0].BasedOnResultsWeRecommend}}</span>
							</p>
					  </div>
					  </div>
				  </div>
				  <div class="page_number">7</div>
			  </div>



		  </div>
	  </div>
  </div>
</template>

<script>
import API from '../../../../jsonfile'

export default {

asyncData({params}){
	return API.get('student-development-reports/'+params.id)
	.then(res => {
		console.log(res.data)
	return {studentData: res.data}
	})
}

}
</script>

<style lang="scss" scoped>
*{
	direction: rtl;
	text-align: right;
}
span.api{
	color:crimson;
}
// Classes i will use it
.subtitle{
	display: inline-block;
    border-bottom: 2px solid #333;
    padding: 5px 0;
}
//-------------------
.developmentColor{
	background-color: #f4f4f4;
}
.pages-numbers{
	padding: 30px;
	position: relative;
	border:2px solid #333;
	margin-bottom:20px;
	.page_number{
		position: absolute;
		bottom: 10px;
		left: 15px;
		font-weight: bolder;
	}
}
.developmentReportPrint{
	background-color: #FFF;
	.header{
		overflow: hidden;

		.logo{

			img{
				width: 131px;
    			height: 114px;
			}
		}
		.heading{
			text-align: center;
			margin-top: 42px;
	h2{
		display: inline-block;
		border-bottom: 2px solid #333;
		padding-bottom: 5px;
	}
		}
	}
	.report-body{
		.report-body-info{
			.title{
				text-align: center;
				h4{
					display:inline-block;
					border-bottom: 2px solid #333;
					padding-bottom: 5px;
				}
			}
			.report-body-info-body{
				padding: 20px;
			}
		}
		.main-info{
			.main-info-groub{
				overflow:hidden;
				    padding: 12px 50px;
				div{
					width:50%;
					text-align: center;
				float:left;
					h6{
						display: inline-block;
					}
					p{
						display: inline-block;
					}
				}
			}
		}
	}
}
.unformal_rete{
	.title{
		text-align: center;
   		margin: 29px 0;
	h4{
		border-bottom: 1px solid #333;
		display: inline-block;
		padding: 10px 0;
	}
	}
	.unformal_rate_body{
		h6{
			padding: 10px 0;
		}
		ul{
			list-style-type: circle;
			margin-bottom: 31px;
			li{
				padding:5px 0;
			}
		}
	}
	table.degrees{
		margin:15px auto;

		td{
			border: 1px solid #333;
			padding:10px;
		}
		thead{
			td{
				font-weight: bold;
			}
		}
		tbody{
			tr{
				td{
					&:first-of-type{
						font-weight: bold;
					}
				}
			}
		}
	}
	table.points{
		margin: 15px auto;
		td{
			border: 1px solid #333;
			padding:10px
		}
		thead{
			td{
				font-weight: bold;
			}
		}
	}
}

</style>


/*


 */
