<template>
   <div class="developmentColor">
	  <div class="container">
		  <div class="monthFormPrint">
			  <div class="pages-numbers">
				<div class="header">
				  <div class="row">

					  <div class="col-md-2 text-center">
						<div class="logo">
					  		<img src="../../../../assets/logo.png">
				  		</div>
					  </div>

					   <div class="col-md-10 col-md-push-2">
						<div class="heading">
					 	  <h2>التقرير الشهري:</h2>
				    	</div>
					</div>

				  </div>
			  </div>
			  <div class="monthFormBody">
				  <div class="name">
					  <h6>اسم الطالب : </h6>
					  <p> <span class="api"> {{studentData[0].name}} </span> </p>
				  </div>
				  <div class="intro-word">
					  <h6>
						  قمنا خلال الاشهر التالية بتدريب الطالب "<span class="api"> {{studentData[0].name}} </span> " على الاهداف التالية:
					  </h6>
				  </div>
				  <table class="tranning">
					  <thead>
						  <tr>
							  <td>المجال</td>
							  <td>الهدف</td>
							  <td>اتقن</td>
							  <td>التدريب مستمر</td>
							  <td>الملاحظات</td>

						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td><span class="api"> {{studentData[0].mainGoal}} </span></td>
							  <td><span class="api"> {{studentData[0].mainGoal}} </span></td>
							  <td><span class="api"> {{studentData[0].isDone}} </span></td>
							  <td><span class="api"> {{studentData[0].isCompleted}} </span></td>
							  <td><span class="api"> {{studentData[0].feedback}} </span></td>
						  </tr>
						   <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr> <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr> <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr>
					  </tbody>
				  </table>
			  </div>
			   <div class="page_number">1</div>
			  </div>


			  <div class="pages-numbers">

			  <div class="monthFormBody">

				  <div class="intro-word">
					 <h4 style="display:inline-block; margin:10px auto; border-bottom:1px solid #333; text-align:center;">الخدمات المساندة:</h4>
					 <h6>النطق و التواصل</h6>
				  </div>
				  <table class="tranning">
					  <thead>
						  <tr>
							  <td>المجال</td>
							  <td>الهدف</td>
							  <td>اتقن</td>
							  <td>التدريب مستمر</td>
							  <td>الملاحظات</td>

						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td><span class="api"> {{studentData[0].communicationDomain}} </span></td>
							  <td><span class="api"> {{studentData[0].communicationGoal}} </span></td>
							  <td><span class="api"> {{studentData[0].communicationDomainIsDone}} </span></td>
							  <td><span class="api"> {{studentData[0].communicationDomainIsCompleted}} </span></td>
							  <td><span class="api"> {{studentData[0].communicationFeedback}} </span></td>
						  </tr>
						   <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr> <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr> <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr>
					  </tbody>
				  </table>
			  </div>
			   <div class="page_number">2</div>
			  </div>



			  <div class="pages-numbers">
			  <div class="monthFormBody">

				  <div class="intro-word">
						<h4 style="display:inline-block; margin:10px auto; border-bottom:1px solid #333; text-align:center;">العلاج الوظيفي: </h4>

				  </div>
				  <table class="tranning">
					  <thead>
						  <tr>
							  <td>المجال</td>
							  <td>الهدف</td>
							  <td>اتقن</td>
							  <td>لم يتقن</td>
							  <td>الملاحظات</td>

						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td><span class="api"> {{studentData[0].occupationalTherapyDomain}} </span></td>
							  <td><span class="api"> {{studentData[0].occupationalTherapyGoal}} </span></td>
							  <td><span class="api"> {{studentData[0].occupationalTherapyIsDone}} </span></td>
							  <td><span class="api"> {{studentData[0].occupationalTherapyNotDone}} </span></td>
							  <td><span class="api"> {{studentData[0].occupationalTherapyFeedback}} </span></td>
						  </tr>
						   <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr> <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr> <tr>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
							  <td> </td>
						  </tr>
					  </tbody>
				  </table>
				  <div>
					  <h4>تعديل السلوك :</h4>
					  <p class="lead">
						  <span class="api"> {{studentData[0].behaviorModification}} </span>
					  </p>
				  </div>
			  </div>
			   <div class="page_number">3</div>
			  </div>
		  </div>
	  </div>
   </div>
</template>

<script>
import API from '../../../../jsonfile'
export default {
asyncData({params}){
	return API.get('student-month-reports/'+params.id)
	.then(res => {
		console.log(res.data)
	return {studentData: res.data}
	})
}
}
</script>

<style lang="scss" scoped>
span.api{
	color:crimson
}
*{
	direction: rtl;
	text-align: right;
}
.developmentColor{
	background-color: #f4f4f4;
}
.pages-numbers{
	padding: 30px;
	position: relative;
	border:2px solid #333;
	margin-bottom:20px;
	.page_number{
		position: absolute;
		bottom: 10px;
		left: 15px;
		font-weight: bolder;
	}
}
.monthFormPrint{
	background-color: #FFF;
	.header{
		.logo{
			img{
				width: 100px;
				height: 100px;
			}
		}
		.heading{
			margin: 30px auto;
			h2{
				border-bottom: 1px solid #333;
				display: inline-block;
			}
		}
	}
	.monthFormBody{
		.name{
			border: 2px dashed #EEE;
			padding:10px;
			line-height: 0;
			margin: 15px 0;
			h6{
				display:inline-block;
				margin-bottom: 5px;
				line-height: 10px;
			}
			p{
				display: inline-block;
			}
		}
	}
	table.tranning{
		width: 100%;
		text-align: center;
		thead{
			td{
				font-weight: bold;
			}
		}
		td{
			border:1px solid #333;
			text-align: center;
		}
	}
}
table{
	width: 100%;
	tr{
		td{
			padding:10px 0
		}
	}
}
</style>
