<template>
  <div class="developmentColor">
	  <div class="container">
		  <div class="monthFormPrint">
			  <div class="pages-numbers">

			  <div class="monthFormBody">
					  <div class="row">
					<div class="col-md-2">
						<div class="logo">
							<img src="../../../../assets/logo.png" alt="">
						</div>
					</div>
					<div class="col-md-10 col-md-push-2">
						<div class="main-title">
							<h3>خطة تعديل السلوك</h3>
						</div>
					</div>
				</div>
								  <div class="row">

					  <div class="col-md-6">
						  <div class="name">
							<h6>اسم الطالب : </h6>
							<p> <span class="api"> {{monthForm[0].name}} </span> </p>
				 		  </div>
					  </div>
					   <div class="col-md-6">
						  <div class="name">
							<h6>العمر</h6>
							<p><span class="api"> {{monthForm[0].age}} </span> </p>
				 		  </div>
					  </div>
					   <div class="col-md-6">
						  <div class="name">
							<h6>اسم المعلم</h6>
							<p><span class="api"> {{monthForm[0].teacher_name}} </span> </p>
				 		  </div>
					  </div>
					   <div class="col-md-6">
						  <div class="name">
							<h6>التاريخ </h6>
							<p><span class="api"> {{monthForm[0].donne_at}} </span> </p>
				 		  </div>
					  </div>
				  </div>
				  <div class="intro-word">
					  <p class="lead">
						  فيما يلي الخطة الدراسية الفردية للطالب "<span class="api"> {{monthForm[0].name}} </span> " نم وضع الاهداف و بالاعتماد علي هذه الاهداف سيتم التدريب عليها و انهائها بشكل تدريجي و بما يتناسب مع استجابة الطالب ز عند اتقان او انهاء احد هذه الاهداف سيتم الانتقال الي هدف اخر تلقائيا
					  </p>
					  <ul>
						  <li>سيتم كذالك مراجعة الاهداف بشكل دوري كل 3 اشهر لكن ليس من المتوقع ان ينهي او يتقن نها الطالب جميع الاهداف خلال هذه المدة</li>
					  </ul>
					  <h6>الخطة الفردية</h6>
				  </div>

				  <table class="tranning aspects_goals">
					  <thead>
						  <tr>
							  <td>الجانب</td>
							  <td>الاهداف</td>
						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td><span class="api"> {{monthForm[0].individualPlanAspect}} </span> </td>
							  <td><span class="api"> {{monthForm[0].individualPlanGoals}} </span> </td>
						  </tr>

					  </tbody>
				  </table>
			  </div>
			   <div class="page_number">1</div>
			  </div>


			  <div class="pages-numbers">

			  <div class="monthFormBody">


				  <table class="tranning aspects_goals">
					  <thead>
						  <tr>
							  <td>الجانب</td>
							  <td>الاهداف</td>


						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td><span class="api">  </span> </td>
							  <td><span class="api"> </span> </td>

						  </tr>
						   <tr>
							  <td><span class="api"> </span> </td>
							  <td><span class="api"> </span> </td>

						  </tr> <tr>
							  <td><span class="api">  </span> </td>
							  <td><span class="api">  </span> </td>

						  </tr> <tr>
							  <td><span class="api">  </span> </td>
							  <td><span class="api">  </span> </td>
						  </tr>
					  </tbody>
				  </table>
			  </div>
			   <div class="page_number">2</div>
			  </div>



			  <div class="pages-numbers">
			  <div class="monthFormBody three">

				  <div class="title text-center">
					<h6>الخدمات المساندة</h6>
					<h6>النطق و التواصل</h6>
				  </div>
				  <table class="tranning aspects_goals">
					  <thead>
						  <tr>
							  <td>الجانب</td>
							  <td>الاهداف</td>


						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td><span class="api"> {{monthForm[0].pronunciationAndLanguageProgram}} </span> </td>
							  <td><span class="api"> {{monthForm[0].pronunciationAndLanguageGoals}} </span> </td>

						  </tr>
						   <tr>
							  <td><span class="api">  </span> </td>
							  <td><span class="api"> </span> </td>

						  </tr> <tr>
							  <td><span class="api"> </span> </td>
							  <td><span class="api"> </span> </td>

						  </tr> <tr>
							  <td><span class="api">  </span> </td>
							  <td><span class="api">  </span> </td>
						  </tr>
					  </tbody>
				  </table>

			  </div>
			   <div class="page_number">3</div>
			  </div>





			   <div class="pages-numbers">
			  <div class="monthFormBody three">

				  <div class="title text-center">
					<h5>العلاج الوظيفي</h5>
				  </div>
				  <table class="tranning aspects_goals">
					  <thead>
						  <tr>
							  <td>اسم البرنامج</td>
							  <td>الاهداف</td>


						  </tr>
					  </thead>
					  <tbody>
						  <tr>
							  <td><span class="api"> {{monthForm[0].occupationalTherapyDomain}} </span> </td>
							  <td><span class="api"> {{monthForm[0].occupationalTherapyGoals}} </span> </td>

						  </tr>
						   <tr>
							  <td><span class="api"> </span> </td>
							  <td><span class="api">  </span> </td>

						  </tr> <tr>
							  <td><span class="api"> </span> </td>
							  <td><span class="api">  </span> </td>

						  </tr> <tr>
							  <td><span class="api">  </span> </td>
							  <td><span class="api">  </span> </td>
						  </tr>
					  </tbody>
				  </table>

			  </div>
			   <div class="page_number">3</div>
			  </div>


		  </div>
	  </div>
   </div>
</template>

<script>
import API from '../../../../jsonfile'
export default {
asyncData({params}){
	return API.get('student-month-plans/'+params.id)
	.then(res => {
		console.log(res.data)
	return {monthForm: res.data}
	})
}
}
</script>

<style lang="scss" scoped>
	.logo{
		img{
			width: 100px;
			height: 100px;
		}
	}
	.main-title{
		text-align: center;
		h3{
			display: inline-block;
			border-bottom: 2px solid #333;
			margin-top: 30px;
			padding-bottom: 5px;
		}
	}
*{
	direction: rtl;
	text-align: right;
}
.developmentColor{
	background-color: #f4f4f4;
}

.pages-numbers{
	padding: 30px;
	position: relative;
	border:2px solid #333;
	margin-bottom:20px;
	.page_number{
		position: absolute;
		bottom: 10px;
		left: 15px;
		font-weight: bolder;
	}
}
.monthFormPrint{
	background-color: #FFF;
	.header{
		.logo{
			img{
				width: 100px;
				height: 100px;
			}
		}
		.heading{
			margin: 30px auto;
			h2{
				border-bottom: 1px solid #333;
				display: inline-block;
			}
		}
	}
	.monthFormBody{
		.name{
			border: 2px dashed #EEE;
			padding:10px;
			line-height: 0;
			margin: 15px 0;
			h6{
				display:inline-block;
				margin-bottom: 5px;
				line-height: 10px;
			}
			p{
				display: inline-block;
			}
		}
	}
	table.tranning{
		width: 100%;
		text-align: center;
		thead{
			td{
				font-weight: bold;
			}
		}
		td{
			border:1px solid #333;
			text-align: center;
		}
	}
	table.aspects_goals{
		thead{
			td{
			padding:10px 0;
		}
		}
		tbody{
			td{
			padding:30px 0;
		}
		}
	}
	.three{
		.title{
			h6,h5{
				text-align: center;
				border-bottom: 1px solid #333;
				margin: 18px 0;
				width: 200px;
				margin: 20px auto;
				padding-bottom: 8px;
			}
		}
	}
}
span.api{
	color: crimson;
}
</style>
