<template>
  <div>
	  <div class="colored">
		  <div class="container">
			<div class="occuupational-therapy">
				  <div class="pages-numbers">
					 <div class="page-one">
						  <div class="bannar-text">
							<h2>
								تقرير العلاج الوظيفي
							</h2>
					  	  </div>
					 </div>
						<div class="page-number">1</div>

			  	  </div>

				<div class="pages-numbers">
					<div class="page-one">
						<div class="title">
							تــقــيــيــم الــعــــــلاج الــــوظـيـــفـــي
						</div>
						<div class="main-info">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<div>
												<h6>الاسم</h6>
											</div>
										</div>
										<div class="col-md-6">
											<div>
												<h6><span class="api"> {{studentData[0].name}} </span></h6>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<div>
												<h6>تاريخ كتابة التقرير</h6>
											</div>
										</div>
										<div class="col-md-6">
											<div>
												<h6><span class="api"> {{studentData[0].playFunction}} </span></h6>
											</div>
										</div>
									</div>
								</div>

									<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<div>
												<h6>تاريخ الميلاد</h6>
											</div>
										</div>
										<div class="col-md-6">
											<div>
												<h6><span class="api"> {{studentData[0].birthDate}} </span></h6>
											</div>
										</div>
									</div>
								</div>

									<div class="col-md-6">
									<div class="row">
										<div class="col-md-6">
											<h6>العمر</h6>
										</div>
										<div class="col-md-6">
											<h6><span class="api"> {{studentData[0].age}} </span></h6>
										</div>
									</div>
								</div>
								<div class="content">
									<div class="title">
									معلومات عامة
								</div>
								<div class="title">مهارات الحياة اليومية</div>
								<div class="one">
									<h6>لاكل Eating and Feeding</h6>
									<p>
										<span class="api"> {{studentData[0].eating}} </span>
									</p>
								</div>
								<div class="one">
									<h6>اللباس Dressing</h6>
									<p>
										<span class="api"> {{studentData[0].dressing}} </span>
									</p>
								</div>
								<div class="one">
									<h6>استخدام الحمام والعناية بالنظافة الشخصية Toileting &amp; Hygiene:</h6>
									<p>
										<span class="api"> {{studentData[0].toiletingAndHygiene}} </span>
									</p>
								</div>
								<div class="one">
									<h6>اللعب Play Function:</h6>
									<p>
										<span class="api"> {{studentData[0].playFunction}} </span>
									</p>
								</div>

								<div class="one">
									<h6>القدرات العقلية (Higher –Level Cognitive ):</h6>
									<p>
										<span class="api"> {{studentData[0].playFunction}} </span>
									</p>
								</div>
								<div class="one">
									<h6>الانتباه ( Attention):</h6>
									<p>
										<span class="api"> {{studentData[0].attention}} </span>
									</p>
								</div>
									<div class="one">
									<h6>الذاكرة (Memory) :</h6>
									<p>
										<span class="api"> {{studentData[0].memory}} </span>
									</p>
								</div>
							</div>
								</div>
						</div>
					</div>
					<div class="page-number">1</div>
			</div>


			<div class="pages-numbers">
					<div class="page-one">

						<div class="main-info">
							<div class="row">




								<div class="content">

								<div class="title">مهارات الحياة اليومية</div>
								<div class="one">
									<h6>الوظائف العقلية للتتابع الحركي والتخطيط الحركي (Motor Planning  ):</h6>
									<p>
										<span class="api"> {{studentData[0].motorPlanning}} </span>
									</p>
								</div>
								<div class="one">
									<h6>-العواطف والسلوكيات (  (Emotions and Behaviors: </h6>
									<p>
										<span class="api"> {{studentData[0].emotionsAndBehaviors}} </span>
									</p>
								</div>
								<div class="title">مهارات الحياة اليومية</div>

								<div class="one">
									<h6>مهارات الشم والتذوق:</h6>
									<p>
										<span class="api"> {{studentData[0].smellAndTasteSkills}} </span>
									</p>
								</div>
								<div class="one">
									<h6>المهارات و القدرات البصرية ( Vision and Related Functions  ):</h6>
									<p>
										<span class="api"> {{studentData[0].visionAndRelatedFunctions}} </span>
									</p>
								</div>

								<div class="one">
									<h6>الوظائف الخاصة الاحساس بالدوران والموقع في الفراغ ( Vestibular Functions) </h6>
									<p>
										<span class="api"> {{studentData[0].vestibularFunctions}} </span>
									</p>
								</div>
								<div class="one">
									<h6>الوظائف  الاحساس بالمفاصل ومدى الضغط عليها ( Proprioception Functions )</h6>
									<p>
										<span class="api"> {{studentData[0].proprioceptionFunctions}} </span>
									</p>
								</div>
									<div class="one">
									<h6>الوظائف السمعية ( Auditory Functions):</h6>
									<p>
										<span class="api"> {{studentData[0].auditoryFunctions}} </span>
									</p>
								</div>

								<div class="one">
									<h6>الوظائف الاحساس اللمسي الجلدي ( Tactile Functions ):</h6>
									<p>
										<span class="api"> {{studentData[0].tactileFunctions}} </span>
									</p>
								</div>

								<div class="one">
									<h6>التكامل الحسي والمعالجة الحسية ( Sensory Processing)</h6>
									<p>
										<span class="api"> {{studentData[0].sensoryProcessing}} </span>
									</p>
								</div>
							</div>
								</div>
						</div>
					</div>
					<div class="page-number">2</div>
			</div>


			<div class="pages-numbers">
					<div class="page-one">

						<div class="main-info">
							<div class="row">




								<div class="content">


								<div class="title">التحكم بالحركات الارادية ( Control Of Voluntary Movement):</div>

								<div class="one">
									<h6>المهارات الحركية الدقيقة  ( Fine Motor Skills):</h6>
									<p>
										<span class="api"> {{studentData[0].fineMotorSkills}} </span>
									</p>
								</div>
								<div class="one">
									<h6>المهارات الحركية الكبيرة (  (Gross Motor Skills:</h6>
									<p>
										<span class="api"> {{studentData[0].grossMotorSkills}} </span>
									</p>
								</div>

								<div class="one">
								<div class="title">التوصيات</div>
									<p>
										<span class="api"> {{studentData[0].recommended}} </span>
									</p>
								</div>

							</div>
								</div>
						</div>
					</div>
					<div class="page-number">3</div>
			</div>




			</div>
	  	  </div>
	  </div>
  </div>
</template>

<script>
import API from '../../../../jsonfile'
export default {
asyncData({params}){
	return API.get('student-occupational-therapies/'+params.id)
	.then(res => {
		console.log(res.data)
	return {studentData: res.data}
	})
}
}
</script>

<style lang="scss" scoped>
span.api{
	color:crimson;
}
.pages-numbers{
		position: relative;
		background-color: #FFF;
		border: 1px solid #333;
}
.page-number{
	position: absolute;
	bottom: 10px;
	left: 10px;
}
*{
	direction: rtl;
}
.occuupational-therapy{
	text-align: center;
	margin: 15px 0;
	.title{
		    border-bottom: 1px solid #333;
		display: inline-block;
		margin: auto;
		margin: 45px 0 18px;
		font-weight: bold;
	}
	.page-one{
		min-height:600px;
		.bannar-text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			h2{
				font-weight: bold;
				font-size: 40px;
			}
		}
	}
	.main-info{
		.row{
			.col-md-6{
				    margin: 10px 0px;
			}
		}
	}
	.content{
		    width: 100%;
			.one{
				margin: 15px 0;
				h6{
					text-align:center;
				}
			}
	}
}
</style>
