<template>
  <div class="colored">
		<div class="behavior-modification-plan">
			<div class="container">
				<div class="pages-numbers">
					<div class="row">
					<div class="col-md-2">
						<div class="logo">
							<img src="../../../../assets/logo.png" alt="">
						</div>
					</div>
					<div class="col-md-10 col-md-push-2">
						<div class="main-title">
							<h3>تقييم الاداء الحالي</h3>
						</div>
					</div>
				</div>
					<div class="main-body">
							<div class="main-info-groub">
								<div class="row">
									<div class="col-md-6">
										<div>
											<h6>الاسم: </h6>
											<p> <span class="api">{{studentData[0].name}}</span> </p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>تاريخ التقييم: </h6>
											<p><span class="api">{{studentData[0].ratingDate}}</span></p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>تاريخ الولادة: </h6>
											<p><span class="api">{{studentData[0].birthDate}}</span></p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>التشخيص: </h6>
											<p><span class="api">{{studentData[0].diagnosis}}</span></p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>تاريخ الالتحاق بالمركز:  </h6>
											<p><span class="api">{{studentData[0].joinigDate}}</span></p>
										</div>
									</div>

									<div class="col-md-6">
										<div>
											<h6>المعلم/ة: </h6>
											<p><span class="api">{{studentData[0].teacherName}}</span></p>
										</div>
									</div>
									<div class="col-md-6">
										<div>
											<h6>المستوي</h6>
											<p><span class="api">{{studentData[0].name}}</span></p>
										</div>
									</div>
									<div class="col-md-6">
										<div>
											<h6>مستوي التقدم</h6>
											<p><span class="api">{{studentData[0].advancedLevel}}</span></p>
										</div>
									</div>
								</div>
							</div>
							<br>
							<div class="seconde-table">
								<table>
									<thead>
										<tr>
											<th colspan="5">لجنة التقييم</th>
										</tr>
										<tr>
												<th>معلم/ة الطفل</th>
												<th>معلم/ة </th>
												<th>الاخصائي/ة</th>
												<th> ولي امر الطفل</th>
												<th>ملاحظات</th>
										</tr>
									</thead>
									<tbody>

											<tr>
												<td>التوقيع</td>
												<td>التوقيع </td>
												<td>التوقيع</td>
												<td>التوقيع</td>
												<td>  </td>
											</tr>
											<tr class="table-sign">
												<td colspan="3">مصادقة مدير المركز</td>
												<td colspan="2">الختم و التوقيع</td>
											</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="page_number">1</div>
				</div>


				<div class="pages-numbers">

					<div class="main-body">
						<div class="header">
							<h6 style="text-align:center;margin-bottom:20px;">تعليمات تقييم مستوي الاداء الحالي</h6>
							<h6 style="text-align:center;margin-bottom:10px;">يتم تقييم اداء الاعاقة العقلية والتوحد</h6>
						</div>
						<ul>
							<li>ضع إشارة (+) امام كل مهارة يتم أدائها بنجاح وإشارة (_) لكل مهارة لم يتسطيع الطفل ادائها .</li>
							<li>اذا لم يؤدي الطفل المهارة من خلال محاولتين تعتبر (_) .</li>
							<li>يتم إعداد الخطة التربوية والتعليمية الفردية للمهارات التي حصل فيها الطفل (_) .</li>
							<li>يتم البدء بالمهارات الأستقلالية .</li>
							<li>يتم البدء في التطبيق بالمتسوى الأول لجميع المجالات .</li>
							<li>قد تكون المستويات واضحة أو قد تعود لتقدير المعلم/ة : مثال</li>
						</ul>

						<table>
							<thead>
								<tr>
									<th>المهارة</th>
									<th colspan="6">المستوي</th>
								</tr>
								<tr>
									<th>  </th>
									<th>1</th>
									<th>2</th>
									<th>3</th>
									<th>4</th>
									<th>5</th>
									<th>مستوي متقدم</th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<td>  </td>
								</tr>
								<tr>
									<td>استعمال الملعقة للدهن على الخبز </td>
									<td>بمساعدة</td>
									<td>بدون</td>
									<td>  </td>
									<td>  </td>
									<td>  </td>
									<td>  </td>

								</tr>
								<tr>
									<td>معرفة ادوات النظافة / عدد</td>
									<td>اداة بمساعدة</td>
									<td>اداتان</td>
									<td>ثلاث ادوات</td>
									<td>اربع ادوات</td>
									<td>  </td>
									<td>  </td>

								</tr>
								<tr>
									<td>معرفة الأشياء الأمنة ورموز الخطر</td>
									<td>بمساعدة</td>
									<td>خطرين</td>
									<td>  </td>
									<td>  </td>
									<td>  </td>
									<td>  </td>

								</tr>
								<tr>
									<td>خلع الملابس لوحده</td>
									<td>قطعة بمساعدة</td>
									<td>2</td>
									<td>3</td>
									<td>4</td>
									<td>4</td>
									<td>اكثر</td>

								</tr>
								<tr>
										<td>تنظيف أسنانه بالفرشاة والمعجون</td>
										<td>محاولة</td>
									<td>محاولتين</td>
									<td>  </td>
									<td>  </td>
									<td>  </td>
									<td>  </td>
								</tr>
								<tr></tr>
							</tbody>
						</table>
						<h6 style="font-weight:bold; padding:10px 0;">
							ملاحظة : بعض المهارات قد يكون لها مستويان (بمساعدة/بدون) ومهارات اخرى قد يكون لها اكثر من ذلك .
						</h6>

						<h6 style="font-weight:bold; padding:10px 0;">
							تقاس المستويات بثلاث معايير
						</h6>
						<ul>
							<li>عدد محاولات / عدد مواد</li>
							<li>عدد الاعمال التي يقوم بها الطفل</li>
							<li>وجود او عدم وجود المهارة</li>
							<li>ليس بالضرورة تطبيق جميع المهارات على جميع مستويات الاعاقة باستثناء مهارات العناية بالذات </li>
						</ul>
						<h6 style="font-weight:bold; padding:10px 0;">
							تطبق الاستمارة في العام الدراسي الجديد
						</h6>
					</div>
					<div class="page_number">2</div>
				</div>



				<div class="pages-numbers">

					<div class="main-body">

						<h6 style="font-weight:bold; padding:10px 0; text-align:center">
							قائمة المحتويات
						</h6>
						<table>
							<thead>
								<th>الرقم </th>
								<th>المجالات </th>
								<th>عدد الفقرات </th>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>المهارات الأستقلالية / تناول الطعام والشراب</td>
									<td>10</td>
								</tr>
									<tr>
									<td>2</td>
									<td>المهارات الأستقلالية / النظافة</td>
									<td>6</td>
								</tr>
									<tr>
									<td>3</td>
									<td>المهارات الأستقلالية / العناية بالاظافر</td>
									<td>2</td>
								</tr>
									<tr>
									<td>4</td>
									<td>المهارات الأستقلالية / اللباس</td>
									<td>22</td>
								</tr>
									<tr>
									<td>5</td>
									<td>لأمن والسلامة</td>
									<td>6</td>
								</tr>
									<tr>
									<td>6</td>
									<td>التسوق</td>
									<td>4</td>
								</tr>
									<tr>
									<td>7</td>
									<td>تنظيف البيئة</td>
									<td>7</td>
								</tr>
									<tr>
									<td>8</td>
									<td>استخدام الحمام</td>
									<td>10</td>
								</tr>
									<tr>
									<td>9</td>
									<td>المهارات اللغوية / اللغة الأستقبالية</td>
									<td>7</td>
								</tr>
									<tr>
									<td>10</td>
									<td>المهارات الأستقبالية / اللغة التعبيرية</td>
									<td>9</td>
								</tr>

									<tr>
									<td>11</td>
									<td>المهارات الأدراكيه</td>
									<td>21</td>
								</tr>
									<tr>
									<td>12</td>
									<td>الصور والرموز</td>
									<td>9</td>
								</tr>
									<tr>
									<td>13</td>
									<td>الحركية الكبيرة</td>
									<td>7</td>
								</tr>
									<tr>
									<td>14</td>
									<td>الحركية الدقيقة</td>
									<td>6</td>
								</tr>


									<tr>
									<td>15</td>
									<td>المهارات الدينية</td>
									<td>18</td>
								</tr>
									<tr>
									<td>16</td>
									<td>المهارات الأجتماعية</td>
									<td>15</td>
								</tr>
									<tr>
									<td>17</td>
									<td>الأكاديمية / قراءة</td>
									<td>18</td>
								</tr>
									<tr>
									<td>18</td>
									<td>الأكاديمية / كتابة</td>
									<td>20</td>
								</tr>

								<tr>
									<td>19</td>
									<td>الأكاديمية /حساب</td>
									<td>30</td>
								</tr>
									<tr>
									<td>20</td>
									<td>الأكاديمية /علوم</td>
									<td>20</td>
								</tr>
								<tr>
									<td>21</td>
									<td>المهارات الفنية</td>
									<td>17</td>
								</tr>
									<tr>
									<td>22</td>
									<td>المهارات الحسية</td>
									<td>20</td>
								</tr>
								<tr>
									<td>23</td>
									<td>مهارات التهيئة المهنية</td>
									<td>18</td>
								</tr>
									<tr>
									<td>24</td>
									<td>المجموع</td>
									<td>273</td>
								</tr>

							</tbody>
						</table>
					</div>
					<div class="page_number">2</div>
				</div>





				<div class="pages-numbers">

					<div class="main-body">

						<h6 style="font-weight:bold; padding:10px 0; text-align:center">
							محتوايات الاستمارة
						</h6>
						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الأستقلالية/ تناول الطعام والشراب</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>+</th>
									<th>-</th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>ترتيب المائدة ( يتعرف على ادوات الطعام)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>2</td>
									<td>اطعام نفسه بتحكم باستخدام الملعقة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>3</td>
									<td>استعمال الملعقة في شرب الشوربة</td>
									<td>2</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>4</td>
									<td>استعمال الملعقة للدهن على الخبز</td>
									<td>22</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>5</td>
									<td>عمل سندويشة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>6</td>
									<td>الشرب من كأس او كوب مستعملاً يد واحده بتحكم وبدون اراقه</td>
									<td>4</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>7</td>
									<td>صب سوائل من ابريق صغير في كوب</td>
									<td>7</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>8</td>
									<td>يملأ الكأس من الحنفية ويشرب</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>9</td>
									<td>استخدام المصاصه عند شرب العصير</td>
									<td>7</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>10</td>
									<td>عمل مشروبات  ساخنة / باردة</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

							</tbody>
						</table>



						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الأستقلالية/ النظافــــــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>+</th>
									<th>-</th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>معرفة ادوات النظافة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>
									<tr>
									<td>2</td>
									<td>فتح حنفية الماء واغلاقها</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>
									<tr>
									<td>3</td>
									<td>غسيل الوجه واليدين وتجفيفهما</td>
									<td>2</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>
									<tr>
									<td>4</td>
									<td>تمشيط الشعر</td>
									<td>22</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>
									<tr>
									<td>5</td>
									<td>تنظيف اسنانه بالفرشاة ومعجون الأسنان</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>
									<tr>
									<td>6</td>
									<td>تنظيف انفه / تنظيف اذنه</td>
									<td>4</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
							</tbody>
						</table>


						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الأستقلالية/ العنايـــــة بالأظـافـــــر</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>+</th>
									<th>-</th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>معرفة مفاهيم ( الأضافر الطويلة ، الأظافر القصيرة ، مقص الأظافر )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>
									<tr>
									<td>2</td>
									<td>معرفة كيفية قص الأظافر</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>

							</tbody>
						</table>


						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الأستقلالية/ اللبـــــــــــــــــــــاس</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>+</th>
									<th>-</th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>معرفة مسميات الملابس ( بنطال- بلوزة- قميص- شورت- حزام- جاكيت- قفازات- ازرار- سحاب- كباسات ...الخ)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>2</td>
									<td>خلع الملابس كامله</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>3</td>
									<td>لبس الملابس كامله</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>

									<tr>
									<td>4</td>
									<td>تعليق الملابس</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>


								</tr>

							</tbody>
						</table>



					</div>
					<div class="page_number">2</div>
				</div>


				<div class="pages-numbers">

					<div class="main-body">


						<table>
							<thead>
								<tr>
									<th>الرقم </th>
									<th>المهارة </th>
									<th>+</th>
									<th>-</th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>5</td>
									<td>لبس ما يلي (القفازات، الجوارب،الحزام)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>6</td>
									<td>لبس الملابس الداخلية بشكل صحيح</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>7</td>
									<td>فك وتركيب الأزرار</td>
									<td>2</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>8</td>
									<td>فتح وإغلاق السحاب</td>
									<td>22</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>9</td>
									<td>فك وتركيب الكباسات</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>10</td>
									<td>لبس القميص</td>
									<td>4</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>11</td>
									<td>لبس البنطال</td>
									<td>7</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>12</td>
									<td>لبس البلوزة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>13</td>
									<td>معرفة الملابس الخارجية</td>
									<td>7</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>14</td>
									<td>معرفة الملابس المتسخة والنظيفة</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

								<tr>
									<td>15</td>
									<td>معرفة الملابس الشتوية والصيفية</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

								<tr>
									<td>16</td>
									<td>معرفة ملابس الخروج</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

								<tr>
									<td>17</td>
									<td>معرفة ملابس البيت</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

								<tr>
									<td>18</td>
									<td>معرفة ملابس النوم</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>19</td>
									<td>التمييز بين الملابس الداخلية والملابس الخارجية</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>20</td>
									<td>يميز بين ظهر ووجه الملابس</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>21</td>
									<td>تسمية او الأشارة الى انواع الأحذية ( بوت- كندرة- صندل- شبشب.... الخ )</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>22</td>
									<td>خلع ولبس الحذاء</td>
									<td>9</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>



							</tbody>
						</table>



						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الأستقلالية/ الأمــــن و السلامــــــــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>+</th>
									<th>-</th>
									<th>السمتوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>معرفة المنبهات و الأستجابة لها ( صوت السيارة – إسعاف – كلب ... الخ)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>2</td>
									<td>الأبتعاد عن اماكن  / ومواد الخطر</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>3</td>
									<td>معرفة اشارات المرور</td>
									<td>2</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>4</td>
									<td>قطع الشارع بشكل امن</td>
									<td>22</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>5</td>
									<td>معرفة الأشياء الأمنة ورموز الخطر</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>6</td>
									<td>معرفة طرق الأخلاء</td>
									<td>4</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
							</tbody>
						</table>


						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الأستقلالية/ التســـــــــــوق</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>+</th>
									<th>-</th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>معرفة فئات النقود</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>2</td>
									<td>معرفة مفاهيم الشراء والبيع</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
								<tr>
									<td>3</td>
									<td>معرفة كيفية استخدام النقود</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

								<tr>
									<td>4</td>
									<td>القيام بعملية الشراء(من البقالة)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

							</tbody>
						</table>


						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الأستقلالية/ تنظيــــــــف البيئــــــــــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>+</th>
									<th>-</th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>معرفة ادوات النظافة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>2</td>
									<td>تسمية ادوات النظافة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

							</tbody>
						</table>



					</div>
					<div class="page_number">2</div>
				</div>

				<div class="pages-numbers">
					<div class="main-body">
							<table>
							<thead>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>+</th>
									<th>-</th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>3</td>
									<td>استخدام المكنسة في تنظيف المنزل</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>4</td>
									<td>شطف الأرض بأستخدام القشاطة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>5</td>
									<td>معرفة كيفية جلي الأواني المنزلية بالليف وسائل الجلي</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>6</td>
									<td>معرفة كيفية مسح الغبرة باستخدام فوطة التنظيف وملمع الزجاج</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>7</td>
									<td>تنظيف السجادة او قطعة الموكيت باستخدام اللمامه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

							</tbody>
						</table>


							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الأستقلالية/ استخـــــــــدام الحمـــــــــــــام</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>اظهار قدرته في التحكم بعملية ( التبول والتبرز)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>
									<tr>
									<td>2</td>
									<td>إظهار عدم ارتياحه عندما يكون مبتلا او متسخا إما باللفظ او الأيماءات ــ مثل(يخفي وجهه – يشير الى سرواله – يصبح هادئ جداً – يتوتر- يصدر اصواتاً ... الخ)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>

									<tr>
									<td>3</td>
									<td>يجلس على النونية او على كرسي المرحاض مع المساعدة إن وضعه الشخص البالغ على الكرسي وضل قريباً منه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>

									<tr>
									<td>4</td>
									<td>يقضي حاجته بشكل منتظم عند اصطحاب البالغ له – يتولى الشخص البالغ مسئولية إدخاله الى الحمام  ــ ينجح بحوالي 50% من الوقت </td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>

									<tr>
									<td>5</td>
									<td>يظهر رغبته في التبول او التبرز ويستخدم نفس الكلمة لأداء الوظيفتين احياناً يشير مسبقاً , قد يقول "بي بي" لكلا الوظيفتين</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>

								<tr>
									<td>6</td>
									<td>يظهر رغبته لقضاء الحاجة في الوقت المحدد – يشير عادة الى حاجته لدخول الحمام مسبقاً</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>

								<tr>
									<td>7</td>
									<td>يستخدم الحمام بالمساعدة ( خلع وارتداء الملابس والتنظيف) يستطيع ان يعبر عن رغبته لدخول الحمام اثناء النهار- المساعدة تكون في خلع الملابس والمسح ، نادراً ما تحصل حوادث خلال اليوم (اقل من مره او مرتين في اليوم)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>

								<tr>
									<td>8</td>
									<td>يميز بين التبول والتبرز – يسميهم بشكل صحيح</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>

								<tr>
									<td>9</td>
									<td>يتلفظ بحاجته للذهاب الى الحمام وقد يبلل نفسه احيانا – مع شخص بالغ مألوف له , تحصل حوادث عندما يكون متوتراً ، او ليس قريباً من الحمام , او يكون مستغرق في اللعب</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>
								<tr>
									<td>10</td>
									<td>يقوم بقضاء حاجته بنفسه ويحتاج للمساعدة في تنظيف نفسه بعد  ذلك</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يتم تدريب الطفل على هذه المهارة بالتعاون مع الام</td>

								</tr>

							</tbody>
						</table>


					</div>
				</div>








				<div class="pages-numbers">
					<div class="main-body">



							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهــــارات اللغويــــة / اللغـــة الأستقباليـــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>يستجيب الطفل لأصوات الأشياء من حوله مثل (المعلمة ، جرس، زامور،دق الباب) بشكل صحيح</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
									<tr>
									<td>2</td>
									<td>يقلد الطفل حركات جسمية معينة مثل (نصفيق ، هز الرأس ، تحريك الأيدي ... الخ)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

									<tr>
									<td>3</td>
									<td>يقلد الطفل اصوات بسيطة مختلفة مثل (بيب,بيب ، توت،توت) الخ</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>4</td>
									<td>تصنيف المجموعات (العاب ، فواكه)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>5</td>
									<td>الأستجابة للتعليمات (من طلب واحد من طلبين من اكثر من طلب)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>3</td>

								</tr>

								<tr>
									<td>6</td>
									<td>الأشارة الى اجزاء الجسم كامله</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>3</td>

								</tr>

								<tr>
									<td>7</td>
									<td>الأشارة الى الأشياء المألوفة في البيئة (إنسان ، حيوان،... الخ)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>



							</tbody>
						</table>



						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهــــارات اللغويــــة / اللغـــة التعبيريــــــــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>لفظ اصوات مختلفة ( ب،س،م،ه،ت) .... الخ</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>2</td>
									<td>ينطق اصوات من البيئة (زامور , جرس, .. الخ ) (كلب,حمار,قطة ... الخ)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>3</td>
									<td>التعبير بالأشارة او الأصوات او الكلمات</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

									<tr>
									<td>4</td>
									<td>التعبير بجملة واحدة من كلمتين</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>5</td>
									<td>يعبر بجملة واحدة اكثر من 4 كلمات</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>6</td>
									<td>طلب الأشياء بأسمائها الصحيحة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>3</td>

								</tr>

								<tr>
									<td>7</td>
									<td>عمل حوار مع الطالب لمدة 5 دقائق</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>3</td>

								</tr>

								<tr>
									<td>8</td>
									<td>استعمال الأفعال (الماضي- المضارع - المستقبل)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>9</td>
									<td>استخدام المذكر والمؤنث والجمع والمثنى</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>




							</tbody>
						</table>



							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهــــارات الإدراكيــــــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>تذكر الأشياء المخفية بعد عرضها امامه مع تذكر مكان اخفائها</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>2</td>
									<td>تذكر صور من الذاكرة بعد عرض الصور امامه ثم اختفائها</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>3</td>
									<td>مطابقة الأشياء المماثلة مع بعضها البعض (صحن صحن ،قلم قلم،كتاب كتاب ،... الخ)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

									<tr>
									<td>4</td>
									<td>مطابق الصور المماثلة مع بعضها البعض (كرسي،خزانة،شمعة،كتاب)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>5</td>
									<td>مطابقة الأشكال الهندسية وهي(مربع،مثلث، مستطيل)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


							</tbody>
						</table>

					<div class="page_number">2</div>

					</div>
				</div>

				<div class="pages-numbers">
					<div class="main-body">
						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهــــارات الإدراكيــــــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>6</td>
									<td>مطابقة الألوان الأساسية (احمر، اصفر، ازرق)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>7</td>
									<td>مطابقة الألوان الغير اساسية</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>8</td>
									<td>مطابقة الأحجام المختلفة بالمقارنة(كبير،صغير)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

									<tr>
									<td>9</td>
									<td>يقارن الأطوال المحتلفة بالمقارنة (طويل ،قصير)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>10</td>
									<td>تسمية الاحجام المختلفة بالمقارنة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>11</td>
									<td>تسمية الاطوال المختلفة بالمقارنة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>12</td>
									<td>تسمية الأشكال الهندسية مثل(مربع ، مستطيل،مثلث، دائرة)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>13</td>
									<td>تسمية الكثير والقليل</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>14</td>
									<td>تسمية الخفيف والثقيل</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>15</td>
									<td>تسمية ايام الأسبوع بالترتيب</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>16</td>
									<td>تسمية فصول السنة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>17</td>
									<td>تسمية اشهر السنة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


								<tr>
									<td>18</td>
									<td>الربط بين الوقت والنشاط</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


								<tr>
									<td>19</td>
									<td>تسمية نفسه(ذكر/انثى)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


								<tr>
									<td>20</td>
									<td>يسمي الأشياء حسب حجمها ولونها و وزنها</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

								<tr>
									<td>21</td>
									<td>تسمية اقسام المنزل و موجوداته /اقسام المركز</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


							</tbody>
						</table>



						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهــــــارات الادراكيـــــــة/ الصــــــــور والرمــــــوز</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>6</td>
									<td>ادراك العلاقات المنطقية بين الأشياء (قلم،دفتر،كرسي،طاولة)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>7</td>
									<td>معرفة الأضداد مثل(متسخ /نظيف) (ساخن/بارد)(طويل/قصير)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>8</td>
									<td>معرفة ظروف المكان (امام،وراء،جانب،تحت،فوق)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

									<tr>
									<td>9</td>
									<td>التمييز بين مواقع الأشياء(اول ، وسط، اخر)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>10</td>
									<td>التمييز بين الليل والنهار</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>

									<tr>
									<td>11</td>
									<td>التمييز بين النشاطات اليومية مثل(الأفطار صباحاً ، الطابور ... الخ)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>12</td>
									<td>تسمية الفصول الأربعة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>13</td>
									<td>التمييز بين (اليوم ، امس ، غداً)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>


									<tr>
									<td>14</td>
									<td>تسمية الأعياد الرئيسية والمناسبات الوطنية</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>






							</tbody>
						</table>


							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهـــــارات الحركيـــة العامـــة / الحركيـــة الكبيــــرة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>المشي بجميع الأشكال (امام ،خلف)على رؤوس الأصابع بوضع القرفصاء</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

							</tbody>
						</table>




					</div>
				</div>








					<div class="pages-numbers">
					<div class="main-body">



						<table>
							<thead>

								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2</td>
									<td>القفز بجميع اشكاله (القفز على قدم واحده /القفز على قدمين)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>3</td>
									<td>صعود ونزول الدرج</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>4</td>
									<td>التقاط ورمي الكرة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>النهوض من حالة القرفصاء</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>6</td>
									<td>الوقوف على قدم واحدة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>7</td>
									<td>التنسيق بين اليدين و الرجلين اصناء القفز</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
							</tbody>
						</table>


							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهـــــارات الحركيـــة العامـــة / الحركيـــة الدقيقـــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>الضغط على كرات اسفنجية</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>2</td>
									<td>القبض على الجسم (اسطواني/دائري) براحة اليد</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>3</td>
									<td>تمزيق الورق</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


								<tr>
									<td>4</td>
									<td>الضغط على الملقط او القطارة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>5</td>
									<td>فتح غطاء مرطبان</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>عصر الأسفنجة من الماء</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

							</tbody>
						</table>



						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهـــــارات الدينية</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>تسمية اسم الله - الخالق -</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>2</td>
									<td>تسمية اسم الرسول صلى الله عليه وسلم</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>3</td>
									<td>تسمية ديننا "الأسلام"</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


								<tr>
									<td>4</td>
									<td>تسمية نسب الرسول (ص) (امه – ابوه – عمه – جده)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>5</td>
									<td>تسمية ثلاث صفات للرسول (ص) (الصدق – الأمانه ... الخ)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسمية نشأة الرسول (ص) (ولادة – وفاة – عمله)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


								<tr>
									<td>6</td>
									<td>القاء ورد التحية (تحية الأسلام) (السلام عليكم ورحمة الله وبركاته)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


<tr>
									<td>6</td>
									<td>تسمية الصلوات الخمسه (الفجر - الظهر- العصر - المغرب – العشاء)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


<tr>
									<td>6</td>
									<td>حفظ سور قصيرة (الفاتحة – الناس – الأخلاص – الفلق )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


<tr>
									<td>6</td>
									<td>تسمية الكتب السماوية</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسمية مبطلات الصلاة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسمية حركات الوضوء</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسمية حركات الصلاة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

									<tr>
									<td>6</td>
									<td>تسمية اركان الأسلام</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


							</tbody>
						</table>






					</div>
				</div>











				<div class="pages-numbers">
					<div class="main-body">



						<table>
							<thead>

								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2</td>
									<td>تسمية اركان الأيمان</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>3</td>
									<td>اداب دخول الحمام والخروج منه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>4</td>
									<td>تعريف القرأن الكريم</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>اداب تلاوة القرأن الكريم</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>


							</tbody>
						</table>


							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهـــــارات الأجتماعيــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>طرق الباب والأستئذان قبل الدخول</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>2</td>
									<td>معرفة الأداب الأجتماعية</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>3</td>
									<td>تسميه عنوان سكنه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


								<tr>
									<td>4</td>
									<td>تسميه افراد اخرين من غير العائلة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>5</td>
									<td>التفاعل مع الأخرين في الألعاب والنشاطات</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه بلده الأردن والعاصمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه محافظات المملكة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه العائلة الهاشمية ( ملك الاردن – ولي العهد – الملكه )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه وسائل المواصلات</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه الوان العلم الاردني</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه المرافق العامه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه الوزارات الاردنيه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه صناعه بلدي</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه الاثار في بلده</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه الاجهزة الامنية</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

							</tbody>
						</table>



						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهـــــارات الأكاديميـــة / القراءة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>قراءة كلمات بسيطه من بيئته ( ماما / بابا/ اسمه / المدرسه )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>1</td>
									<td>قراءة صوت  خمس حروف هجائية </td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>1</td>
									<td>قراءة صوت  ثمن حروف هجائية </td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>1</td>
									<td>قراءه الكلمه مع الحرف الهجائي (أ – ب – ت – ث – م –و- ي) في اول الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>1</td>
									<td>قراءه الكلمه مع الحرف الهجائي ( ج – ح – خ  د – ذ- ر –ز ) في اول الكلمه )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>
								<tr>
									<td>1</td>
									<td>قراءه الكلمه مع الحرف الهجائي (س – ش –ص –ض-ط-ظ ق ) في اول الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>1</td>
									<td>قراءه الكلمه مع الحرف الهجائي ( ع / غ /  ف / ك /ل / ه / ن ) في اول الكلمه </td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>











						<div class="pages-numbers">
					<div class="main-body">



						<table>
							<thead>

								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2</td>
									<td>قراءه الكلمه مع الحرف (ا / ب/ ت/ث/م/و/ي ) في وسط الكلمة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>3</td>
									<td>قراءه الكلمه مع الحرف ( ج/ح/خ/د/ذ/ر/ز)في وسط الكلمه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>4</td>
									<td>قراءه الكلمه مع الحرف ( س/ش/ص/ض/ط/ظ/ق) في وسط الكلمه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>قراءه الكلمه مع الحرف ( ع/غ/ف/ك/ل/ه/ن) في وسط الكلمه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>قراءه الكلمه مع الحرف (ا/ب/ت/ث/م/و/ي) في اخر الكلمة</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>قراءه الكلمه مع الحرف ( ج/ح/خ/د/ذ/ر/ز)في اخر الكلمه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>قراءه الكلمه مع الحرف ( س/ش/ص/ض/ط/ظ/ق) في اخر الكلمه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>قراءه الكلمه مع الحرف ( ع/غ/ف/ك/ل/ه/ن) في اخر الكلمه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>قراءة جملة مكونه من كلمتين</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

									<tr>
									<td>5</td>
									<td>قراءة جملة مكونه من ثلاث كلمات</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

									<tr>
									<td>5</td>
									<td>قراءة فقرات مختارة من كتاب صف اول</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

							</tbody>
						</table>


							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهـــــارات الأكاديميـــة / الكتابـــــــه</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>المسك بالقلم بشكل صحيح بالسبابه والابهام</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>2</td>
									<td>رسم خطوط عشوائية</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>3</td>
									<td>التوصيل بين النقاط</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


								<tr>
									<td>4</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ا/ب/ت/ث/م/و/ي)في اول الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>5</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ج/ح/خ/د/ذ/ر/ز) في اول الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>كتابه الحروف الهجائية مع الكلمه (س/ش/ص/ض/ط/ظ/ف) في اول الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ع/غ/ق/ك/ل/ه/ن)في اول الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ا/ب/ت/ث/م/و/ي)في وسط الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ج/ح/خ/د/ذ/ر/ز) في وسط الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>كتابه الحروف الهجائية مع الكلمه (س/ش/ص/ض/ط/ظ/ف) في وسط الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ع/غ/ق/ك/ل/ه/ن)في وسط الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ا/ب/ت/ث/م/و/ي)في اخر الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>






						<div class="pages-numbers">
					<div class="main-body">



						<table>
							<thead>

								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ج/ح/خ/د/ذ/ر/ز) في اخر الكلمه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>3</td>
									<td>كتابه الحروف الهجائية مع الكلمه (س/ش/ص/ض/ط/ظ/ف) في اخر الكلمه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>4</td>
									<td>كتابه الحروف الهجائية مع الكلمه (ع/غ/ق/ك/ل/ه/ن)في اخر الكلمه</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>كتابه كلمه من ثلاث حروف</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>كتابه جمله بسيطه من كلمتين (احب ماما)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>كتابه جمله من اكثر من كلمتين</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>كتابه جمله مكونه من سطرين</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>كتابه كلمات من الذاكره</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
							</tbody>
						</table>


							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهـــــارات الأكاديميـــة / الحســــاب</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>العد بشكل الي من (1-10)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>2</td>
									<td>قراءة قيم الاعداد وكتابتها من (1-9)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>3</td>
									<td>قراءة قيمة العدد (صفر)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>


								<tr>
									<td>4</td>
									<td>قراءة قيمة العدد(10)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>5</td>
									<td>تسمية الأشارات (= / + /-)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>قراءة قيم الاعداد وكتابتها من (11-20)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>قراءة قيم الاعداد وكتابتها من (20-50)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>قراءة قيم الاعداد وكتابتها من (50-70)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>جمع الاعداد البسيطه ضمن العدد (9)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>جمع الاعداد من رقمين بدون حمل ضمن العدد(50)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>جمع الاعداد من رقمين (50) بالحمل</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>قراءة قيم الاعداد حتى العدد (100)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>جمع الاعداد من رقمين بدون حمل ضمن العدد (100)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>جمع الاعداد من رقمين بالحمل ضمن العدد (100)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>جمع الاعداد من ثلاث ارقام بدون حمل حتى العدد (999)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>جمع الاعداد من ثلاث ارقام بالحمل حتى العدد (999)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>طرح الاعداد ضمن العدد (9)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

								<tr>
									<td>6</td>
									<td>طرح الاعداد من رقمين بدون استلاف</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

									<tr>
									<td>6</td>
									<td>طرح الاعداد من رقمين باستلاف</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

									<tr>
									<td>6</td>
									<td>قراءة الاعداد بالمئات </td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

									<tr>
									<td>6</td>
									<td>تسميه مفهوم الاكبر والاصغر ضمن العدد (50)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>

									<tr>
									<td>6</td>
									<td>تسميه مفهوم الاكبر والاصغر ضمن العدد (100)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>
									<tr>
									<td>6</td>
									<td>العد بشكل تصاعدي ضمن العدد (1-9)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>





					<div class="pages-numbers">
					<div class="main-body">



						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">العد بشكل تصاعدي ضمن العدد (1-9)</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>2</td>
									<td>العد بشكل تنازلي ضمن العدد (1-9)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>3</td>
									<td>العد بشكل تصاعدي ضمن العدد (9-20)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>

								</tr>
									<tr>
									<td>4</td>
									<td>العد بشكل تنازلي ضمن العدد (9-20)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>العد بشكل تصاعدي</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>العد بشكل تنازلي</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>

								<tr>
									<td>5</td>
									<td>معرفة جدول الضرب ( جميع الجداول)</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
							</tbody>
						</table>


							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهـــــارات الأكاديميـــة / العلـــــوم</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>تسمية انواع الخضار</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>2</td>
									<td>تسمية انواع الفواكه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>3</td>
									<td>تسميه انواع من الحبوب</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>


								<tr>
									<td>4</td>
									<td>تسميه الحيوانات الاليفه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>5</td>
									<td>تسميه الفائده من الحيوانات الاليفه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه انواع من الحيوانات المفترسه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه انواع من الحشرات</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه انواع من الطيور</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه ماذا يغطي جسم الحيوانات</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه فوائد الماء</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه حالات الماء</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه صفات الماء</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه اجزاء النبات</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه فوائد الكهرباء</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه فوائد الطعام</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه مصادر الضوء </td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه فوائد الشمس</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه صفات الحيوانات</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>


							</tbody>
						</table>
					</div>
				</div>






				<div class="pages-numbers">
					<div class="main-body">



						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">العد بشكل تصاعدي ضمن العدد (1-9)</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>19</td>
									<td>تسميه كيفيه تكاثر الكائنات الحيه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>2</td>

								</tr>
								<tr>
									<td>20</td>
									<td>تسميه اماكن عيش الحيوانات</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									<td>6</td>
									</tr>
							</tbody>
						</table>


							<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">التربيـــــــة الفنيـــــــــــة</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>معرفة ادوات الرسم و الالوان</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>2</td>
									<td>الاستجابه لتعليمات المعلم اثناء التدريب على مهارة التلوين</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>3</td>
									<td>تقليد الحركات المتعلقه بمهارة التلوين</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>


								<tr>
									<td>4</td>
									<td>رسم خطوط عشوائية (حره )باستخدام اقلام التلوين</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>5</td>
									<td>رسم خطوط مستقيمه باستخدام اقلام التلوين</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>رسم خطوط متعرجه باستخدام اقلام التلوين</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تلوين حيزاً مغلقاً بحدود عاديه غير بارزة (دائرة / مربع / سيارة)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تلوين حيزاً مغلقاً بحدود بارزة( محاطه بماده السيلكون)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تلوين شكلاً معيناً حسب نموذج معطى له</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تلوين شكلاً معيناً بدون استخدام النموذج</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>


<tr>
									<td>6</td>
									<td>تقليد الحركات المتعلقة بمهارة التركيب والتشكيل</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

<tr>
									<td>6</td>
									<td>تلوين الورق باستعمال الالوان المائية</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

<tr>
									<td>6</td>
									<td>تلوين ضمن إطار</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

<tr>
									<td>6</td>
									<td>رسم (جسم انسان / بيت / شجرة )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تلوين داخل الحيز ( شجرة / اشكال هندسية )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>تلوين ب اتجاه واحد ( شجرة / اشكال هندسيه )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>

								<tr>
									<td>6</td>
									<td>استخدام الوان خشبيه – مائية – شمعية </td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td>يجب تحديد العدد في الخطه التربوية حسب قدرة الطالب</td>
								</tr>





							</tbody>
						</table>

						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">المهارات الحسيـــــــــه</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>متابعة مصدر الصوت / الضوء</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>2</td>
									<td>تسميه اتجاه مصدر الصوت</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>3</td>
									<td>معرفة الساخن والبارد</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>


								<tr>
									<td>4</td>
									<td>معرفة المبلول والناشف</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>5</td>
									<td>المطابقة من حيث اللمس ناعم وخشن</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>معرفة الحامض والحلو والمالح والمر</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>تسميه الاشياء بعد شمها / تذوقها</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>
							</tbody>
						</table>

						<table>
							<thead>
								<tr>
									<td colspan="6" style="font-weight:bold;text-align:center;padding:15px 0;">مهارات التهيئه المهنيه</td>
								</tr>
								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>معرفه المهن في البيئه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>2</td>
									<td>تصنيف الادوات المهنيه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>3</td>
									<td>استخدام المقص بشكل صحيح</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>


								<tr>
									<td>4</td>
									<td>عمل اشكال من (الصلصال / الطين / الرمل/ المعجون )</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>


							</tbody>
						</table>

					</div>
				</div>



				<div class="pages-numbers">
					<div class="main-body">



							<table>
							<thead>

								<tr>
									<th>الرقم </th>
									<th>المجالات </th>
									<th>   + </th>
									<th>   -   </th>
									<th>المستوي</th>
									<th>الملاحظات</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>طوي الورقه عده طيات (من منتصفها / مثلث/مربع/ مستطيل(</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>2</td>
									<td>استخدام الغراء للصق المواد المختلفه</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>3</td>
									<td>ثقب الورق</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>


								<tr>
									<td>4</td>
									<td>كبس الورق</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>5</td>
									<td>معرفه المتر واستخدامه ( متر،مترين ،نصف متر)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>عمل اشكال فنيه من خلال (برش الصابون ، نجارة الخشب ، قصاص الورق المثقوب)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>نظم الخرز</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>حف قطع من الخشب ، الفخار</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>دهان قطع خشبية</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>دهان جرة فخار</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>


<tr>
									<td>6</td>
									<td>دق مسامير على قطعه خشب باستعمال الشاكوش</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

<tr>
									<td>6</td>
									<td>فك وتركيب براغي باستعمال المفك اليدوي</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

<tr>
									<td>6</td>
									<td>نظم الخيط بالابرة</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

<tr>
									<td>6</td>
									<td>عمل عقدة بالخيط</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>خياطة ازرار (ثنائية / رباعية)</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>

								<tr>
									<td>6</td>
									<td>عمل اشكال فنية باستخدام اللباد والصوف</td>
									<td>10</td>
									<td>6</td>
									<td>6</td>
									<td> </td>
								</tr>



							</tbody>
						</table>




					</div>
				</div>








			</div>
		</div>
  </div>
</template>

<script>
import API from '../../../../jsonfile'
export default {
	asyncData({params}){
		return API.get('performance-reports/'+params.id)
		.then(res => {
			console.log(res.data)
		return {studentData: res.data}
	})
}
}
</script>

<style lang="scss" scoped>
span.api{
	color:crimson;
}
*{
	direction: rtl;
	text-align: right;
}
.pages-numbers{
	border: 1px solid #333;
    padding: 16px;
	position: relative;
	margin-bottom: 20px;
	background: #FFF;
}
.page_number{
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-weight: bold;
}
.behavior-modification-plan{
	padding-top: 20px;
	.logo{
		img{
			width: 100px;
			height: 100px;
		}
	}
	.main-title{
		text-align: center;
		h3{
			display: inline-block;
			border-bottom: 2px solid #333;
			margin-top: 30px;
			padding-bottom: 5px;
		}
	}
	.main-info-groub{
		.row{
			>div{
				    border: 1px solid #333;
			}
		}
		margin-top: 35px;
		h6{
			display: inline-block;
		}
		p{
			display: inline-block;
		}
	}
	.questions-page-two{
		width: 50%;
		margin:20px auto;
		.row{
			>div{
				border: 1px solid #333;
			}
		}
		.table-title{
			margin-top: 25px;
		}
		table{
			width: 100%;
			td{
				border: 1px solid #333;
				font-size: 12px;
			}
			thead{
				td{
					font-weight: bold;
				}
			}
		}
	}

}
.seconde-table{

	table{
		width:100%;
		tr.table-sign{
			td{
				font-weight: bold;
			}
		}
		thead{
			th{
				border: 1px solid #333;
				text-align: center;
			}
		}
		tbody{
		td{
			    border: 1px solid #333;
		}
	}
	}
}
table{
	width: 100%;
	th{
		border:1px solid #333;
	}
	td{
		border:1px solid #333
	}
}



/* media queries */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {
table{
	font-size: 10px;
}
.seconde-table{
	table{
		tr.table-sign{
			td{
				font-size: 9px;
			}
		}
		thead{
			th{
				font-size:10px;
			}
		}
	}
}
table{
	width: 100%;
	font-size: 10px;
}

}
</style>
