<template>
  <div class="dashboard">
	  <div class="container">
		  <div class="stats">
			  <div class="row">
				<div class="col-md-3">
				 	<div class="count-students">
						<h5>عدد الطلاب النشطين</h5>
						<i class="fas fa-user-graduate"></i>
						<span> {{stats.activeStudents}} </span>
					</div>
			  </div>
			  <div class="col-md-3">
					<div class="count-teachers">
						<h5>عدد المعلمين النشطين</h5>
						<i class="fas fa-award"></i>
						<span>{{stats.activeTeachers}}</span>

					</div>

			  </div>
			  <div class="col-md-3">
					<div class="count-reports">
						<h5>عدد المعلمين الغير نشطين</h5>
						<i class="fas fa-chalkboard-teacher"></i>
						<span>{{stats.inActiveTeachers}}</span>

					</div>

			  </div>
			   <div class="col-md-3">
					<div class="count-admins">
						<h5>عدد الطلاب الغير نشطين</h5>
						<i class="fas fa-user-times"></i>
						<span>{{stats.inActiveStudents}}</span>

					</div>

			  </div>
			  <div class="col-md-3">
				  	<div class="count-reports"  style="background-color:#40407a">
						<h5> عدد مستخدمين فعالين</h5>
						<i class="fas fa-bell"></i>
						<span>{{stats.activeUsers}}</span>

					</div>

			  </div>
			  <div class="col-md-3">
				  <div class="count-students">
						<h5>عدد مستخدمين غير فعالين</h5>
						<i class="fas fa-bell-slash"></i>
						<span>{{stats.inActiveUsers}}</span>

					</div>
			  </div>

			  <div class="col-md-3">
				  <div class="count-teachers">
						<h5>عدد تقارير النطق و التواصل</h5>
						<i class="far fa-file-word"></i>
						<span>{{stats.communicationReports}}</span>

					</div>
			  </div>
			  <div class="col-md-3">
				  <div class="count-students">
						<h5>عدد تقارير تقييم الاداء</h5>
						<i class="fas fa-percentage"></i>
						<span>{{stats.performanceReports}}</span>

					</div>
			  </div>
			  <div class="col-md-3">
				  <div class="count-admins">
						<h5>   ..عدد التقارير النمائية</h5>
						<i class="fas fa-brain"></i>

						<span>{{stats.deveplomentReports}}</span>

					</div>
			  </div>
			  <div class="col-md-3">
				  <div class="count-teachers" style="background-color:#218c74">
						<h5>  ...عدد التقارير الشهرية</h5>
						<i class="fas fa-file-alt"></i>
						<span>{{stats.monthReports}}</span>

					</div>
			  </div>
			   <div class="col-md-3">
				  <div class="count-reports" style="background-color:#ff793f">
						<h5>عدد تقارير الخطة الشهرية</h5>
						<i class="fas fa-chess-pawn"></i>
						<span>{{stats.monthPlans}}</span>

					</div>
			  </div>
			   <div class="col-md-3">
				  <div class="count-students" style="background-color:#474787">
						<h5> عدد تقارير العلاج الوظيفي</h5>
						<i class="fas fa-briefcase-medical"></i>
						<span>{{stats.occupationalReports}}</span>

					</div>
			  </div>
			  </div>
		  </div>
	  </div>
  </div>
</template>

<script>
import API from '../jsonfile'
export default {
asyncData(){
	return API.get('statistics').then(res => {
		return {stats : res.data};
	})
}
}
</script>

<style lang="scss" scoped>
.dashboard{
	margin: 45px 0;
	.col-md-3{
		margin: 10px 0;
	}
	.stats{
		padding:25px;
		text-align: right;
		i{
			    font-size: 62px;
    color: rgba(36,36,36,0.41961);
		}
		span{
			    display: inline-block;
    font-size: 43px;
    position: absolute;
    bottom: 35px;
    left: 27px;
    color: rgba(36,36,36,0.41961);
		}
		h5{
			margin-bottom: 20px;
    color: #FFF;
    border-radius: 5px;
		}
		.count-admins{
			background: #DC3545;
   	 		padding: 23px;
				border: 1px solid #DC3545;
    border-radius: 4px;
		}
		.count-reports{
			background-color: #FFC107;
			padding: 23px;
			border: 1px solid #FFC107;
    border-radius: 4px;
		}
		.count-students{
			background-color: #17A2B8;
			padding: 23px;
			border: 1px solid #17A2B8;
    border-radius: 4px;
		}
		.count-teachers{
			background-color: #28A745;
			padding: 23px;
			border: 1px solid 28A745;
    border-radius: 4px;
		}
	}






/* media queries */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

 }

/* Landscape phones and down */
@media (max-width: 480px) {

}
}


</style>
