<template>
 <div class="login">
	 <div class="container">
		 <div class="login-form col-md-3">
					<div class="login-for-avatar">
						<img src="../assets/female-user.png">
					</div>
					<div class="login-inputs">
						<div class="form-groub">
							<input type="text" class="form-control" placeholder="اسم الدخول">
						</div>
						<div class="form-groub">
							<input type="password" class="form-control" placeholder="الرقم السري">
						</div>



						<div class="form-groub">
							<input vlaue="Login" type="submit">
						</div>
					</div>

		 </div>
	 </div>
 </div>
</template>

<script>

import axiosAPI from '../../api/axiosApi'

export default {

}
</script>

<style lang="scss" scoped>
.login-for-avatar{
	 width: 91px;
    top: -50px;
    margin: auto;
    left: 50%;
    background: rgb(67, 62, 54);
    border-radius: 50%;
	img{
		width:100%;
		height: 100%;
	}
}
.login{
	color:#FFF;
	    position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('../assets/banner.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		z-index: 3;
	.login-form{
		    padding: 23px 19px 68px;
		position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    background: rgba(51, 51, 51, .9);
	}
	&::after{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 4;
		background-color: rgba(255, 149, 8, .25);
		content: '';
	}
}

h6{
		display: inline-block;
	}

.form-groub{
	margin: 23px 0 0;
	&:last-of-type{
		margin: 0;
	}
	input[type='submit']{
		    width: 100%;
    padding: 10px;
    background: #f0a708;
    border: 0;
    color: #FFF;
    font-weight: bold;
	    margin-top: 23px;
	}
}

</style>
